﻿<!--<div class="row">-->
	<!--<div class="col-xs-12">-->
	<!--<div class="btn-group pull-right">-->
		<!--<label class="btn" ng-model="visType" btn-radio="'table'" uncheckable><i class="fa fa-list" aria-hidden="true"></i></label>-->
		<!--<label class="btn" ng-model="visType" btn-radio="'user'" uncheckable><i class="fa fa-user" aria-hidden="true"></i></label>-->
	<!--</div>-->
	<!--</div>-->
<!--</div>-->
<table-results
	test="test"
	users="users"
	test-content="testContent"
	ng-if="visType == 'table'"
>
</table-results>
<!--<user-results-->
	<!--test="test"-->
	<!--users="users"-->
	<!--ng-if="visType == 'user'"-->
<!--&gt;-->

<!--</user-results>-->