﻿<div
		ng-init="short = true"
>
	<div class="pull-right">

		<a href="" ng-click="orderGroupsBy('position')">
			по порядку <span class="sortorder" ng-show="groupsFilter.type == 'position'" ng-class="{reverse:groupsFilter.reverse}"></span>
		</a>
		/
		<a href="" ng-click="orderGroupsBy('correct_rate')">
			по правильности <span class="sortorder" ng-show="groupsFilter.type == 'correct_rate'" ng-class="{reverse:groupsFilter.reverse}"></span>
		</a>
	</div>
	<div class="pull-left">
		<a href="" ng-click="short  = !short">
			<div ng-show="short">подробно</div>
			<div ng-show="!short">кратко</div>
		</a>
	</div>

	<br>
	<div ng-if="testContent == null">
		Загрузка данных...
	</div>
	<stream-question-result
		result = "result"
		hide = "short"
		type="test.type"
		ng-repeat="result in results | orderObjectBy:groupsFilter.type:groupsFilter.reverse"
	>
	</stream-question-result>
</div>

<!--<div class="table-responsive">-->
	<!--<div class="panel panel-primary" ng-repeat="result in results | orderObjectBy:'position'">-->
	<!--<div class="panel-heading">-->
		<!--<div>Вопрос #{{result.position}}-->
			<!--{{result.correct_rate*100 | number:0}}% <small>{{result.correct_answers}} из {{result.count}}</small>-->
		<!--</div>-->
	<!--</div>-->
	<!--&lt;!&ndash;<div class="panel-body">&ndash;&gt;-->
	<!--<tabset>-->
		<!--<tab ng-repeat="question in result.questions">-->
			<!--<tab-heading>-->
				<!--<div ng-if="test.type == 0">-->
					<!--Вариант {{$index+1}}-->
				<!--</div>-->
			<!--</tab-heading>-->
			<!--<div class="table-responsive">-->
			<!--<table class="table">-->
				<!--<tr ng-if="test.type == 0">-->
					<!--<td>-->
						<!--<h1>{{question.correct_rate*100 | number:0}}% <small>{{question.correct_answers}} из {{question.count}}</small></h1>-->
					<!--</td>-->
					<!--<td>-->
						<!--<p>правильных ответов</p>-->
					<!--</td>-->
				<!--</tr>-->
				<!--<tr class="active">-->
					<!--<td colspan="2">{{question.question_id}}<div class="responsive-question-content" ng-bind-html="question.text"></div></td>-->
				<!--</tr>-->
				<!--<tr>-->
					<!--<td><b>Процент выбора</b></td>-->
					<!--<td><b>Ответ</b></td>-->
				<!--</tr>-->
				<!--<tr ng-repeat="answer in question.answers | orderObjectBy:'rate':true"-->
					<!--ng-class="-->
					<!--{-->
						<!--'success': test.type == 0 && answer.correct,-->
						<!--'danger': test.type == 0 && !answer.correct,-->
					<!--}"-->
				<!--&gt;-->
					<!--<td><b>{{answer.rate*100 | number:0}}%</b> <small>({{answer.count}}/{{question.count}})</small></td>-->
					<!--<td>{{answer.text}}</td>-->
				<!--</tr>-->
				<!--<tr ng-if="test.type == 1">-->
					<!--<td colspan="2" class="text-right">Всего ответов: <b>{{question.count}}</b></td>-->
				<!--</tr>-->
			<!--</table>-->
			<!--</div>-->
		<!--</tab>-->
	<!--</tabset>-->
	<!--&lt;!&ndash;</div>&ndash;&gt;-->
	<!--</div>-->
<!--</div>-->