<div class="well bg-white">
    <div class="row">
        <!--<div class="col-xs-12 text-right">-->
            <!--правильных-->
        <!--</div>-->
    </div>
    <div class="row">
        <div class="col-xs-9">
            <div class="col-xs-4">

                <h3>
                    <span ng-click="hideQuestion = !hideQuestion" class="pull-left fa" ng-class="{'fa fa-chevron-down': !hideQuestion, 'fa fa-chevron-right': hideQuestion}"></span>
                    <a href="" ng-click="hideQuestion = !hideQuestion" class="">Вопрос #{{result.position}}</a>
                </h3>
            </div>
            <div ng-class="{
                    'col-xs-5': previewImage != null,
                    'col-xs-8': !previewImage
                 }"
            >
                <p class="pull-left" style="text-overflow: ellipsis;" ng-bind-html="getQuestionText(previewQuestion.text)">{{}}</p>
            </div>
            <div class="col-xs-3" ng-if="previewImage != null">
               <p><img class="pull-right" style="width:100%" ng-src="{{previewImage}}"></p>
            </div>
        </div>
        <div class="col-xs-3 text-right">
            <h2>{{result.correct_rate*100 | number:0}}% <small>{{result.correct_answers}} из {{result.count}}</small></h2>
        </div>
    </div>
    <div class="table-responsive" ng-repeat="question in result.questions"
         ng-if="numberOfVars > 1"
         ng-show="!hideQuestion">
        <table class="table" ng-init="image = getQuestionImage(question.text)">
            <tr>Вариант #{{$index+1}}</tr>
            <tr>
                <td><div class="pull-left responsive-question-content" ng-bind-html="getQuestionText(question.text)"></div></td>
                <td ng-if="image"><img class="pull-right" style="width:100%" ng-src="{{image}}"></td>
                <td class="text-right"><b>{{question.correct_rate*100 | number:0}}% </b><small>{{question.correct_answers}} из {{question.count}}</small></td>
            </tr>
            <tr ng-repeat="answer in question.answers | orderObjectBy:'rate':true"
                ng-class="
								{
									'success': type == 0 && answer.correct,
									'danger': type == 0 && !answer.correct,
								}"
            >
                <td>{{answer.text}}</td>
                <td ng-if="image"></td>
                <td class="text-right">{{answer.rate*100 | number:0}}% <small>({{answer.count}}/{{question.count}})</small></td>
            </tr>
        </table>
    </div>
    <div class="table-responsive" ng-repeat="question in result.questions"
         ng-if="numberOfVars == 1"
         ng-show="!hideQuestion">
        <table class="table">
            <tr ng-repeat="answer in question.answers | orderObjectBy:'rate':true"
                ng-class="
								{
									'success': type == 0 && answer.correct,
									'danger': type == 0 && !answer.correct,
								}"
            >
                <td>{{answer.text}}</td>
                <td class="text-right">{{answer.rate*100 | number:0}}% <small>({{answer.count}}/{{question.count}})</small></td>
            </tr>
        </table>
    </div>

    </div>
</div>