<div class="table-responsive">
    <table class="table table-bordered text-center test-result bg-white " >
        <tr>
            <th rowspan="2" ><a href="" ng-click="orderUsersBy('del_reason')">Статус <span class="sortorder" ng-show="userFilter.type == 'del_reason'" ng-class="{reverse:userFilter.reverse}"></span></a></th>
            <th rowspan="2"><a href="" ng-click="orderUsersBy('first_name')">Студент <span class="sortorder" ng-show="userFilter.type == 'first_name'" ng-class="{reverse:userFilter.reverse}"></span></a></th>
            <th rowspan="2" style="width:20%"><a href="" ng-click="orderUsersBy('time')">Время <span class="sortorder" ng-show="userFilter.type == 'time'" ng-class="{reverse:userFilter.reverse}"></span></a></th>
            <th rowspan="2"><a href="" ng-click="orderUsersBy('rate')"><span class="fa fa-star"></span> Рейтинг <span class="sortorder" ng-show="userFilter.type == 'rate'" ng-class="{reverse:userFilter.reverse}"></span></a></th>
            <th colspan="{{numberOfQuestions.length}}"><a href="" ng-click="orderGroupsBy('position')">Вопросы <span class="sortorder" ng-show="groupsFilter.type == 'position'" ng-class="{reverse:groupsFilter.reverse}"></span></a>
        </tr>
        <tr>
            <th ng-repeat="q in numberOfQuestions | orderBy:groupsFilter.type:groupsFilter.reverse" class="text-center">#{{q.position}}</th>
        </tr>
        <tr ng-repeat="user in users | orderBy:userFilter.type:userFilter.reverse">
            <td
                    ng-class="
										{
											'success':user.del_reason == 'finish',
											'warning':user.del_reason == 'left',
											'danger':user.del_reason == 'banned' || user.del_reason == 'stream_close' || user.del_reason == 'room_close',
										}"
            >
                <div ng-if="user.del_reason == 'finish'">завершил</div>
                <div ng-if="user.del_reason == 'stream_close' || user.del_reason == 'room_close'">не завершил</div>
                <div ng-if="user.del_reason == 'banned'">исключен</div>
                <div ng-if="user.del_reason == 'left'">покинул</div>
            </td>
            <td>
                <a href="" ng-click="showQuestion(user.questions, user)">
                    {{user.first_name}} {{user.second_name}}
                </a>
            </td>
            <td>
                {{user.time*10 | date: 'm мин s сек'}}
            </td>
            <td>{{user.rate*100 | number:0}}%</td>
            <td ng-repeat="question in user.questions | orderBy: groupsFilter.type:groupsFilter.reverse"
                class="text-center"
                style="cursor: pointer;"
                ng-class="
											{'success':
												question.question_id && (test.type == 1 ||
												(question.correct_answers == question.all_correct_answers && question.answers.length == question.all_correct_answers)),
											'danger':
												question.question_id && test.type == 0 && question.correct_answers == 0,
											'warning':
												question.question_id && test.type == 0 &&
												(question.type == 1 && !(question.correct_answers == question.all_correct_answers && question.answers.length == question.all_correct_answers))
											}"
                ng-click="showQuestion(question, user)"

            >
                <div ng-if="question.type == 1 && test.type == 0">
                    {{question.correct_answers}}/{{question.all_correct_answers}}
                </div>
                <div ng-if="(question.type == 0 || question.type == 2) && test.type == 0">
                    <span ng-if="question.correct_answers == 1" class="fa fa-check" aria-hidden="true"></span>
                    <span ng-if="question.correct_answers == 0" class="fa fa-minus" aria-hidden="true"></span>
                </div>
                <div ng-if="test.type == 1">
                    <span class="fa fa-check" aria-hidden="true"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3"></td>
            <td>
                <a href="" ng-click="orderGroupsBy('correct_rate.value')"><b>% правильных <span class="sortorder" ng-show="groupsFilter.type == 'correct_rate.value'" ng-class="{reverse:groupsFilter.reverse}"></span></a>
            </td>
            <td class="text-center"
                ng-repeat="res in numberOfQuestions | orderBy:groupsFilter.type:groupsFilter.reverse" ng-show="res.correct_rate">
                <b>{{res.correct_rate.value*100 | number:0}}%</b>
                <!-- <b>{{res.correct/res.all_correct*100 | number: 0}}%</b> -->
            </td>
        </tr>
    </table>
</div>
</div>