<div class="col-xs-6">
    <div class="list-group">
        <a href="" class="list-group-item" ng-repeat="user in users | orderBy:userFilter.type:userFilter.reverse">
            <h4 class="list-group-item-heading">{{user.first_name}} {{user.second_name}}</h4>
            <p class="list-group-item-text">
                время {{user.time*10 | date: 'm мин s сек'}}<br>
                рейтинг {{user.rate}}
            </p>
        </a>
    </div>

<div class="col-xs-6">
    Выберите студента
</div>