<div class="modal-header">
    <h3>Просмотр результатов {{user.first_name}} {{user.second_name}}<i class="fa fa-times queue-item-delete" ng-click="ok()"></i></h3>
</div>
<div ng-if="noAnswers">
    <div class="container-fluid">
        <h3>Нет ответов</h3>
    </div>
</div>
<div ng-repeat="result in results"><!-- RESULTS LOOP -->
    <div ng-if="result.answers.length > 0"><!-- ANSWER EXISTS -->
        <div class="container-fluid">
            <h3>Вопрос {{result.position}}</h3>
            <div class="row">
                <div class="col-xs-12">
                    <div class="well responsive-question-content" ng-bind-html='questions[result.question_id].text'></div>
                </div>
            </div>
        </div>
        <div class="container-fluid" >
            <div class="row">
                <div class=" table-responsive"
                     ng-class="{
                     'col-xs-6': testType == 0,
                     'col-xs-12': testType == 1
                     }"
                >
                    <table class="table">
                        <tr>
                            <th>Ответ пользователя</th>
                        </tr>
                        <tr ng-repeat="answer in result.answers">
                            <td
                                    ng-class="{
                                'info': testType == 1,
                                'success': answer.correct_answer && testType == 0,
                                'danger': !answer.correct_answer && testType == 0,
                            }">
                                <div>
                                    <span ng-if="result.type == 0 || result.type == 1">
                                        {{questions[result.question_id].answers[answer.answer_id].text}}
                                    </span>
                                    <span ng-if="result.type == 2">
                                        {{answer.text}}
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-6 table-responsive" ng-if="!testType">
                    <table class="table">
                        <tr>
                            <th>Ответы на вопрос</th>
                        </tr>
                        <tr ng-repeat="answer in questions[result.question_id].answers">
                            <td ng-class="{
                                'info': testType == 1,
                                'success': (answer.correct || result.type == 2) && testType == 0,
                                'danger': !answer.correct && result.type != 2 && testType == 0,
                            }">
                                {{answer.text}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div><!-- END ANSWERS EXISTS -->
</div> <!-- END RESULTS LOOP -->

