@font-face {
  font-family: 'RobotoMedium';
  src: url('../fonts/Roboto-Medium.eot');
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
  	   url('../fonts/Roboto-Medium.woff') format('woff'),
       url('../fonts/Roboto-Medium.ttf') format('truetype'),
       url('../fonts/Roboto-Medium.svg#Roboto-Regular') format('svg'),
       url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
       url('../fonts/Roboto-Regular.woff') format('woff'),
       url('../fonts/Roboto-Regular.ttf') format('truetype'),
       url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg'),
       url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


body {
	/*min-width: 975px;*/
	font-family: 'Roboto';
	font-size: 14pt;
}
body.lead {
	margin: 0;
}

header {
	position: fixed;
    width: 100%;
    z-index: 10;
	font-family: 'Roboto';
	font-weight: 100;
}

main {
	margin: 0 !important;
    padding-top: 60px;
}
main.presentation
{
	padding-top: 0px;
	z-index: 1000;
}


/*.navbar {*/
	/*margin: 0;*/
	/**padding: 5px 0;*/
	/*position: relative;*/
	/*z-index: 10;*/
	/*width: 100%;*/
	/*top: 0;*/
	/*left: 0;*/
	/*border-radius: 0;*/
	/*height: 60px;*/
	/*border: 0;*/
/*}*/
nav.nav {
	height: 100%;
	display: block;
	padding:0;
	font-size: 12pt;
}

.nav-logo {
padding-right: 3px;
height: 100%;
display: inline-block;
float: left;
}
.nav-logo a {
vertical-align: middle;
padding: 10px 15px;
height: 100%;
display: inline-block;
width: 70px;
padding-left:0
}


/* nav.nav li:first-child {
	
	padding-right: 20px;
}
nav.nav li:first-child a:hover, nav.nav li:first-child a:focus {
background: none;
} */

nav.nav li {
	display: inline-table;
	height: 100%;
}
nav.nav {
	margin: auto;
	*font-weight: bold;
}
nav.nav a {
	color: #ffffff;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}
nav.nav li.active a {
	background-color: #eee;
	color: #555555;
}
nav.nav a:hover, nav.nav a:focus {
	color:#F89B45;
}

.navbar {
	border-radius: 0;
	border: 0;
	min-height: 60px;
	margin-bottom: 0px;
}

.navbar-default .navbar-nav>li>a {
	line-height: 30px;
	height: 60px;
	color: white;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: #F89B45;
	background-color: #eee;
}
.nav>li>a:hover, .nav>li>a:focus {
	text-decoration: none;
	background-color: #eee;
}
.navbar-brand
{
	padding: 10px 10px;
}
.navbar-fixed-top .navbar-collapse
{
	max-height: 100%;
}
.iq {
	font-family:Roboto;
	padding: 6px 13px;
	border-radius: 100%;
	background-color: #ed861d;
	font-size: 16pt;
	color: #fff;
	font-weight: 100;
	text-align: center;
}

#modal-box  .form-field:not(:first-child)  {
	margin-top:15px;
}
#modal-box  .control-label  {
	margin-top:6px;
}
.btn-modal-close {
	border:none;
	float:right;
}

.panel, .min-panel {
	margin:0;
	border: none;
	box-shadow: none;

	border-radius: 0;
}
.panel h2 {
	padding:0 0 35px;
	font-weight: bold;
}
.min-panel {
	padding: 20px 0;
}
main {
	*height: 650px;
	*overflow: hidden;
}
aside.control-bar {
	-moz-transition-duration: 0.7s;
    -moz-transition-property: width;
	-webkit-transition-duration: 0.7s;
    -webkit-transition-property: width;
	-o-transition-duration: 0.7s;
    -o-transition-property: width;
	transition-duration: 0.7s;
    transition-property: width;
    height: 100%;
	max-height: inherit;
	width: 260px !important;
	position: fixed;
	top: 120px;
	background-color: white;
	z-index: 10;
}

aside.control-bar.presentation
{
	top: 0px;
	//z-index: 100;
}

aside.control-bar.minifed {
	width: 60px !important
}

aside.control-bar .queue-item-add .queue-add-shortname {
	display: none;
}
aside.control-bar.minifed .queue-item-add .queue-add-shortname {
	display: block;
}
aside.control-bar.minifed .queue-item-add .queue-add-fullname {
	display: none;
}

aside.control-bar.minifed li span, 
aside.control-bar.minifed .queue-title span,
aside.control-bar.minifed .queue-item {
	/*display: none;*/
}
article {
	background-color: #fff;
    -webkit-transition-duration: 0.7s, 0.5s;
    -webkit-transition-property: margin-left, height;
    -moz-transition-duration: 0.7s, 0.5s;
    -moz-transition-property: margin-left, height;
    -o-transition-duration: 0.7s, 0.5s;
    -o-transition-property: margin-left, height;
	transition-duration: 0.7s, 0.5s;
    transition-property: margin-left, height;
    /*min-height: 650px;*/
    *height: 100%;
	*overflow: auto;
	max-height: inherit;
	margin-left: 0px !important;

}
aside.control-bar.minifed + article {
	margin-left: 0px !important;
}
aside.control-bar.minifed + article .queue-item-bar {
	padding-right: 10px !important;
}
aside.quize, article.quize {
	/*padding-top: 60px;*/
}
.queue-item-bar.quize {
	height: 60px;
}
.quiue-item-sort {
	margin-bottom: 15px;
}
.control-bar-toggler {
	cursor: pointer;
	font-weight: 100;
	font-size: 18pt;
}
.control-bar-toggler.open {
	width: 100%;
	text-align: center;
	display: block;
	float: none;
	margin-left: 0;
}
.queue {
	font-family: 'Roboto';
}
.queue-title {
	font-size: 18pt;
}
.queue-title, .queue-item-bar {
	height: 60px;
	padding: 20px;
}
article .queue-item-bar {
	/*padding-right: 260px;*/
}
.queue-item-bar {
	/*font-size: 16pt;*/
	line-height: 1.1;
	position: fixed;
	width: 100%;
	z-index: 3;
	background-color: #eee;
	border-bottom: 1px solid #8b8b8b;
	font-weight: bold;
	font-family: 'Roboto';
	font-weight: 100;
	-webkit-transition-duration: 0.7s;
    -webkit-transition-property: padding-right;
    -moz-transition-duration: 0.7s;
    -moz-transition-property: padding-right;
    -o-transition-duration: 0.7s;
    -o-transition-property: padding-right;
	transition-duration: 0.7s;
    transition-property: padding-right;
}

article .content {
	padding-top: 80px;
}

article.reports{
	margin-left: 0px !important;
}

.content.presentation
{
	padding-top: 0px;
}

.content-item {
	min-height:200px;
	padding-left: 70px;
}
.presentation-bar {
	width: 100%;
	height: 10%;
	margin-top: 2%;
	text-align: center;
	font-weight: bold;
	font-family: 'Roboto';
	font-weight: 100;
}

.queue-wrapper {
	position:relative;
	margin:0;
	/*padding-bottom:100px;*/
	overflow: auto;
	height: auto;
	max-height: 100%;
	
}
.queue-wrapper.quize {
	padding-bottom: 0px;
}
ul.queue {
	list-style: none;
	margin: 0;
	padding: 0px;
	overflow: auto;
	height: 100%;
	position: relative;
	top: 0;
	width: 100%;
}
ul.queue li {
	width: 100%;
	background-color: #eeeeee;
	min-height: 50px;
}
ul.queue li.active {
	background-color: #aad406;
}

.queue-wrapper.quize .queue li.active {
	color: #555;
}
.queue-wrapper.quize .queue li.active .queue-quize-title {
	color: #fff;
}
.user-item
{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.control-bar-item {
	padding: 20px 10px;
	/* border-bottom: 1px solid #8b8b8b; */
	border-right: 1px solid #8b8b8b;
	margin: 0;
}

.queue-item {
	padding: 20px 10px;
	border-bottom: 1px solid #8b8b8b;
	margin: 0;
}
.queue-item-type {
	font-weight: bold;
	font-size: 12pt;
	padding-bottom:20px;
	margin-right: 35px;

}
.queue-item-title {
	font-weight: bold;
	font-size: 12pt;
	padding-bottom:10px;
}
.queue-item-desc {
	font-size: 10pt;
	margin-bottom: 10px;
}
.queue-item-delete {
	float: right;
	color:#555555;
	cursor: pointer;
	padding: 5px;
	margin-top: -5px;
}
.queue-item-delete:hover {
	float: right;
	color:#F89B45;
	cursor: pointer;
	padding: 5px;
	margin-top: -5px;
}
.queue-item-move {
	color:#555555;
}
.queue-item-move:hover {
	color:#F89B45;
}

.queue-item-status {
	font-size: 8pt;
	font-weight: 100;
}
.queue-item-add {
	cursor: pointer;
	border-bottom: 1px solid #8b8b8b;
	border-top: 1px solid #8b8b8b;
	padding: 7px;
	font-size: 13pt;
}
.quiz-image-wrapper img, .quize-opt-image img {
	width: 100%;
}
.quize-opt-image img {
   max-width: 100%;
}
.quize-opt-image {
   /*max-width: 200px;*/
	width: 100%;
   margin: auto;
}

/** HOVER for TEST EDITOR */

.hover-item {
	position: relative;
	cursor: pointer;
	overflow: hidden;
}
.hover-item .info {
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	opacity: 1;
	visibility: visible;
	z-index: 1;
	color: #eee;
	transition: all 0.35s ease-in-out 0s;
}
.hover-item .info .title {
	text-align: center;
	padding: 7px;
	top: 20%;
	position: absolute;
	width: 100%;
	opacity: 1;
	color: #33435c;
	transition: all 0.35s ease-in-out 0s;
}
.hover-item .info .desc {
	text-align: center;
	padding: 7px;
	top: 30%;
	position: absolute;
	width: 100%;
	opacity: 0;
	transition: all 0.35s ease-in-out 0s;
}
.hover-item:hover .info {
	visibility: visible;
	opacity: 1;
	background-color: rgba(0,0,0,0.22);
}
.hover-item:hover .info .title {
	top: 20%;
	opacity: 0;
}
.hover-item:hover .info .desc {
	top: 30%;
	opacity: 1;
}
.hover-item-menu {
	position: absolute;
	bottom: 0;
	opacity: 0;
	text-align: center;
	background: rgba(0,0,0,0.60);
	width: 100%;
	font-size: 75%;
	transition: all 0.35s ease-in-out 0s;
}
.hover-item-menu a {
	color: #bbb;
	display: block;
	padding: 4px 8px;
	text-decoration: none;
	transition: all 0.35s ease-in-out 0s;
}
.hover-item-menu > div:not(:first-child) a {
	border-top: 1px solid #777;
}
.hover-item:hover .hover-item-menu {
	bottom: 0;
	opacity: 1;
}
.hover-item-menu a:hover {
	color: #fff;
}
.hover-item-menu .delete
{
	background-color: rgba(130,0,0,0.6);
}

.quize-opt-desc textarea {
	min-height: 200px;
}
.queue-quize {
	clear: both;
}
.queue-quize-title {
	padding-bottom: 25px;
}

.queue-quize-desc
{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.quize-opt-answer {
	margin-bottom: 15px;
}
.quize-opt-type-title {
	padding-right: 25px;
}
.quize-opt-answer-right {
	width: 40px;
	float: left;
}
.quize-opt-answer-desc {
	padding-left: 40px;
}
i[data-control] {
	cursor: pointer;
}

input[type=radio].radio-type-run-test {
	display: none;
}
input[type=radio].radio-type-run-test + label.iq-forms {
	line-height: 1.42857;
	background-color: #999;
	color: #fff;
}
input[type=radio].radio-type-run-test:checked + label.iq-forms {
	background-color: #aad406;
	color: #33435c;
}

input[type=radio].radio-quize-sort {
	display: none;
}
input[type=radio].radio-quize-sort + label.iq-forms {
	padding: 8px 12px;
	background-color: #f4f4f4;
	border-radius: 4px;
	font-family: 'Roboto';
	font-size: 10pt;
}


input[type=radio].radio-quize-sort:checked + label.iq-forms {
	box-shadow: none;
	position: relative;
	z-index: 1;
	*padding: 14px 18px;
	border: 8px solid #aad406;
	border-radius: 0;
}


.type-run-test {
	padding: 8px 12px 20px;
	border: 1px solid #555;
	margin-bottom: 10px;
	width:100%;
}
.type-run-test.active {
	background-color: #aad406;
}
.type-run-test-desc {
	margin-top: 20px;
}
.params-run-test {
	border: 1px solid #555;
	height: 100%;
	padding: 8px 12px 38px;
}
.params-run-test .min-panel {
	padding-bottom: 0;
}

.table-responsive {
	max-width: 100%;
	overflow-x: auto;
	overflow-y: visible;
}
table.test-result.text-center th, table.test-result.text-center td{
	text-align: center;
	vertical-align: middle;
}

ul.run-test-settings {
	list-style: none;
}
ul.run-test-settings li {
	display: table-cell;
    height: 100%;
    position: relative;
    padding: 10px;
    vertical-align: top;
    width: 50%;
}

/* ANSWER */
.answer-delete {
	color:#555555;
	//cursor: pointer;
}
.answer-delete:hover {
	color:#F89B45;
}


/* FULLSCREEN */
:-webkit-full-screen
{
	width: 100%;
	height: 100%;
}

:-moz-full-screen
{
	background-color: white;
}


/* FILESYSTEM */
aside.fs-bar {
	width: 290px;
	background: #eee;
	padding: 20px;
	height: 100%;
	z-index: 2;
	position: fixed;
	right: 0;
}
article.fs {
	margin: 0 290px 0 0;
	margin-left: 0 !important;
	padding: 30px;
}
.fs-top-bar {
	*margin: 20px 0;
}
.fs-structure {
	margin-top: 20px;
}
.fs-s-item {
	background: #eee;
	padding: 0px 15px;
	margin:32px 16px;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
	position: relative;
	overflow: hidden;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
}
.fs-s-item-wrapper
{

}
.fs-s-item.active
{
	background: #aad406;
	/*color: white;*/
}
/*.fs-s-item.active {*/
	/*border:10px solid #aad406;*/
	/*margin: 22px 6px;*/
/*}*/
.fs-s-directory {
	padding:25px 25px 25px 85px;
}
.fs-s-directory:before {
	position: absolute;
	width: 50px;
	height: 100%;
	left: 15px;
	top: 0;
	content: "";
	background: url(../media/icons/fs/folder.svg) no-repeat;
	background-position: center;
	background-size: 45px;
	padding: 15px 0;
}
.fs-s-file {
	/**height: 250px;*/
	/*padding-bottom: 60px;*/
}
.fs-s-file-type,
.fs-s-file-name,
.fs-s-file-length {
	overflow: hidden;
}
.fs-s-file-type {
	height: 40px;
}
.fs-s-file-name {
	height: 110px;
}
.fs-s-file-length {
	height: 40px;
}
.fs-s-file-open {
	border: none;
	border-radius: 0;
	width: 100%;
	position:absolute;
	left: 0;
	bottom: 0;
}

.fs-notification
{
	z-index:10;
	position:fixed;
	width:60%;
	top:80px;
	right:30%;
}



/*
* font
*/

.font-roboto-regular {
	font-family: 'Roboto';
}
.font-roboto-medium {
	font-family: 'RobotoMedium';
}
.font-arial {
	font-family: 'Arial';
}


.answer-animation.ng-enter.ng-enter-active
{ 
    -webkit-animation: enter 600ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    animation: enter 600ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
	display: block;
    position: relative;
} 
@-webkit-keyframes enter {
	from {
	    opacity: 0;
    	height: 0px;
    	bottom: -70px;
    }
    75% {
    	bottom: 15px;
    }
    to {
        opacity: 1;
    	height: 30px;
    	bottom: 0px;
    }
}
@keyframes enter {
	from {
	    opacity: 0;
    	height: 0px;
    	bottom: -70px;
    }
    75% {
    	bottom: 15px;
    }
    to {
        opacity: 1;
    	height: 30px;
    	bottom: 0px;
    }
}

.answer-animation.ng-leave { 
    -webkit-animation: leave 600ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    animation: leave 600ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
	display: block;
    position: relative;
} 
@-webkit-keyframes leave {
	to {
	    opacity: 0;
    	height: 0px;
    	bottom: -70px;
    }
    25% {
    	bottom: 15px;
    }
    from {
        opacity: 1;
    	height: 30px;
    	bottom: 0px;
    }
}
@keyframes leave {
	to {
	    opacity: 0;
    	height: 0px;
    	bottom: -70px;
    }
    25% {
    	bottom: 15px;
    }
    from {
        opacity: 1;
    	height: 30px;
    	bottom: 0px;
    }
}

.fs-notification-animation.ng-enter.ng-enter-active
{
	-webkit-animation: enter 600ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
	animation: enter 600ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
	display: block;
	position: relative;
}
.fs-notification-animation.ng-leave {
	-webkit-animation: leave 600ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
	animation: leave 600ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
	display: block;
	position: relative;
}

html
{
	height: 100%;
	min-height: 100%;
}

body, main {
	height: 100%;
}
article {
	min-height: 100%;
	height: auto;
}


.test-scroll
{
	width: 300px;
	height: 500px;
	overflow: auto;
	margin: auto;
}

#queue-list {
	overflow:hidden;
}

#queue-list:hover {
	overflow:auto;
}



/* ROOM QUEUE TABS*/
.queue-tab .nav-tabs{
	border: none;

}
.queue-tab .nav-tabs > li {
	color: orange;
	background-color: #eee;
	border-top: 13px solid #eee;
}
.queue-tab .nav-tabs > li > a {
	color: #ed861d;
	border: none;
}
.queue-tab .nav-tabs > li > a:hover {
	color: #ef661a;
}
.queue-tab .nav-tabs > li.active
{
	border: none;
}

.queue-tab .nav-tabs > li.active > a,
.queue-tab .nav-tabs > li.active > a:hover,
.queue-tab .nav-tabs > li.active > a:focus {
	color: white;
	background-color: #33435c;
	border: none;
	margin-bottom: 0;
}

/* LESSONS REPORTS*/

.report-desc p {
	margin-bottom: 0;
}
.report-date {
	padding-top: 30px;
}
.report-detail {
	margin-top: 50px;
}
.report-detail > .table-responsive {
	height: 350px;
}

.bg-yellow {
	background-color: #FFF32D;
}
.bg-red {
	background-color: #FF543A;
}

/* ngDraggable */
[ng-drop]{
	display: block;
	position: relative;
	z-index: 2;
}
[ng-drag]{
	display: inline-block;
}
[ng-drag].dragging
{
	opacity: 0;
}
[ng-drop].drag-enter {
	border: solid 5px #ef661a;
}

/*image loader modal*/
.img-preview
{
	width:25%;
}

/* welcome screen */
.welcome-screen
{
	z-index: 1000;
}

/* TUTORIAL WIDGET*/
.tutorial-widget
{
	width: 50px;
	height: 40px;
	position: fixed;
	background-color: #aad406;
	bottom: 0px;
	right: 0px;
	text-align: center;
	vertical-align: middle;
	z-index: 3;
	cursor: pointer;
	border-radius: 15px 0px 0px 0px;
}
.tutorial-widget:hover
{
	color: white;
}

.signin-box
{
	/*height: 407px;*/
	/*width: 543px;*/
	/*padding-top: 27px;*/
	/*padding-bottom: 27px;*/
	padding-left: 30px;
	padding-right: 30px;
	background-color: rgba(235,235,240,1);
	border-radius: 0px;
}
.signin-form  label
{
	color: rgba(85,85,85,1);
}

.signin-social-btns
{

}
.signin-submit-btn
{
	padding-left: 7%;
	padding-right: 7%;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
}

.signup-submit-btn
{
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
}
/* social signin */

.wauth_auth {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
