
/*
* bootstrap override
*/

.btn {
	font-family: 'Roboto';
}
.btn-primary  {
	background-color: #ed861d;
	border:none;

}
.btn-primary:hover {
	background-color: #ef661a;
}

.btn-flat
{
	border-radius: 0px;
}

/*a*/
/*{*/
	/*color:#ed861d;*/
/*}*/
/*a:hover, a:focus*/
/*{*/
	/*color: #ef661a;*/
/*}*/
/*a:active*/
/*{*/
	/*color: #ef661a;*/
/*}*/
/*.btn-primary:active:hover, .btn-primary.active:hover, .open>.dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open>.dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open>.dropdown-toggle.btn-primary.focus*/

.btn.btn-primary:focus,
.btn-primary:active, .btn-primary:focus, .btn-primary:hover:active, .btn-primary:active:focus
input[type=button].btn.btn-primary:focus,
input[type=submit].btn.btn-primary:focus,
input[type=button].btn.btn-primary:active,
input[type=submit].btn.btn-primary:active,
.open>.dropdown-toggle.btn-primary:hover,
.open>.dropdown-toggle.btn-primary:active,
.open>.dropdown-toggle.btn-primary:focus
{
	background: #ef661a;
	border: none;
	/*outline: none;*/

}
/* убираем обводки с кликабельных элментов*/
a:active, a:focus, button:active, button:focus {
	outline: none !important;
}
button::-moz-focus-inner {
	border: 0 !important;
}

/*
* forms
*/


.iq-forms {
	display: inline-block;
    font-family: FontAwesome;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
    padding-right: 7px;
}
.iq-forms:before {
	font-family: FontAwesome !important;
}
label.iq-forms {
	cursor: pointer;
}
input[type=checkbox].iq-checkbox {
	display: none;
}
input[type=checkbox].iq-checkbox + label:before  {
	content: "";
	margin-right: 7px;
}
input[type=checkbox].iq-checkbox:checked + label:before  {
	content: "";
	color: #aad406;
}

input[type=radio].radio-quize-type {
	display: none;
}
input[type=radio].radio-quize-type + label.iq-forms {
	padding: 6px;
	color: #428bca;
	text-decoration: underline;
}

input[type=radio].radio-quize-type:checked + label.iq-forms {
	border:1px solid #aad406;
	border-radius: 3px;
	padding: 5px;
}

/*
interactive elements
*/

.interactive-element,.interactive-element:focus {

	color:#555555;
	cursor: pointer;
	padding: 5px;
	margin-top: -5px;
	text-decoration: none;
}
.interactive-element:hover{

	color:#F89B45;
	cursor: pointer;
	padding: 5px;
	margin-top: -5px;
	text-decoration: none;
}

/*
* colors
*/

.bg-orange {
	background-color: #ed861d;
}
.bg-orange-75 {
	background-color: rgba(237,134,29,0.75);
}
.text-orange {
	color: #ed861d;
}
.bg-dark-blue {
	background-color: #33435c;
}
.text-dark-blue {
	color: #33435c;
}
.bg-space-gray {
	background-color: #eee;
}
.bg-space-gray-75 {
	background-color: rgba(234,234,234,0.75);
}
.bg-space-orange {
	background-color: #ed861d;
}
.text-space-gray {
	color: #eee;
}
.bg-dark-gray {
	background-color: #555;
}
.text-dark-gray {
	color: #555;
}
.bg-green {
	background-color: #aad406;
}
.bg-green-75{
	background-color: rgba(170,212,6,0.75);
}
.text-green {
	color: #aad406;
}
.bg-white {
	background-color: #fff;
}
.text-white {
	color: #fff;
}




/*
* topography
*/
.text-sm {
	font-size: 10pt;
}
.text-xs {
	font-size: 8pt;
}
.text-md {
	font-size: 12pt;
}
.text-lg {
	font-size: 14pt;
}
.text-xl {
	font-size: 16pt;
}
.text-xxl {
	font-size: 18pt;
}



/*
* other helpers
*/
.full-height {
	height: 100%
}
.valign-middle {
	vertical-align: middle;
}
.block-inline {
	display: inline-block;
}


.full-width {
	width: 100%
}

label.iq-forms {
-moz-user-select: none;
-webkit-user-select: none;
-o-user-select: none;
user-select: none;
}


.responsive-question-content img
{
	display: block;
	max-width: 100%;
	height: auto;
}

/*@media (min-width:1500px) {*/
	/*.col-xl-3 {*/
		/*width: 25%;*/
	/*}*/
/*}*/

@media (min-width: 1500px) {
	.col-xl-1 {
		float: left;
		width: 8.333333%;
	}
	.col-xl-2 {
		float: left;
		width: 16.666667%;
	}
	.col-xl-3 {
		float: left;
		width: 25%;
	}
	.col-xl-4 {
		float: left;
		width: 33.333333%;
	}
	.col-xl-5 {
		float: left;
		width: 41.666667%;
	}
	.col-xl-6 {
		float: left;
		width: 50%;
	}
	.col-xl-7 {
		float: left;
		width: 58.333333%;
	}
	.col-xl-8 {
		float: left;
		width: 66.666667%;
	}
	.col-xl-9 {
		float: left;
		width: 75%;
	}
	.col-xl-10 {
		float: left;
		width: 83.333333%;
	}
	.col-xl-11 {
		float: left;
		width: 91.666667%;
	}
	.col-xl-12 {
		float: left;
		width: 100%;
	}
	.pull-xl-0 {
		right: auto;
	}
	.pull-xl-1 {
		right: 8.333333%;
	}
	.pull-xl-2 {
		right: 16.666667%;
	}
	.pull-xl-3 {
		right: 25%;
	}
	.pull-xl-4 {
		right: 33.333333%;
	}
	.pull-xl-5 {
		right: 41.666667%;
	}
	.pull-xl-6 {
		right: 50%;
	}
	.pull-xl-7 {
		right: 58.333333%;
	}
	.pull-xl-8 {
		right: 66.666667%;
	}
	.pull-xl-9 {
		right: 75%;
	}
	.pull-xl-10 {
		right: 83.333333%;
	}
	.pull-xl-11 {
		right: 91.666667%;
	}
	.pull-xl-12 {
		right: 100%;
	}
	.push-xl-0 {
		left: auto;
	}
	.push-xl-1 {
		left: 8.333333%;
	}
	.push-xl-2 {
		left: 16.666667%;
	}
	.push-xl-3 {
		left: 25%;
	}
	.push-xl-4 {
		left: 33.333333%;
	}
	.push-xl-5 {
		left: 41.666667%;
	}
	.push-xl-6 {
		left: 50%;
	}
	.push-xl-7 {
		left: 58.333333%;
	}
	.push-xl-8 {
		left: 66.666667%;
	}
	.push-xl-9 {
		left: 75%;
	}
	.push-xl-10 {
		left: 83.333333%;
	}
	.push-xl-11 {
		left: 91.666667%;
	}
	.push-xl-12 {
		left: 100%;
	}
	.offset-xl-0 {
		margin-left: 0%;
	}
	.offset-xl-1 {
		margin-left: 8.333333%;
	}
	.offset-xl-2 {
		margin-left: 16.666667%;
	}
	.offset-xl-3 {
		margin-left: 25%;
	}
	.offset-xl-4 {
		margin-left: 33.333333%;
	}
	.offset-xl-5 {
		margin-left: 41.666667%;
	}
	.offset-xl-6 {
		margin-left: 50%;
	}
	.offset-xl-7 {
		margin-left: 58.333333%;
	}
	.offset-xl-8 {
		margin-left: 66.666667%;
	}
	.offset-xl-9 {
		margin-left: 75%;
	}
	.offset-xl-10 {
		margin-left: 83.333333%;
	}
	.offset-xl-11 {
		margin-left: 91.666667%;
	}
}

/*for bootstrap elements*/

.gutter-0.row {
  margin-right: 0;
  margin-left: 0;
}
.gutter-0 > [class^="col-"], .gutter-0 > [class^=" col-"]{
  padding-right: 0;
  padding-left: 0;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
	z-index: 2;
	color: #555;
	background-color: #aad406;
	border-color: #aad406;
}

/* social signin */
.social-flat-btn {
	/*padding: 7px 16px 8px;*/
	margin: 0;
	font-size: 12.5px;
	display: inline-block;
	zoom: 1;
	cursor: pointer;
	white-space: nowrap;
	outline: none;
	/*font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;*/
	font-family: 'Roboto';
	vertical-align: top;
	line-height: 40px;
	text-align: left;
	text-decoration: none;
	background: none;
	border: 0;
	border-radius: 3px;
	box-sizing: border-box;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	min-width: 40px;
	min-height: 40px;
	/*width: 155px;*/
	/*height:40px;*/
}

.social-btn-logo
{
	margin-left: 5px;
}
.social-btn-text
{
	padding-left: 10%;
	text-align:center;
}

.social-btn-vk
{
	background-color: rgba(77,118,165,1);
	color: #fff;
}
.social-btn-vk:hover, .social-btn-vk:focus {
	background-color: #6888ad;
	text-decoration: none;
	color: #fff;
}
.social-btn-google
{
	background-color: rgba(255,255,255,1);
	color: rgba(155,155,155,1);
}
.social-btn-google:hover, .social-btn-google:focus {
	text-decoration: none;
	color: rgba(155,155,155,1);
	-webkit-box-shadow: 0 0 3px 3px rgba(66,133,244,.3);
	box-shadow: 0 0 3px 3px rgba(66,133,244,.3);
}
.social-btn-facebook
{
	background-color: rgba(59,87,157,1);
	color: #fff;
}
.social-btn-facebook:hover, .social-btn-facebook:focus
{
	text-decoration: none;
	color: #fff;
	background: linear-gradient(#5b7bd5, #4864b1);
	border-bottom-color: #365899;
	border-left-color: #4961a8;
	border-right-color: #4961a8;
	border-top-color: #5874c3;
	box-shadow: inset 0 1px 0 #607fd6;
}

.noselect
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.overflowed-text
{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}