@font-face {
	font-family: 'Impact';
	src: url('../fonts/ImpactRegular.eot');
	src: url('../fonts/ImpactRegular.eot') format('embedded-opentype'),
	url('../fonts/ImpactRegular.woff2') format('woff2'),
	url('../fonts/ImpactRegular.woff') format('woff'),
	url('../fonts/ImpactRegular.ttf') format('truetype'),
	url('../fonts/ImpactRegular.svg#ImpactRegular') format('svg');
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.eot');
	src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
	url('../fonts/Roboto-Regular.woff') format('woff'),
	url('../fonts/Roboto-Regular.ttf') format('truetype'),
	url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg'),
	url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}


/*
* iq
*/


header {
	font-family: 'Impact';
}

body {
	font-family: 'Roboto';
}

html, body, main {
	height: 100%;
}

main {
	margin-top: -65px;
	padding-top: 65px;
}

.navbar {
	margin: 0;
	padding: 15px 0;
	position: relative;
	z-index: 10;
	width: 100%;
	top: 0;
	left: 0;
	border-radius: 0;
	height: 65px;
	border: 0;
}
nav.nav {
	height: 100%;
	display: block;
	padding:0;
	font-size: 12pt;
}
nav.nav li:first-child {
	padding-left: 20px;
	padding-right: 20px;
}
nav.nav li {
	display: inline-table;
	height: 100%;
}
nav.nav {
	margin: auto;
	*font-weight: bold;
}
nav.nav a {
	color: #ffffff;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}
nav.nav li.active a {
	background-color: #eee;
	color: #555555;
}
nav.nav a:hover, nav.nav a:focus {
	color:#F89B45;
}


.iq {
	font-family:Roboto;
	padding: 6px 13px;
	border-radius: 100%;
	background-color: #ed861d;
	font-size: 16pt;
	color: #fff;
	font-weight: 100;
	text-align: center;
}

#modal-box  .form-field:not(:first-child)  {
	margin-top:15px;
}
#modal-box  .control-label  {
	margin-top:6px;
}
.btn-modal-close {
	border:none;
	float:right;
}

/*.panel,*/ .min-panel {
	margin:0;
	border: none;
	box-shadow: none;
	padding: 55px 0;
	border-radius: 0;
}
/*.panel {*/
	/*margin: 25px 10px;*/
	/*border-radius: 5px;*/
/*}*/
/*.panel h2 {*/
	/*padding:0 0 35px;*/
	/*font-weight: bold;*/
/*}*/
.min-panel {
	padding: 20px 0;
}
.auth {
	float: none;
}
.auth-form {
	display: table;
	padding-bottom: 30px;
	width: 100%;
}
.auth-form > div {
	display: table-cell;
	vertical-align: middle;
}
.auth-submit {
	margin-top: 25px;
}


.nav-logo {
	padding-right: 0px;
	height: 100%;
	display: inline-block;
	float: left;
	margin-top: -4px;
}
.nav-logo a {
	vertical-align: middle;
	padding-top: 0px;
	height: 100%;
	display: inline-block;
	width: 70px;
	padding-left:0
}


/* bootstrap override */

button.list-group-item, button.list-group-item:focus
{
	background-color: #eee;
	color: #33435c;
}


.list-group-item.active, .list-group-item.active:focus {
	z-index: 2;
	color: #ffffff;
	background-color: #999;
	border-color: #999;
}

/* progess bar*/
.progress
{
	border-radius: 0px;
}