<alert ng-if="room.status && !room.connected && !banned" type="danger">
	<div ng-if="reconnectState == null">Потеряна связь с сервером. <a href="" ng-click="reconnect()">Восстановить?</a></div>
	<div ng-if="reconnectState == 'failed'">Восстановить не получилось. <a href="" ng-click="reconnect()">Повторить?</a></div>
	<div ng-if="reconnectState == 'reconnecting'">Восстановление...</div>
</alert>
<div class="container-fluid" >
	<div class="row">
	<div class="col-lg-8 col-lg-offset-2
		col-md-8 col-md-offset-2
		col-xs-12">
	<div ng-if='room.status == true && !banned'>
		<div class="text-center" ng-if="testState.state == null">
			<h2>Ожидание следующего теста</h2>
			<br>
			<i class="fa fa-spinner fa-pulse fa-5x"></i>
		</div>
		<!-- <div ng-if="testState.state == 'ready'">
				<h2 ng-if="testState.type == 0">Тест "{{name}}"</h2>
				<h2 ng-if="testState.type == 1">Опрос "{{name}}"</h2>
				<button ng-click="startTest()">Начать</button>
		</div> -->
		<div class="jumbotron" ng-if="testState.state == 'ready'">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12"><h1 ng-if="testState.type == 0">Тест</h1><h1 ng-if="testState.type == 1">Опрос</h1></div>
				</div>
				<div class="row">
					<div class="col-xs-12"><h2>{{name}}</div></h2>
				</div>
				
				<!-- <div class="text-right">
					<button class="btn btn-primary btn-lg"
						ng-class="{'disabled': !room.connected || waitForAnswer,
								
						}"
						ng-click="startTest()"
						role="button">
						Начать
						<i class="fa fa-spinner fa-pulse" ng-if="waitForAnswer"></i>
						</button>
				</div -->
			</div>
		</div>
		
		<div ng-if="testState.state == 'finish'">
			<div ng-if="timeIsUp">
				<h2>Время вышло!</h2>
			</div>
			<div><h2 class="text-center page-header" ng-if="testState.type == 0">Тест окончен <small>Ожидание следующего...</small></h2>
			<h2 class="text-center page-header" ng-if="testState.type == 1">Опрос окончен <small>Ожидание следующего...</small></h2></div>
			<div ng-if="!ending && !viewQuestionResult" class="text-center"><i class="fa fa-spinner fa-pulse fa-5x"></i></div>
			<div ng-if="ending">
				<div class="row">
					<div class="col-xs-12 text-right">
					<span ng-repeat="rate in resultStars track by $index">
						<span ng-if="rate.star" class="fa fa-star fa-2x"></span>
						<span ng-if="rate.halfStar" class="fa fa-star-half-o fa-2x"></span>
						<span ng-if="!rate" class="fa fa-star-o fa-2x"></span>
					</span>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6"><h3>Время выполнения</h3></div>
					<div class="col-xs-6 text-right"><h2>{{submitResults.time*10 | date:'m мин s сек'}}</h2></div>
				</div>
				<div class="panel panel-default" ng-repeat="question in submitResults.questions">
					<div class="panel-heading">
						Вопрос #{{$index+1}}
					</div>
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-12">
								<div class="responsive-question-content" ng-bind-html="question.text"></div>
							</div>
						</div>
						<div class="row" ng-if="room.showResults && testState.type == 0">
							<div class="col-xs-6">
								<h3>Правильно</h3>
							</div>
							<div class="col-xs-6 text-right">
								<h3>{{question.correct_answers}}/{{question.all_correct_answers}}</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6"><h3>Время</h3></div>
							<!-- <div class="col-xs-6 text-right"><h3>{{question.answer_time*100 | date: 's,sss'}} сек</h3></div> -->
							<div class="col-xs-6 text-right"><h3>{{question.answer_time*10 | date: 'm мин s,sss сек'}}</h3></div>
						</div>
						<div class="row">
								<div class="col-xs-12">
									<h3 ng-if="!room.showResults || testState.type == 1">Ваши ответы</h3>
									<h3 ng-if="room.showResults && testState.type == 0">Ответы</h3>
									<ul class="list-group">
													<li class="list-group-item"
														ng-repeat="answer in question.answers | orderBy:'correct':false"
														ng-class="
														{
															'list-group-item-success': testState.type === 0 && answer.correct !== false && room.showResults,
															'list-group-item-danger': testState.type === 0 && answer.correct === false && room.showResults,
															'list-group-item-info': testState.type === 1,
														}"
													>
													<span class="fa fa-check" ng-if="testState.type === 0 && answer.correct === true"></span>
													<span class="fa fa-remove" ng-if="testState.type === 0 && answer.correct === false"></span>
													{{answer.text}}
													</li>
									</ul>
								</div>
						</div>
					</div>
				</div>
				<!-- 
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-6"><h3>Время выполнения</h3></div>
						<div class="col-xs-6 text-right"><h2>{{testState.timer}}</h2></div>
					</div>
					<div class="row" ng-repeat="question in submitResults.questions">
						<div class="col-xs-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3>#{{$index+1}} {{question.text}}</h3>
								</div>
								<div class="container-fluid">
									<div class="row">
										<div class="col-xs-6">Время</div>
										<div class="col-xs-6">{{question.answer_time}}</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div> -->
			</div>
		</div>
		<!-- <div class="row" ng-if="testState.state == 'finish' && room.showResults && viewQuestionResult">
						<div class="col-xs-12 text-right"><button type="button" class="btn btn-primary btn-lg"
							ng-click="showEnding()"
						>
							К результатам <span class="fa fa-chevron-right" aria-hidden="true"></span>
						</button></div>
		</div> -->
		<br>
		<div ng-if="testState.state == 'active' || testState.state == 'finish'">
			<div class="panel panel-default" ng-if="viewQuestionResult == true"
						ng-class="
						{
							'panel-info': !room.showResults,
							'panel-success': postviewState == 'excellent',
							'panel-danger': postviewState == 'bad',
							'panel-warning': postviewState == 'good',
						}"
			>
				<div class="panel-heading">
					<h3 class="panel-title" ng-if="testState.type == 1 || !room.showResults">Ответ получен</h3>
					<div class="panel-title text-right" ng-if="testState.type == 0 && room.showResults">
						<h3 ng-if="postviewState == 'excellent'">
							<b>Правильно</b> <!-- <i class="fa fa-check fa-3x"></i>--><i class="fa fa-check fa-3x"></i>
						</h3>
						<h1 ng-if="postviewState == 'bad'">
							Неправильно
						</h1>
						<h1 ng-if="postviewState == 'good'">
							Почти...
						</h1>
					</div>
				</div>
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-6">
							<h3>Время на ответ</h3>
						</div>
						<div class="col-xs-6 text-right">
							<!-- <h2>{{testState.answerTimer*10 | date:'m мин s сек, ms'}} сек</h2> -->
							<h2>{{testState.answerTimer*10 | date:'m мин s,sss сек'}}</h2>
						</div>
					</div>
					<div class="row" ng-if="room.showResults">
						<div class="col-xs-6">
							<h3>Правильных</h3>
						</div>
						<div class="col-xs-6 text-right">
							<h2>{{submitResults.correct_answers}}/{{submitResults.all_correct_answers}}</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<h3>Ваш ответ</h3>
							<ul class="list-group">
								<li class="list-group-item"
									ng-class="{
										'list-group-item-success': room.showResults && answer.correct,
										'list-group-item-danger': room.showResults && !answer.correct,
									}"
									ng-repeat="answer in postviewAnswers">
									{{answer.text}}
								</li>
							</ul>
						</div>
					</div>
					<div class="row" ng-if="room.showResults">
						<div class="col-xs-12">
							<h3>Правильные ответы</h3>
							<ul class="list-group">
								<li class="list-group-item list-group-item-success"
									ng-repeat="answer in submitResults.answers"
								>
								{{answer.text}}
								</li>
							</ul>
						</div>
					</div>
					<!-- <div class="row">
						<div class="col-xs-12 text-right">
							<button type="button" class="btn btn-primary btn-lg"
								ng-if="testState.state == 'active'"
								ng-click="nextQuestion()"
								ng-class="{'disabled': !room.connected || waitForNext}"
							>
								Далее 
								<span ng-if="!waitForNext" class="fa fa-chevron-right" aria-hidden="true"></span>
								<span ng-if="waitForNext" class="fa fa-spinner fa-pulse" aria-hidden="true"></span>
							</button>
									<!-- <a href='' ng-click='submitAnswer()'>Далее <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a> -->
					<!--	</div>
					</div> -->
					<br>
				</div>
			</div>
		</div>
		
		<div ng-if="testState.state == 'active'">
	
			<div class="panel panel-default" ng-if="viewQuestionResult == false">
					<div class="panel-heading">
						<h3 class="panel-title">Вопрос #{{testState.current}}</h3>
					</div>
					<div class="container-fluid">
						<div class="row">
							<div class='col-xs-12'>
								<br>
								<div class='well responsive-question-content' ng-bind-html='question.text'>
								</div>
								<h3><small ng-if="question.type == 0">(только один ответ)</small></h3>
								<h3><small ng-if="question.type == 1">(более одного ответа)</small></h3>
								
								<div ng-if="question.type == 2">
									<input type="text" class="form-control" placeholder="Ваш ответ" ng-model="answer.text"></input>
								</div>
								<!-- <div class="btn-group"> -->
								<div ng-if="question.type == 0 || question.type == 1">
									<div class="container-fluid">
										<div class="row">
											<div ng-repeat="ans in question.answers">
											
											<!-- btn btn-default btn-lg -->
													<button class="list-group-item" 
														ng-if='question.type == 1'
														ng-model="tmpAnswers[ans.answer_id]"
														btn-checkbox
														btn-checkbox-true="true" btn-checkbox-false="false">
														{{ans.text}}
													</button>
													
													<button class="list-group-item"
														ng-if='question.type == 0'
														ng-model="answer.answer_id"
														btn-radio="ans.answer_id"
													>
														{{ans.text}}
													</button>
											</div>
										</div>
									</div>
								</div>
								<!-- </div> -->
							</div>
						</div>
						<br>
						<!-- <div class="row">
							<div class="col-xs-12 text-right">
								<button type="button" class="btn btn-primary btn-lg"
									ng-class="{'disabled': !room.connected || waitForAnswer
									}"
									ng-click="submitAnswer()"
								>
									<div ng-if="!waitForAnswer">Далее <span class="fa fa-chevron-right" aria-hidden="true"></span></div>
									<div ng-if="waitForAnswer"><i class="fa fa-spinner fa-pulse"></i></div>
								</button>
							</div>
						</div> -->
						<br>
					</div>
			</div>
		</div>
	</div>

		<div ng-if="testState.state == 'cancel'">
			<h2>Тест отменен преподавателем</h2>
		</div>

	<div ng-if='banned == true'>
		<h2>Вы исключены из комнаты</h2>
	</div>
	<div ng-if='room.status == false'>
		<h2>Комната закрыта</h2>
	</div>
</div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="row" ng-if="testState.state == 'active'">
							<div class="col-xs-12 text-right">
								<button type="button" class="btn btn-primary btn-lg"
									ng-class="{'disabled': !room.connected || waitForAnswer
									}"
									ng-click="submitAnswer()"
								>
									<div ng-if="!waitForAnswer">Далее <span class="fa fa-chevron-right" aria-hidden="true"></span></div>
									<div ng-if="waitForAnswer"><i class="fa fa-spinner fa-pulse"></i></div>
								</button>
							</div>
						</div>
  <div class="row" ng-if="testState.state == 'ready'">
	  <div class="col-xs-12 text-right">
						<button class="btn btn-primary btn-lg"
							ng-class="{'disabled': !room.connected || waitForAnswer,
									
							}"
							ng-click="startTest()"
							role="button">
							Начать
							<span class="fa fa-chevron-right" aria-hidden="true"></span>
							<i class="fa fa-spinner fa-pulse" ng-if="waitForAnswer"></i>
							</button>
					</div>
  </div>
  <div class="row" ng-if="testState.state == 'finish' && room.showResults && viewQuestionResult">
						<div class="col-xs-12 text-right"><button type="button" class="btn btn-primary btn-lg"
							ng-click="showEnding()"
						>
							К результатам <span class="fa fa-chevron-right" aria-hidden="true"></span>
						</button></div>
	</div>
  </div>
</nav>

</div>
<!--	</div>
	</div>
</div> -->