<div class="container-fluid" >
	<div class="row">
	<div class="col-lg-8 col-lg-offset-2
		col-md-8 col-md-offset-2
		col-xs-12">
	<div ng-if='room.status == true && !banned'>
		<div ng-if="testState.sessionId == null">
			<h2>Идет инициализация, пожалуйста подождите</h2>
		</div>
		<!-- <div ng-if="testState.state == 'ready'">
				<h2 ng-if="testState.type == 0">Тест "{{name}}"</h2>
				<h2 ng-if="testState.type == 1">Опрос "{{name}}"</h2>
				<button ng-click="startTest()">Начать</button>
		</div> -->
		<div class="jumbotron" ng-if="testState.state == 'ready'">
			<h1 ng-if="testState.type == 0">Тест</h1>
			<h1 ng-if="testState.type == 1">Опрос</h1>
			<h2>{{name}}</h2>
			<div class="text-right"><button class="btn btn-primary btn-lg" ng-click="startTest()" role="button">Начать</button></div>
		</div>
		<div ng-if="testState.state == 'active'">
			<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Вопрос #{{testState.current+1}}</h3>
					</div>
					<div class="container-fluid">
						<div class="row">
							<div class='col-xs-12'>
								<br>
								<div class='well' ng-bind-html='question.text'>
								</div>
								<h3><small ng-if="question.type == 1">(один и более ответов)</small></h3>
								
								<div ng-if="question.type == 2">
									<input type="text" class="form-control" placeholder="Ваш ответ" ng-model="answer.text"></input>
								</div>
								<!-- <div class="btn-group"> -->
								<div ng-if="question.type == 0 || question.type == 1">
									<div class="container-fluid">
										<div class="row">
											<div ng-repeat="ans in question.answers"
												ng-class = "{
													'col-xs-3': answerViewType == 'numeric',
													'col-md-2': answerViewType == 'numeric',
													'col-lg-1': answerViewType == 'numeric',
													'col-xs-6': answerViewType == 'binary',
													'col-xs-offset-0': answerViewType == 'binary',
													'text-left': answerViewType == 'binary' && $index == 0,
													'text-right': answerViewType == 'binary' && $index == 1,
												}"
												>
											
											<!-- btn btn-default btn-lg -->
													<button class="list-group-item" 
														ng-if='question.type == 1 && answerViewType == "text"'
														ng-model="tmpAnswers[ans.answer_id]"
														btn-checkbox
														btn-checkbox-true="true" btn-checkbox-false="false">
														{{ans.text}}
													</button>
													<button class="btn btn-default btn-lg"
														ng-if='question.type == 1 && answerViewType == "numeric"'
														ng-model="tmpAnswers[ans.answer_id]"
														btn-checkbox
														btn-checkbox-true="true" btn-checkbox-false="false">
														{{ans.text}}
													</button>
													<button class="btn btn-default btn-lg btn-block"
														ng-if='question.type == 0'
														ng-model="answer.answer_id"
														btn-radio="ans.answer_id"
													>
														{{ans.text}}
													</button>
											</div>
										</div>
									</div>
								</div>
								<!-- </div> -->
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-xs-12 text-right">
								<!-- <button type="button" class="btn btn-primary" ng-click="submitAnswer()">Ответить</button> -->
								<a href='' ng-click='submitAnswer()'>Далее <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
							</div>
						</div>
						<br>
					</div>
			</div>
		</div>
	</div>

		<div ng-if="testState.state == 'finished'">
			<h2 ng-if="testState.type == 0">Тест окончен</h2>
			<h2 ng-if="testState.type == 1">Опрос окончен</h2>
		</div>
		<div ng-if="testState.state == 'cancelled'">
			<h2>Тест отменен преподавателем</h2>
		</div>

	<div ng-if='banned == true'>
		<h2>Вы исключены из комнаты</h2>
	</div>
	<div ng-if='room.status == false'>
		<h2>Комната закрыта</h2>
	</div>
</div>
</div>
</div>
<!--	</div>
	</div>
</div> -->