<div ng-show="visType == 'list'" style="padding-top: 10px; width: 90%">
	<div class="pull-right">

		<a href="" ng-click="orderGroupsBy('position')">
			по порядку <span class="sortorder" ng-show="groupsFilter.type == 'position'" ng-class="{reverse:groupsFilter.reverse}"></span>
		</a>
		/
		<a href="" ng-click="orderGroupsBy('correct_rate')">
			по правильности <span class="sortorder" ng-show="groupsFilter.type == 'correct_rate'" ng-class="{reverse:groupsFilter.reverse}"></span>
		</a>
	</div>
	<br><br>
	<!--<div ng-repeat="group in currentResults">-->
		<!--<div ng-repeat="question in group.questions">-->
			<!--{{question.text}} - {{question.correct_rate}}-->
		<!--</div>-->
	<!--</div>-->
	<stream-question-result
			result = "result"
			hide = "true"
			type="testType"
			ng-repeat="result in currentResults | orderObjectBy:groupsFilter.type:groupsFilter.reverse"
	>
	</stream-question-result>
</div>
<div ng-if="visType == 'chart'">
<div ng-repeat="(q_key, question) in currentResults[currentQuestion].questions" ng-if="$index == varQuestion || currentResults[currentQuestion].vars == 1 ">
	<div class="font-roboto-medium col-xs-9" ng-init="image = getImage(question.text)">
		<div class="row">
			<div class="col-xs-1 text-left" ng-if="(!questionState || testState == 'finish')">
					<i class="fa fa-angle-left text-xxl" ng-if="questions > 1" ng-click="prevQuestion()" data-control="queue-prev" style="font-size:60pt;" aria-hidden="true"></i>
			</div>
			<div class="col-xs-10" style="font-size:18pt;" id="question-element" em-height-source>
				<div >
					<div ng-class="{
						'col-xs-6': image,
						'col-xs-12': !image
						}" >
						<div class="quize-number">Вопрос <span class="text-orange">#{{currentQuestion}}:</span>
							<small dropdown on-toggle="toggled(open)"
							ng-if="currentResults[currentQuestion].vars > 1">
								<a href id="simple-dropdown" dropdown-toggle>
									варианты <span class="fa fa-caret-down"></span>
								</a>
								<ul class="dropdown-menu" aria-labelledby="simple-dropdown">
									<li ng-repeat="(q_key, question) in currentResults[currentQuestion].questions"
										ng-class="{
										   	'active': varQuestion == $index,
										   }"
									>
										<a href ng-click="changeVar($index)">
											вариант {{$index+1}}
										</a>
									</li>
								</ul>
							</small>
						</div>
						<div ng-bind-html="getText(question.text)" id="question-text-element" ></div>
					</div>
					<div class="col-xs-6" ng-if="image"><img id="question-image-element" ng-src="{{image}}" class="quize-opt-image"></img></div>
				</div>
				<!--<div ng-if="!getImage(question.text)">-->
					<!--<div class="col-xs-12" >-->
						<!--<div class="quize-number">Вопрос <span class="text-orange">#{{currentQuestion}}:</span></div>-->
						<!--<div ng-bind-html="getText(question.text)"></div>-->
					<!--</div>-->
				<!--</div>-->
			</div>
			<div class="col-xs-1 text-right" ng-if="(!questionState || testState == 'finish')">
					<i class="fa fa-angle-right text-xxl" ng-if="questions > 1" ng-click="nextQuestion()" data-control="queue-next" style="font-size:60pt;" aria-hidden="true"></i>
			</div>
		</div>
	</div>
	<!-- COUNT OF ANSWERS -->
	<div class="" style="position:absolute;top: 0; right:10px; z-index:1; ">
		<div class="text-right"  >
			<p class="font-roboto-medium" style="font-size:20pt;">{{question.count}}/{{usersOnline}}</p>
			<p>
				<input id="show-answers" type="checkbox" class="iq-forms iq-checkbox" ng-model="config.showResults" ng-true-value="true" ng-false-value="false">
				<label class="iq-forms text-md font-arial" for="show-answers">показать ответы</label>
			</p>
		</div>
	</div>
	<div class="font-roboto-medium col-xs-12" style="min-height:200px">
		<div class="col-xs-12">
			<!-- Question Results -->
			<div class="row" >
				<!-- BAR -->
				<div ng-if="question.type != 2" class="" style="font-size:12pt;"><nvd3 options="options" data="data[question.question_id]" config="config" id="question-bar-element" class="ng-isolate-scope" ></nvd3></div>
				<!-- Table -->
				<div ng-if="question.type == 2" class="col-xs-offset-1 my-repeat-animation" id="open-answer-list" style="overflow: auto;">
					<table class="table" >
						<tr ng-repeat="answer in question.answers | orderObjectBy:'rate':true"
							ng-class="
							{
								'bg-green-75': config.showResults && testType == 0 && answer.correct,
								'bg-orange-75': config.showResults && testType == 0 && !answer.correct,
								'bg-space-gray-75': !config.showResults,
							}"
							ng-if="answer.count > 0"
							class="answer-animation"
						>
							<td>
								<div ng-if="config.showResults">{{answer.text}}</div>
								<div ng-if="!config.showResults">...</div>
							</td>
							<td class="text-right"><b>{{answer.rate*100 | number:0}}%</b> <small>({{answer.count}}/{{question.count}})</small></td>
						</tr>
					</table>
				</div>

			</div>
			<!-- Question Results End -->
		</div>
	</div>
	<!-- <div class="content-item-rightbar col-xs-3">
		
		<div class="clearfix"></div>
		<div class="min-panel text-right" style="margin-top:95px;" >
			<p class="font-roboto-medium text-orange" style="font-size:20pt;">Дано ответов</p>
			<p class="font-roboto-medium" style="font-size:20pt;">{{question.count}}</p>
			<p>
				<input id="show-answers" type="checkbox" class="iq-forms iq-checkbox" ng-model="config.showResults" ng-true-value="true" ng-false-value="false">
				<label class="iq-forms text-md font-arial" for="show-answers">показывать ответы</label>
			</p>
		</div>
		
	</div> -->
</div>
</div>