<div ng-repeat="question in currentResults[currentQuestion].questions">
	
	<div class="content-item font-roboto-medium col-xs-9">
		<div class="row">
		<div class="col-xs-1 text-left">
				<i class="fa fa-angle-left text-xxl" ng-click="prevQuestion()" data-control="queue-prev" style="font-size:60pt;" aria-hidden="true"></i>
		</div>
		<div class="min-panel col-xs-10" style="font-size:20pt;">
			<div class="quize-number">Вопрос <span class="text-orange">#{{currentQuestion}}:</span></div>
			<div class="quize responsive-question-content" ng-bind-html="question.text"></div>
			
		</div>
		<div class="col-xs-1 text-right">
				<i class="fa fa-angle-right text-xxl" ng-click="nextQuestion()" data-control="queue-next" style="font-size:60pt;" aria-hidden="true"></i>
		</div>
		</div>
		<!-- Question Results -->
		<div class="row">
			<!-- BAR -->
			<div ng-if="question.type != 2" class=""><nvd3 options="options" data="data" config="config" style="ng-isolate-scope"></nvd3></div>
			<!-- Table -->
			<div ng-if="question.type == 2" class="col-xs-offset-1 my-repeat-animation">
				<table class="table" >
					<tr ng-repeat="answer in question.answers | orderObjectBy:'rate':true"
						ng-class="
						{
							'bg-green-75': config.showResults && testType == 0 && answer.correct,
							'bg-orange-75': config.showResults && testType == 0 && !answer.correct,
							'bg-space-gray-75': !config.showResults,
						}"
						ng-if="answer.count > 0"
						class="answer-animation"
					>
						<td>
							<div ng-if="config.showResults">{{answer.text}}</div>
							<div ng-if="!config.showResults">...</div>
						</td>
						<td class="text-right"><b>{{answer.rate*100 | number:0}}%</b> <small>({{answer.count}}/{{question.count}})</small></td>
					</tr>
				</table>
			</div>
			
		</div>
		<!-- Question Results End -->
		
	</div>
	<div class="content-item-rightbar col-xs-3">
		
		<div class="clearfix"></div>
		<div class="min-panel text-right" style="margin-top:95px;" >
			<p class="font-roboto-medium text-orange" style="font-size:20pt;">Дано ответов</p>
			<p class="font-roboto-medium" style="font-size:20pt;">{{question.count}}</p>
			<p>
				<input id="show-answers" type="checkbox" class="iq-forms iq-checkbox" ng-model="config.showResults" ng-true-value="true" ng-false-value="false">
				<label class="iq-forms text-md font-arial" for="show-answers">показывать ответы</label>
			</p>
		</div>
		
	</div>
</div>