<div class="table-responsive">
	<table class="table" ng-repeat="result in results">
		<tr class="active">
		<th><p>#{{$index+1}}</p></th>
		<th><div ng-bind-html="result.text"></div></th>
		<th></th>
		<th class="text-right"><p><span class="badge">{{result.count}}</span></p></div>
		</tr>
		<tr ng-repeat="answer in result.answers | orderObjectBy:'count':true"
			ng-class="
			{'success': answer.count > 0 && $index == 0
			}"
		>
			<td>#{{$index+1}}</td>
			<td>{{answer.text}}</td>
			<td class="text-right"><span class="badge">{{answer.count}}</td>
			<td class="text-right">{{answer.count/result.count*100 | number:2}}%</td>
		</tr>
	</table>
</div>