﻿<div class="content-item col-xs-9" style="margin-top:0px;">
<div class="clearfix"></div>
	<!-- <div >
	<table>
		<tr>
			<td>
				<div class="table table-bordered text-center">
				<table>
					<tr ng-repeat="user in users | orderObjectBy:userFilter.type:userFilter.reverse">
						<td
							ng-class="
							{
								'warning': user.del_reason == 'left',
							}"
						>{{user.first_name}} {{user.second_name}} <small ng-if="user.del_reason == 'left'">(покинул)</small></td>
						<td>{{user.rate}}</td>
					</tr>
				</table>
				</div>
			</td>
			<td>
				<div class="test-result table table-bordered text-center table-responsive">
					<table>
						<tr ng-repeat="user in users | orderObjectBy:userFilter.type:userFilter.reverse">
							<td ng-repeat='result in testResults[user.workingUser_id] | orderBy: groupsFilter.type:groupsFilter.reverse'
								class="text-center"
								ng-class="
									{'success': 
										result.question_id && (testType == 1 || 
										(result.correct_answers == result.all_correct_answers && result.answers.length == result.all_correct_answers)),
									'danger': 
										result.question_id && testType == 0 && result.correct_answers == 0,
									'warning': 
										result.question_id && testType == 0 &&
										(result.type == 1 && !(result.correct_answers == result.all_correct_answers && result.answers.length == result.all_correct_answers))
									}"
								ng-click="onResultClick(result, user)"
							>
									<div ng-if="result.type == 1 && testType == 0">
									{{result.answers.length}}/{{result.all_correct_answers}}
								</div>
								<div ng-if="(result.type == 0 || result.type == 2) && testType == 0">
									<span ng-if="result.correct_answers == 1" class="fa fa-check" aria-hidden="true"></span>
									<span ng-if="result.correct_answers == 0" class="fa fa-minus" aria-hidden="true"></span>
								</div>
								<div ng-if="testType == 1">
									<span class="fa fa-check" aria-hidden="true"></span>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
	</table>
	</div> -->
	<div class="table-responsive" >
		<table class="table table-bordered text-center test-result" >
			
			<thead>
				<th>
					<a href="" class="" ng-click="orderUsersBy('first_name')">Имя <span class="sortorder" ng-show="userFilter.type == 'first_name'" ng-class="{reverse:userFilter.reverse}"></span></a>
					<input ng-model="$ctrl.userQuery" />
				</th>
				<th><a href="" class="" ng-click="orderUsersBy('rate')"> рейтинг <span class="sortorder text-center" ng-show="userFilter.type == 'rate'" ng-class="{reverse:userFilter.reverse}"></span></a></th>
				<th ng-repeat='q in numberOfQuestions | orderBy:groupsFilter.type:groupsFilter.reverse' class="text-center">#{{q.position}}</th>
			</thead>
			<tr ng-repeat="user in users | orderObjectBy:userFilter.type:userFilter.reverse | filter:$ctrl.userQuery">
				
				<td
					ng-class="
					{
						'warning': user.del_reason == 'left',
					}"
				><div class="text-left" ng-if="settings.showNames">{{user.first_name}} {{user.second_name}}</div><div ng-if="!settings.showNames">...</div><small ng-if="user.del_reason == 'left'">(покинул)</small></td>
				<td><div ng-show="user.rate != null">{{user.rate*100 | number:0}}%</div></td>
				<td ng-repeat='result in results[user.workingUser_id] | orderBy: groupsFilter.type:groupsFilter.reverse'
					class="text-center"
					style="cursor:pointer;"
					ng-class="
						{'success': 
							settings.showResults && result.question_id && (testType == 1 || 
							(result.correct_answers == result.all_correct_answers && result.answers.length == result.all_correct_answers)),
						'danger': 
							settings.showResults && result.question_id && testType == 0 && result.correct_answers == 0,
						'warning': 
							settings.showResults && result.question_id && testType == 0 &&
							(result.type == 1 && !(result.correct_answers == result.all_correct_answers && result.answers.length == result.all_correct_answers)),
						'info':
							!settings.showResults
						}"
					ng-click="onResultClick(result, user)"
				>
					<div ng-if="settings.showResults && result.type == 1 && testType == 0">
						{{result.answers.length}}/{{result.all_correct_answers}}
					</div>
					<div ng-if="settings.showResults && (result.type == 0 || result.type == 2) && testType == 0">
						<span ng-if="result.correct_answers == 1" class="fa fa-check" aria-hidden="true"></span>
						<span ng-if="result.correct_answers == 0" class="fa fa-minus" aria-hidden="true"></span>
					</div>
					<div ng-if="testType == 1">
						<span class="fa fa-check" aria-hidden="true"></span>
					</div>
				</td>
			</tr>
			<tr>
				<td rowspan="2" colspan="2" >
					<a href="" class="" ng-click="orderGroupsBy('correct_rate.value')"><b>% правильных <span class="sortorder" ng-show="groupsFilter.type == 'correct_rate.value'" ng-class="{reverse:groupsFilter.reverse}"></span></a>
				</td>
				<td
					ng-repeat="res in numberOfQuestions | orderBy:groupsFilter.type:groupsFilter.reverse">
					<b ng-show="res.correct_rate">{{res.correct_rate.value*100 | number:0}}%</b>
				</td>
			</tr>
		</table>
	</div>
	
</div>
<div class="content-item-rightbar col-xs-3">
	<div class="clearfix"></div>
		<div class="min-panel text-right"  >
			<p>
				<input id="show-names" type="checkbox" class="iq-forms iq-checkbox" ng-model="settings.showNames">
				<label class="iq-forms text-md font-arial" for="show-names">показать имена</label>
			</p>
			<p>
				<input id="show-answers" type="checkbox" class="iq-forms iq-checkbox" ng-model="settings.showResults" >
				<label class="iq-forms text-md font-arial" for="show-answers">показать ответы</label>
			</p>
		</div>
</div>