<div class="modal-header">
    <h3 ng-switch="currentPage">
        <i class="text-right fa fa-times queue-item-delete" ng-click="nextPage()"></i>
        <div ng-switch-when="welcomeMessage">Добро пожаловать в InstaQuiz!</div>
        <div ng-switch-when="basicConcept">Принцип работы</div>
        <div ng-switch-when="lessonCreation">Создание урока</div>
        <div ng-switch-when="lessonCreated">Создание урока</div>
        <div ng-switch-when="testCreation">Создание теста или опроса</div>
        <div ng-switch-when="startTest">Запуск теста</div>
        <div ng-switch-when="activeTest">Просмотр результатов теста</div>
        <div ng-switch-when="answeredQuestion">Просмотр результатов теста</div>
        <div ng-switch-when="lessonResults1">Список прошедших уроков</div>
        <div ng-switch-when="lessonResults2">Просмотр результатов урока</div>
        <div ng-switch-when="gotoFs">Просмотр результатов урока</div>
        <div ng-switch-when="finishMessage">Поздравляем!</div>
    </h3>
</div>
<div class="modal-body" ng-switch="currentPage" ng-if="!tryCancel">
    <div ng-switch-when="welcomeMessage">
        <p>Рады приветствовать Вас и благодарим за проявленый интерес!<br>
            Сейчас мы рассмотрим основной функционал InstaQuiz, выполняя серии коротких заданий.<br>
            Всплывающие подсказки можно повторно просмотреть нажав на вопрос в правом нижнем углу.<br>
        </p>
        <p>
            Вы можете пропустить туториал нажав кнопку "завершить".<br>
        </p>
        <p><b>Для продолжения нажмите кнопку "Далее".</b></p>
    </div>
    <div ng-switch-when="basicConcept">
        <p>InstaQuiz позволяет проводить тесты и блиц-опросы прямо
            во время занятий, используя мобильные устройства Ваших студентов.
            Как именно это происходит?
        <ol>
            <li>Каждому уроку в InstaQuiz присваивается уникальный 4-ех значный код доступа,
                необходимый для подключения студентов.
            </li>
            <li>Студенты вводят этот код по адресу <a href="http://inqz.ru">inqz.ru</a> и подключаются к Вашему уроку.</li>
            <li>Вы добавляете в урок тесты или блиц-опросы которые хотите провести и активируете их в нужное время на занятии.</li>
        </ol>
        <!-- какая-то картинка нужна для иллюстрации -->
        </p>
        <p>
            InstaQuiz позволяет визуализировать результаты студентов в режиме реального времени.
            Используя проектор эти результаты можно продемонстрировать классу, например, для обсуждения
            получившихся результатов.
            <img> <!-- пример --><br>
            Кроме того, результаты всех проведенных Вами уроков, тестов и опросов сохраняются и доступны в любое время.
        </p>
    </div>
    <div ng-switch-when="lessonCreation">
        <p>
            В разделе "Мои уроки" можно создать новый урок или посмотреть результаты прошедших.<br>
            Проведение тестов или опросов возможно только в рамках текущего урока.
            Для того чтобы создать урок нажмите кнопку "Начать", введите тему урока и,
            при желании, описание.<br>
        </p>
        <p>
            <b>Нажмите кнопку "Начать" для того чтобы создать свой первый урок.</b>
        </p>
    </div>
    <div ng-switch-when="lessonCreated">
        <p>
            Урок создан!<br>
            Настройки доступа к уроку можно указать кликнув по кнопке
                <button class="btn btn-default"><i class="fa fa-cog" title="настройки доступа"></i></button><br>
            При необходимости, урок можно закрыть для подключения новых пользователей кнопкой
                <button class="btn btn-default"><i class="fa fa-lock"></i></button><br>
            "Очередь" слева используется для проведения тестов или опросов.<br>
        </p>
        <p>
            <b>Нажмите кнопку "Добавить" и добавьте тест или опрос в очередь.<br></b>
        </p>
    </div>
    <div ng-switch-when="startTest">
        <p>
            Запустить тест или опрос из очереди можно по нажатию на кнопку "Начать"<br>
            Проведение теста или опроса возможно в двух режимах:
        <ul>
            <li>В <b>асинхронном режиме</b> студенты проходят тесты или опрос каждый в своем темпе.
            </li>
            <li>В <b>синхронном режиме</b> преподаватель сам управляет ходом теста или опроса, т.е. управляет переходами между вопросами.</li>
        </ul>
        </p>
        <p>
            <b>Запустите тест или опрос в любом из режимов нажав кнопку "Начать"</b>
        </p>
    </div>
    <div ng-switch-when="activeTest">
        <p>
            Тест запущен!<br>
            По умолчанию результаты визуализируются гистограммами ответов по каждому вопросу.<br>
            Однако можно отобразить результаты как списком всех вопросов сразу, так и таблицей ответов студентов.<img><br>
        </p>
        <p>
            Уже сейчас Вы можете посмотреть как работает InstaQuiz.<br>
            Для этого перейдите по короткой ссылке
            <a href="" target="_blank">inqz.ru</a>, например с Вашего мобильного устройства и введите 4-ех значный код урока.
            Как только Вы ответите на первый вопрос теста, гистограммы автоматически обновятся.
        </p>
        <p>
            <b>Перейдите по ссылке <a href="" target="_blank">inqz.ru</a>, введите код урока и ответьте на первый вопрос теста</b>
        </p>
    </div>
    <div ng-switch-when="answeredQuestion">
        <p>
            Если у Вас есть проектор, то полученные результаты можно удобно вывести для всего класса.
            Для этого нажмите кнопку включения "режима презентации".
                <button class="btn btn-default"><i class="fa fa-television" aria-hidden="true"></i></button><br>
        </p>
        <p>
            Кстати, InstaQuiz позволяет работать одновременно с несколькими устройствами!
            Вы можете запустить урок в режиме презентации на компьютере или ноутбуке,
            а управлять ходом урока при помощи, например, планшета.<br>
        </p>
        <p>
            <b>Завершите текущий урок и перейдите в раздел "Мои уроки" для просмотра результатов.</b>
        </p>
    </div>
    <div ng-switch-when="lessonResults1">
        <p>
            Результаты всех проведенных уроков сохраняются и доступны в любой момент
            в таблице "Прошедшие уроки".<br>
        </p>
        <p>
            <b>Нажмите на один из прошедших уроков для просмотра результатов</b>
        </p>
    </div>
    <div ng-switch-when="lessonResults2">
        <p>
            Здесь можно посмотреть прошедшие на уроке тесты или опросы.<br>
            Результаты можно посмотреть как "по вопросам", так и "по студентам".<br>
            Посмотреть ответы конкретного студента можно кликнув на соответствующую ячейку таблицы
            в режиме демонстрации "по студентам".<br>
            Вы можете также отсортировать результаты по различным критериям.
        </p>
        <p>
            <b>Просмотрите результаты прошедшего урока</b>
        </p>
    </div>
    <div ng-switch-when="gotoFs">
        <p>
            Теперь попробуем создать новый тест или опрос.<br>
        </p>
        <p>
            <b>Перейдите в раздел "Мои тесты".</b>
        </p>
    </div>
    <div ng-switch-when="fs">
        <p>
            Раздел "Мои тесты" содержит созданные Вами тесты или опросы,
            которые можно каталогизировать используя директории.<br>
            Cоздать новый тест или опрос можно выбрав соответствующий пункт в выпадающем списке "Создать".<br>
        </p>
        <p>
            <b>Создайте новый тест</b>
        </p>
    </div>
    <div ng-switch-when="testCreation">
        <p>
            В левой части редактора представлен список вопросов, а в правой - инструменты для редактирования вопроса<br>
            К каждому вопросу можно прикрепить изображение.<br>
            В тестах возможно создание нескольких вариантов одного вопроса.
            Например, если задача вычислительная, но исходные данные должны быть разными.<br>
            При необходимости можно задать лимит времени на выполнение теста, а также перемешать вопросы.<br>
        </p>
        <p>
            <b>Создайте пару вопросов и сохраните тест.</b>
        </p>
    </div>
    <div ng-switch-when="finishMessage">
        <p>
            Мы разобрали основные функции InstaQuiz!<br>
            Вы всегда можете пройти этот туториал еще раз из раздела "Помощь".<br>
            Там же Вы можете задать появившиеся вопросы, оставить замечания и пожелания.
        </p>
        <p>
            <b>Желаем Вам успехов!</b>
        </p>
    </div>

</div>
<div class="modal-body" ng-if="tryCancel">
    <p>
        Отменить прохождение туториала?
        Вы всегда сможете вернуться к нему в разделе "Помощь"
    </p>
</div>
<div class="modal-footer">
    <div ng-if="!tryCancel">
        <button class="btn btn-default pull-left" type="button"
                ng-click="tryCancelTutorial()"
                ng-if="currentPage != 'finishMessage'"
        >
            Завершить
        </button>
        <button class="btn btn-primary" type="button" ng-click="nextPage()">
            <span ng-if="currentPage != 'finishMessage'">Далее</span>
            <span ng-if="currentPage == 'finishMessage'">Ок</span>
        </button>
    </div>
    <div ng-if="tryCancel">
        <button class="btn btn-default pull-left" type="button"
                ng-click="cancelCancel()"
        >
            Назад
        </button>
        <button class="btn btn-primary pull-left" type="button"
                ng-click="cancelTutorial()"
        >
            Завершить
        </button>
    </div>
</div>