<main class="bg-white">
    <article class="reports">
        <div class="container">
        <h1>Помощь InstaQuiz</h1>
        <p>
            Этот раздел пока наполняется!
        </p>
        <p>Сейчас Вы можете пройти <a href="#/welcome">туториал по основному функционалу</a></p>
        <p>Если у Вас возникли вопросы или есть пожелания по работе InstaQuiz,
            пожалуйста, напишите нам по адресу <a href="mailto:support@instaquiz.ru">support@instaquiz.ru</a>
        </p>
        </div>
    </article>
    <!--</article>-->
</main>