﻿<!-- <alert ng-if='authAlert' type='{{authAlert.type}}'>{{authAlert.msg}}</alert> -->
<div class="container-fluid
			col-xl-4
 			col-lg-5 col-lg-offset-4
			col-md-4 col-md-offset-4
			col-sm-4 col-sm-offset-4
			col-xs-8 col-xs-offset-2">
	<!--<div class="row">-->
		<!--<div ng-if="!tokenAuth">-->
			<!--<p class="text-center"><img onerror="this.onerror=null; this.src='../media/icons/logo.png'" src="../media/icons/logo.svg" ><small class="text-white" style="vertical-align: bottom;">β</small></p>-->
			<!--<p class="text-orange text-center" ng-show="authAlert">{{authAlert.msg}}</p>-->

			<!--<form>-->
				<!--<div class="form-group">-->
					<!--<label for="InputLogin" class="text-white">E-mail</label>-->
					<!--<input type="text" class="form-control input-lg" id="InputLogin" placeholder="" ng-model='input.username'>-->
				<!--</div>-->
				<!--<div class="form-group">-->
					<!--<label for="InputPassword" class="text-white">Пароль</label>-->
					<!--<input type="password" class="form-control input-lg" id="InputPassword" placeholder="" ng-model='input.password'>-->
				<!--</div>-->
				<!--<div class="pull-left">-->
					<!--<a href="#/forgot">забыли пароль?</a>-->
				<!--</div>-->
				<!--<div class='pull-right'>-->
					<!--<button type="submit" class="btn btn-primary btn-lg" ng-click='logIn()'-->
					<!--ng-class="{'disabled': login || logged}"-->
					<!--&gt;-->
						<!--Вход <i class="fa " ng-class="{'fa-circle-o-notch fa-spin': login || logged}"></i>-->
					<!--</button>-->
				<!--</div>-->
			<!--</form>-->
		<!--</div>-->
		<!--<br>-->
		<!--<p class="text-center">или</p>-->
		<!--<div class="row">-->
			<!--<div class="col-xs-4">-->
				<!--<a href="#" class="sc-btn sc&#45;&#45;google-plus">-->
					<!--<span class="sc-icon">-->
					  <!--<svg viewBox="0 0 33 33" width="25" height="25" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M 17.471,2c0,0-6.28,0-8.373,0C 5.344,2, 1.811,4.844, 1.811,8.138c0,3.366, 2.559,6.083, 6.378,6.083 c 0.266,0, 0.524-0.005, 0.776-0.024c-0.248,0.475-0.425,1.009-0.425,1.564c0,0.936, 0.503,1.694, 1.14,2.313 c-0.481,0-0.945,0.014-1.452,0.014C 3.579,18.089,0,21.050,0,24.121c0,3.024, 3.923,4.916, 8.573,4.916 c 5.301,0, 8.228-3.008, 8.228-6.032c0-2.425-0.716-3.877-2.928-5.442c-0.757-0.536-2.204-1.839-2.204-2.604 c0-0.897, 0.256-1.34, 1.607-2.395c 1.385-1.082, 2.365-2.603, 2.365-4.372c0-2.106-0.938-4.159-2.699-4.837l 2.655,0 L 17.471,2z M 14.546,22.483c 0.066,0.28, 0.103,0.569, 0.103,0.863c0,2.444-1.575,4.353-6.093,4.353 c-3.214,0-5.535-2.034-5.535-4.478c0-2.395, 2.879-4.389, 6.093-4.354c 0.75,0.008, 1.449,0.129, 2.083,0.334 C 12.942,20.415, 14.193,21.101, 14.546,22.483z M 9.401,13.368c-2.157-0.065-4.207-2.413-4.58-5.246 c-0.372-2.833, 1.074-5.001, 3.231-4.937c 2.157,0.065, 4.207,2.338, 4.58,5.171 C 13.004,11.189, 11.557,13.433, 9.401,13.368zM 26,8L 26,2L 24,2L 24,8L 18,8L 18,10L 24,10L 24,16L 26,16L 26,10L 32,10L 32,8 z"></path></g></svg>-->
					<!--</span>-->
					<!--<span class="sc-text">-->
					 <!--Вход-->
					<!--</span>-->
				<!--</a>-->
			<!--</div>-->
			<!--<div class="col-xs-4">-->
				<!--<a href="#" class="sc-btn sc&#45;&#45;facebook">-->
				  <!--<span class="sc-icon">-->
					  <!--<svg viewBox="0 0 33 33" width="25" height="25" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M 17.996,32L 12,32 L 12,16 l-4,0 l0-5.514 l 4-0.002l-0.006-3.248C 11.993,2.737, 13.213,0, 18.512,0l 4.412,0 l0,5.515 l-2.757,0 c-2.063,0-2.163,0.77-2.163,2.209l-0.008,2.76l 4.959,0 l-0.585,5.514L 18,16L 17.996,32z"></path></g></svg>-->
				  <!--</span>-->
				  <!--<span class="sc-text">-->
					  <!--Вход-->
				  <!--</span>-->
				<!--</a>-->
			<!--</div>-->
			<!--<div class="col-xs-4">-->
				<!--<a ng-href="{{social.vk}}" class="flat_button wauth_auth _wauth_auth">Войти через Вконтакте</a>-->
			<!--</div>-->
		<!--</div>-->
		<!--<a ng-href="{{social.google}}"><img style="width:33%" src='../media/icons/auth/btn_google_signin_light_normal_web.png'></a>-->
		<!--<a ng-href="{{social.fb}}"><img style="width:33%" src='../media/icons/auth/facebook_1.png'></a>-->
		<!--&lt;!&ndash; FACEBOOK &ndash;&gt;-->



		<!--<div ng-if="tokenAuth">-->
			<!--<h2 class="text-white">Авторизация <i class='fa fa-circle-o-notch fa-spin'></i></h2>-->
		<!--</div>-->
		<!--&lt;!&ndash;<div ng-if="logged">&ndash;&gt;-->
			<!--&lt;!&ndash;<h2 class='text-white' ng-if="loadingProfile">Загружается профиль...<span class="fa fa-circle-o-notch fa-spin"></span></h2>&ndash;&gt;-->
		<!--&lt;!&ndash;</div>&ndash;&gt;-->
	<!--</div>-->

	<!--<div class="signin-box">-->
		<!--<div class="signin-social-btns">-->
			<!--<a ng-href="{{social.vk}}" class="social-flat-btn social-btn-vk">-->
				<!--<span class="social-btn-logo">-->
					<!--<img style="width:25px;height:25px" class="social-btn-logo" src="../media/icons/auth/vk-social-network-logo.svg">-->
				<!--</span>-->
				<!--<span class="social-btn-text">-->
					<!--ВКонтакте-->
				<!--</span>-->
			<!--</a>-->
			<!--<a ng-href="{{social.google}}" class="social-flat-btn social-btn-google">-->
				<!--<span class="social-btn-logo">-->
					<!--<img style="width:25px;height:25px" class="social-btn-logo" src="../media/icons/auth/google_1.svg">-->
				<!--</span>-->
				<!--<span class="social-btn-text">-->
					<!--Google-->
				<!--</span>-->
			<!--</a>-->
			<!--<a ng-href="{{social.fb}}" class="social-flat-btn social-btn-facebook">-->
				<!--<span class="social-btn-logo">-->
					<!--<img style="width:25px;height:25px" class="social-btn-logo" src="../media/icons/auth/facebook_1.svg">-->
				<!--</span>-->
				<!--<span class="social-btn-text">-->
					<!--Facebook-->
				<!--</span>-->
			<!--</a>-->
		<!--</div>-->
	<!--</div>-->
	<div ng-if="!authToken">
	<div class="row">
		<p class="text-center"><a href="https://instaquiz.ru"><img onerror="this.onerror=null; this.src='../media/icons/logo.png'" src="../media/icons/logo.svg" ></a><small class="text-white" style="vertical-align: bottom;">β</small></p>
		<p class="text-orange text-center" ng-show="authAlert">{{authAlert.msg}}</p>
	</div>
	<div class="text-white">
		Вход
	</div>
	<div class="well signin-box">
		<div class="row">
			<div class="col-xs-4"><a ng-href="{{social.vk}}" class="social-flat-btn social-btn-vk">
				<span class="social-btn-logo">
					<img style="width:25px;height:25px" class="social-btn-logo" src="../media/icons/auth/vk-social-network-logo.svg">
				</span>
				<span class="social-btn-text">
					ВКонтакте
				</span>
			</a>
			</div>
			<div class="col-xs-4">
				<a ng-href="{{social.google}}" class="social-flat-btn social-btn-google">
					<span class="social-btn-logo">
						<img style="width:25px;height:25px" class="social-btn-logo" src="../media/icons/auth/google_1.svg">
					</span>
					<span class="social-btn-text">
						Google
					</span>
				</a>
			</div>
			<div class="col-xs-4">
				<a ng-href="{{social.fb}}" class="social-flat-btn social-btn-facebook">
					<span class="social-btn-logo">
						<img style="width:25px;height:25px" class="social-btn-logo" src="../media/icons/auth/facebook_1.svg">
					</span>
					<span class="social-btn-text">
						Facebook
					</span>
				</a>
			</div>
		</div>
		<div class="row">
			<p style="text-align:center;">или</p>
		</div>
		<div class="row">
			<form class="signin-form">
				<div class="form-group">
					<label for="InputLogin">E-mail</label>
					<input type="text" class="form-control input-lg" id="InputLogin" placeholder="" ng-model='input.username'>
				</div>
				<div class="form-group">
					<label for="InputPassword">Пароль</label>
					<div class="pull-right">
						<a style="color: rgba(155,155,155,1);" href="#/forgot"><small>забыли?</small></a>
					</div>
					<input type="password" class="form-control input-lg" id="InputPassword" placeholder="" ng-model='input.password'>
				</div>

				<div class="text-center" >
					<br>
					<button type="submit" class="btn btn-primary btn-lg signin-submit-btn" ng-click='logIn()'
							ng-class="{'disabled': login || logged}"
					>
						Войти <i class="fa " ng-class="{'fa-circle-o-notch fa-spin': login || logged}"></i>
					</button>
				</div>
			</form>
		</div>
	</div>
	<div class="well signin-box text-center">
		<span>Еще нет аккаунта? <a href="#/reg">Зарегистрируйтесь</a></span>
	</div>
	</div>
	<div ng-if="tokenAuth">
		<h2 class="text-white">Авторизация <i class='fa fa-circle-o-notch fa-spin'></i></h2>
	</div>
</div>
