﻿<!-- <alert ng-if='authAlert' type='{{authAlert.type}}'>{{authAlert.msg}}</alert> -->
<div class="container-fluid
			col-xl-4
 			col-lg-5 col-lg-offset-4
			col-md-4 col-md-offset-4
			col-sm-4 col-sm-offset-4
			col-xs-8 col-xs-offset-2">


	<div class="row">
		<p class="text-center"><img onerror="this.onerror=null; this.src='../media/icons/logo.png'" src="../media/icons/logo.svg" ><small class="text-white" style="vertical-align: bottom;">β</small></p>
		<p class="text-orange text-center" ng-show="authAlert">{{authAlert.msg}}</p>
	</div>
	<div class="text-white">
		Восстановление пароля
	</div>
	<div class="well signin-box">
		<div ng-if="!reseted">
			<div class="row">
				<p>Укажите адрес Вашего почтового ящика и мы вышлем Вам новый пароль</p>
			</div>
			<div class="row">
				<form>
					<div class="form-group">
						<label for="InputLogin">E-mail</label>
						<input type="text" class="form-control input-lg" id="InputLogin" placeholder="" ng-model='input.username'>
					</div>
					<div class='pull-right'>
						<button type="submit" class="btn btn-primary btn-lg" ng-click='reset()'
								ng-class="{'disabled': reseting}"
						>
							Сбросить<i class="fa " ng-class="{'fa-circle-o-notch fa-spin':reseting}"></i>
						</button>
					</div>
					<div class="pull-left">
						<a href="#/auth">назад</a>
					</div>
				</form>
			</div>
		</div>
		<div ng-if="reseted">
			<h2>Пароль сброшен!</h2>
			<p>На Ваш e-mail выслан новый пароль авторизации</p>
			<div class="pull-left">
				<a href="#/auth">назад</a>
			</div>
			<br>
		</div>
	</div>
</div>
