 <!--<div style='width: 60%; margin: 0 auto'>-->
<!--<div class="container">-->
	<!--<div class="row">-->
			<!--<div class="col-lg-8 col-lg-offset-2-->
				<!--col-md-8 col-md-offset-2-->
				<!--col-xs-12"-->
				<!--&gt;-->
			<!--<ol class="breadcrumb">-->
				<!--<li ng-repeat='path in folder.path' ><a href='' ng-click='open(path)'>{{path.name}}</a></li>-->
			<!--</ol>-->
			<!--<div ng-if="state == 'loading'">-->
				<!--<h1>Загрузка...</h1>-->
			<!--</div>-->
			<!--<div ng-if="state == 'failed'">-->
				<!--<h1>Ошибка</h1>-->
			<!--</div>-->
			<!--<div ng-if = "state == 'loaded'">-->
				<!--<div class="text-right">-->
					<!--<button class="btn" ng-click='addTest()'>+<span class="fa fa-list"></span></button>-->
					<!--<button class="btn" ng-click='makeDir()'>+<span class="fa fa-folder-open"></span></button>-->
				<!--</div>-->
				<!--<hr>-->
					<!--<div ng-if="folder.list.length == 0">-->
						<!--<h1>Директория пуста</h1>-->
					<!--</div>-->
						<!--<div class="list-group">-->
							<!--<div ng-repeat='item in folder.list' >-->
								<!--<div class='col-xs-8 col-md-10 col-lg-10'>-->
									<!--<div class='text-left' ng-if="item != removingItem">-->
										<!--<a href='' class="list-group-item" ng-click="open(item)">-->
											<!--<span class="fa fa-folder-open" ng-if="item.item_type == 0" aria-hidden="true"></span>-->
											<!--<span class="fa fa-list" ng-if="item.item_type == 1 || item.item_type == 2" aria-hidden="true"></span>-->
										<!--<small ng-if="item.test_type == 0">тест</small>-->
										<!--<small ng-if="item.test_type == 1">опрос</small>-->
										<!--{{item.name}}-->
										<!--<small ng-if='item.editing_time != null'>изменен {{item.editing_time*1000 | date: 'yyyy-MM-dd HH:mm:ss'}}</small>-->
										<!--</a>-->
									<!--</div>-->
									<!--<div class="text-left" ng-if="item == removingItem">-->
										<!--<div class="list-group-item list-group-item-danger" ng-if="item.item_type == 0">-->
											<!--Вы действительно хотите удалить директорию "{{item.name}}"?-->
										<!--</div>-->
										<!--<div class="list-group-item list-group-item-danger" ng-if="item.item_type == 1">-->
											<!--Вы действительно хотите удалить "{{item.name}}"?-->
										<!--</div>-->
									<!--</div>-->
								<!--</div>-->
								<!--<div class='row'>-->
									<!--<div class='col-xs-4 col-md-2 col-lg-2' ng-if="item != removingItem">-->
										<!--<div class="text-right">-->
										<!--<button class="btn btn-sm" ng-if="item.item_type == 0" ng-click='rename(item)'><span class="fa fa-pencil" aria-hidden="true" aria-label='редактировать'></span></button>-->
										<!--&lt;!&ndash; <button class="btn btn-sm" ng-if="item.item_type == 1 || item.item_type == 2" ng-click='copy(item)'><span class="fa fa-copy" aria-hidden="true" aria-label='копировать'></button> &ndash;&gt;-->
										<!--<button class="btn btn-sm" ng-click='tryToRemove(item)'><span class="fa fa-trash" aria-hidden="true" aria-label='удалить'></span></button>-->
										<!--</div>-->
									<!--</div>-->
									<!--<div class="col-xs-4 col-md-2 col-lg-2" ng-if="item == removingItem">-->
										<!--<div class="text-right">-->
										<!--<a href="" ng-click="remove(item)">Удалить</a>-->
										<!--<a href="" ng-click="tryToRemove()">Отмена</a>-->
										<!--</div>-->
									<!--</div>-->
								<!--</div>-->
								<!--<hr>-->
							<!--</div>-->
						<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->
 <div class="fs-notification">
 <alert  ng-show="notification.msg" type="info"
		ng-repeat="notification in notifications"
		 class="fs-notification-animation"
 >
	 {{notification.msg}}
	 <a class="pull-right" href="#/room" ng-if="notification.type == 'testStarted'">посмотреть</a>
	 <a class="pull-right" href="#/room" ng-if="notification.type == 'roomDisabled'">перейти в комнату</a>
	 <a class="" href="#/room" ng-if="notification.type == 'addedToQueue'">. Перейти в комнату</a>
 </alert>
 </div>
<main>
	<!-- FILE CONTROL BAR -->
	<aside class="fs-bar pull-right" >
		<div class="fs-info-directory" ng-if="!selectedItem">
			<h3>Элемент не выбран</h3>
		</div>
		<div class="fs-info-directory" ng-if="selectedItem.item_type == 0">
			<h3>{{selectedItem.name}}</h3>
			<div class="text-lg">
				<div class="min-panel">
					<a href="" ng-click="open(selectedItem)">Открыть</a>
				</div>
				<div class="min-panel">
					<a href="" ng-click='rename(selectedItem)'>Переименовать</a>
				</div>
				<div class="min-panel" ng-show="!removingItem">
					<a href="" ng-click="tryToRemove(selectedItem)">Удалить</a>
				</div>
				<div ng-show="removingItem">
					Директория и все ее содержимое будет удалено. Вы уверены?
				</div>
				<div class="min-panel" ng-show="removingItem">
					<a class="pull-left" href="" ng-click="tryToRemove()">Отмена</a>
					<a class="pull-right" href="" ng-click="remove(selectedItem)">Удалить</a>
				</div>
			</div>
		</div>

		<div class="fs-info-file" ng-if="selectedItem.item_type == 1">
			<h3>{{selectedItem.name}}</h3>
			<div class="min-panel">
				<p class="text-md" >создан: <span class="pull-right">{{selectedItem.creation_time*1000 | date:'dd/MM/yyyy'}}</span></p>
				<p class="text-md" >отредактирован: <span class="pull-right">{{selectedItem.editing_time*1000 | date:'dd/MM/yyyy'}}</span></p>
				<p class="text-md" ng-if="selectedItem.description">Описание</p>
				<p class="text-lg" ng-if="selectedItem.description">{{selectedItem.description}}</p>
				<p class="text-md">
					<span ng-if="selectedItem.test_type == 0">Тест</span>
					<span ng-if="selectedItem.test_type == 1">Опрос</span>
				</p>

				<p class="text-md" ng-if="selectedItem.timer != 0">{{selectedItem.timer | date:'mm мин ss сек'}}</p>
				<p class="text-md">вопросов: {{selectedItem.questions}}</p>
			</div>
			<div class="">
				<a href="" ng-click='rename(selectedItem)'>Переименовать</a>
			</div>
			<div class="">
				<a href="" ng-click='replace(selectedItem)'>Переместить</a>
			</div>
			<!--<div class="min-panel text-center">-->
				<!--<button class="btn text-xxl btn-primary full-width" ng-click="startTest(selectedItem)">Запустить</button>-->
			<!--</div>-->

			<div class="text-lg">
				<!--<div class="min-panel">-->
					<!--<a href="" ng-click="addTest(selectedItem)">Добавить в очередь</a>-->
				<!--</div>-->
				<div class="">
					<a href="" ng-click="open(selectedItem)">Открыть</a>
				</div>
				<!--<div class="min-panel">-->
					<!--<a href="#/reports/streams?test_id={{selectedItem.test_id}}">Посмотреть результаты</a>-->
				<!--</div>-->
				<div class="" ng-show="!removingItem">
					<a href="" ng-click="tryToRemove(selectedItem)">Удалить</a>
				</div>
				<div ng-show="removingItem">
					<span ng-if="selectedItem.test_type == 0">Тест</span><span ng-if="selectedItem.test_type == 1">Опрос</span> будет удален. Вы уверены?
				</div>
				<div class="min-panel" ng-show="removingItem">
					<a href="" class="pull-left" ng-click="tryToRemove()">Отмена</a>
					<a href="" class="pull-right" ng-click="remove(selectedItem)">Удалить</a>
				</div>
			</div>
		</div>
	</aside>
	<!-- END FILE CONTROL BAR -->
	<article class="fs" style="margin: 0px 290px 0px 0px;">
		<div class="fs-top-bar">
			<div class="col-xs-10">
				<ol class="breadcrumb bg-white" >
					<li ng-repeat='path in folder.path' >
						<a href='' ng-if="$index > 0" ng-click='open(path)'>{{path.name}}</a>
						<a href='' ng-if="$index == 0 && folder.path.length > 1" ng-click='open(path)'>корень</a>
					</li>
				</ol>
			</div>

			<div class="col-xs-2">
				<div class="fs-create">
					<div class="btn-group pull-right" dropdown>
						<button id="single-button" type="button" class="btn btn-primary btn-lg" dropdown-toggle ng-disabled="disabled">
							Создать <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
							<li role="menuitem"><a href="" ng-click="makeDir()"><i class="fa fa-folder-open" aria-hidden="true"></i> Директорию</a></li>
							<li role="menuitem"><a href="" ng-click="createTest(0)"><i class="fa fa-question-circle-o" aria-hidden="true"></i> Тест</a></li>
							<li role="menuitem"><a href="" ng-click="createTest(1)"><i class="fa fa-bar-chart" aria-hidden="true"></i> Опрос</a></li>
						</ul>
					</div>
					<!--<button class="btn text-xxl btn-primary pull-right" ng-click='addTest()'>Создать</button>-->
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-xs-12">
			<div ng-if="state == 'loaded' && folder.list.length == 0">
				<h3>Директория пуста</h3>
			</div>
			<div ng-if="state == 'loading'">
				<h3>Загрузка...<i class="fa fa-circle-o-notch fa-spin fa-1x"></i></h3>
			</div>
			<div ng-if="state == 'failed'">
				<h1>Ошибка</h1>
			</div>
			</div>
		</div>
		<div class="fs-structure" ng-show="state == 'loaded'">
			<div class="fs-dirs row">
				<div class="fs-s-item-wrapper col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3"
					 ng-repeat="item in folder.list | filter:{item_type: 0}"
				>
				<div class='fs-s-item fs-s-directory'
					 ng-class="{
					 'active': $parent.selectedItem == item
					 }"
					 ng-click="$parent.selectedItem = item"
					 ng-dblclick="open(item)"
				>{{item.name}}</div>
				</div>
			</div>

			<div class="fs-files row">

				<div class="fs-s-item-wrapper col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3"
					 ng-repeat="item in folder.list | filter:{item_type: 1}"
				>
					<div class="fs-s-item"
						ng-class="{
							'fs-s-directory':item.item_type == 0,
							'fs-s-file':item.item_type == 1,
							'active': $parent.selectedItem == item
							}
							"
						 ng-click="$parent.selectedItem = item"
						 ng-dblclick="open(item)"
					>
						<!--<div ng-if="item.item_type == 0" >{{item.name}}</div>-->
						<div class="fs-s-file-type text-right" ng-if="item.item_type == 1">
							<span ng-if="item.test_type == 0">Тест</span>
							<span ng-if="item.test_type == 1">Опрос</span>
						</div>
						<div class="fs-s-file-name" ng-if="item.item_type == 1">
							{{item.name}}
						</div>
						<div class="fs-s-file-length" ng-if="item.item_type == 1">
							вопросов: {{item.questions}}
						</div>
						<div class="row">
							<div class="col-xs-6"><div class="fs-s-file-open text-lg btn btn-primary"
													   title="редактировать"
													   ng-if="item.item_type == 1"
								ng-click="$event.preventDefault();open(item)"
							>
								<i class="fa fa-edit"></i>
							</div></div>
							<div class="col-xs-6"><div class="fs-s-file-open text-lg btn btn-primary"
													   title="запустить"
													   ng-if="item.item_type == 1"
								 ng-click="$event.preventDefault();startTest(item)"
							>
								<i class="fa fa-play"></i>
							</div></div>
						</div>
						<!--<div class="fs-s-file-open text-lg btn btn-primary" ng-if="item.item_type == 1"-->
							 <!--ng-click="$event.preventDefault();startTest(item)"-->
						<!--&gt;-->
							<!--Запустить <i class="fa fa-play" aria-hidden="true"></i>-->
						<!--</div>-->
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</article>
</main>

<script type="text/ng-template" id="makeDirModal.html">
	<div class="modal-header">
		<h3 class="modal-title">Создать директорию <i class="pull-right fa fa-times interactive-element" ng-click="cancel()"></i></h3>
	</div>
	<div class="modal-body">
		<div class="input-group">
			<span class="input-group-addon" id="sizing-addon2"><span class="fa fa-folder-open"></span></span>
			<input type="text" class="form-control" placeholder="название директории" aria-describedby="sizing-addon2" ng-model="name">
		</div>

	</div>
	<div class="modal-footer">
		<button class="btn btn-primary pull-right" type="button" ng-click="ok()">Создать</button>
	</div>
</script>

<script type="text/ng-template" id="renameModal.html">
 <div class="modal-header">
	 <h3 class="modal-title">Переименовать <i class="pull-right fa fa-times interactive-element" ng-click="cancel()"></i></h3>
 </div>
 <div class="modal-body">
	 <div class="input-group">
		 <span class="input-group-addon" id="sizing-addon2">
			 <span ng-class="{
			 	'fa fa-folder-open': item_type == 0,
			 	'fa fa-file-text-o': item_type != 0,
			 }"></span>
		 </span>
		 <input type="text" class="form-control" placeholder="имя" aria-describedby="sizing-addon2" ng-model="name">
	 </div>

 </div>
 <div class="modal-footer">
	 <button class="btn btn-primary pull-right" type="button" ng-click="ok()">Ок</button>
 </div>
</script>

<script type="text/ng-template" id="addTestModal.html">
	<div class="modal-header">
		<h3 class="modal-title">Создать
			<span ng-if="type == 0">тест</span>
			<span ng-if="type == 1">опрос</span>
			<i class="pull-right fa fa-times interactive-element" ng-click="cancel()"></i>
		</h3>
	</div>
	<div class="modal-body">
		<div class="input-group ">
			<span class="input-group-addon" id="sizing-addon3">
				<span ng-class="{
				'fa fa-question-circle-o': type == 0,
				'fa fa-bar-chart': type == 1
				}"></span>
			</span>
			<input type="text" class="form-control" placeholder="введите название" aria-describedby="sizing-addon3" ng-model="name">
		</div>
		<!--<div class="input-group">-->
			<!--<span class="input-group-addon" id="sizing-addon4">Тип</span>-->
			<!--<div class="btn-group" role="group" aria-label="...">-->
				<!--<button type="button" class="btn btn-default" ng-model="type" btn-radio="0">Тест</button>-->
				<!--<button type="button" class="btn btn-default" ng-model="type" btn-radio="1">Опрос</button>-->
			<!--</div>-->
		<!--</div>-->
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary pull-right" type="button" ng-click="ok()">Создать</button>
	</div>
</script>

<!-- REPLACE MODAL -->
 <script type="text/ng-template" id="replaceModal.html">
	 <div class="modal-header">
		 <h3 class="modal-title">Переместить <i class="text-right fa fa-times queue-item-delete" ng-click="cancel()"></i></h3>
	 </div>
	 <div class="modal-body">
		 <div ng-show="fsState == 'loading'">
			 <span class="fa fa-circle-o-notch fa-spin fa-2x"></span>
		 </div>
		 <div ng-show="fsState == 'failed'">
			 Ошибка загрузки
		 </div>
		 <div class="row">
		 	<div class="col-xs-12">
				<a href class="pull-right" ng-click="move(currentFolder)">переместить сюда</a>
			</div>
		 </div>
		 <ol class="breadcrumb">
			 <li ng-repeat='pathItem in explorer.folder.path' >
				 <a href='' ng-if="$index > 0" ng-click='openFolder(pathItem.folder_id)'>{{pathItem.name}}</a>
				 <a href='' ng-if="$index == 0 && explorer.folder.path.length > 1" ng-click='openFolder(pathItem.folder_id)'>корень</a>
			 </li>
		 </ol>
		 <div class="list-group">
			 <a href=""
				class="list-group-item"
				ng-if="explorer.folder.path.length > 1"
				ng-click="openFolder(explorer.folder.path.slice(-2,-1)[0].folder_id)"
			 >
				 ..
			 </a>
			 <a href =""
				ng-repeat='item in explorer.folder.list | orderBy:"item_type"'
				class="list-group-item"
				ng-click="openFolder(item.folder_id);"
				ng-if="item.item_type == 0"
			 >
				 <span class="fa fa-folder-open" aria-hidden="true"></span>
				 {{item.name}}
				 <!--<i ng-show="waitForQueue == item" class="fa fa-spin fa-circle-o-notch "></i>-->
			 </a>
		 </div>
	 </div>
	 <!--<div class="modal-footer">-->
	 <!--<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>-->
	 <!--</div>-->
 </script>