<!-- <div ng-controller="AlertErrorCtrl"> -->
  <alert ng-if='errorAlert' type="{{errorAlert.type}}" close="closeErrorAlert()" dismiss-on-timeout='{{errorAlert.timer}}'><div ng-bind-html="errorAlert.msg"></div></alert>
  <!-- </div> -->