﻿<!--<nav class="navbar navbar-default" ng-controller="HeaderBarCtrl">-->
  <!--<div class="container-fluid">-->
    <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
	<!--<div class="navbar-header">-->
      <!--<a class="navbar-brand" href="">IQ</a>-->
	 <!--<button type="button" aria-expanded="false"  class="navbar-toggle collapsed" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">-->
		<!--<span class="sr-only">Toggle navigation</span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
	  <!--</button>-->
    <!--</div>-->

    <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
   <!--<div class="collapse navbar-collapse" collapse="isCollapsed">-->
	<!--<div ng-if="!room.url || room.url != null && !auth.getUserToken()">-->
		<!--<ul class="nav navbar-nav">-->
			<!--<li><a href='' ng-click="goToRoom()">В комнату</a></li>-->
		<!--</ul>-->
	<!--</div>-->
	<!--<div ng-if='auth.getUserToken() == null'>-->
		<!--<ul class="nav navbar-nav navbar-right">-->
			<!--<li><a href='#/auth'>Вход</a></li>-->
		<!--</ul>-->
	<!--</div>-->
	<!--<div ng-if='auth.getUserToken() != null'>-->
		  <!--<ul class="nav navbar-nav navbar-right">-->
			<!--<li ng-if='!profile.temporary'>&lt;!&ndash; <a href='../admin/index-debug.html#profile'> &ndash;&gt;<a>{{profile.firstName}}</a></li>-->
			<!--&lt;!&ndash; <li ng-if='profile.temporary == false'><a href='../admin/index-debug.html'>"Админка"</a></li> &ndash;&gt;-->
			<!--<li ng-if='profile.temporary'><a>{{profile.firstName}}</a></li>-->
			<!--<li ng-if='!profile.temporary'><a href='' ng-click='logOut()'>Выход</a></li>-->
		  <!--</ul>-->
	<!--</div>-->

      <!--<div class="nav navbar-nav " ng-if='room.url != null && auth.getUserToken()'>-->
			<!--<li><a># {{room.url}}</a></li>-->
			<!--<li ng-if='profile.temporary'><a href='' ng-click='logOut()'>Покинуть</a></li>-->
			<!--<li ng-if='!profile.temporary'><a href='' ng-click='logOutRoom()'>Покинуть</a></li>-->

       <!--&lt;!&ndash; <li ng-if='profile.username != null'><a href="" ng-click='logOut()'>Выйти</a></li> &ndash;&gt;-->
      <!--</div>-->
   <!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
  <!--</div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
<!--</nav>-->

<header class="bg-dark-blue" ng-controller="HeaderBarCtrl">
	<div class="navbar">
		<div class="nav-logo pull-left col-xs-3 text-left" style="height:100%">
			<a href=""><img onerror="this.onerror=null; this.src='../media/icons/logo.png'" src="../media/icons/logo.svg" height="40px"></a>
		</div>
		<div ng-if='room.url != null && auth.getUserToken()' class="pull-right col-xs-3 text-right" style="height:100%">
			<a href="" ng-if='profile.temporary' ng-click='logOut()'><i class="fa fa-sign-out fa-3x" aria-hidden="true"></i></a>
			<a href="" ng-if='!profile.temporary' ng-click='logOutRoom()'><i class="fa fa-sign-out fa-3x" aria-hidden="true"></i></a>
		</div>
		<div class="col-xs-6 text-center text-white" style="height:100%">
			<div class="text-xxl" ng-if="room.url == null">InstaQuiz</div>
			<div class="text-xxl" ng-if="room.url != null">#{{room.url}}</div>
		</div>
	</div>
</header>