﻿<main class="bg-white">
	<article class="reports">
	<div class="container">
	<!--<div class="container-fluid">-->
	<!--<br>-->
		<!--<div class="row"><div class="col-xs-10 col-xs-offset-1">-->
			<!--<a href="#/reports/lessons">Уроки</a>-->
			<!--<div class="well">-->
			  <!--<div class="panel-body">-->
				<!--<div class="col-xs-4">-->
					<!--<h1>Урок #{{lesson.room_url}}</h1>-->
				<!--</div>-->
				<!--<div class="col-xs-5">-->
					<!--<div class="row"><h3>{{lesson.title}}</h3></div>-->
					<!--<div class="row"><p>{{lesson.description}}</p></div>-->
				<!--</div>-->
				<!--<div class="col-xs-3">-->
					<!--<div class="row"><h3>{{lesson.begin_time*1000 | date: 'dd / MM / yy'}}</h3></div>-->
					<!--<div class="row">{{lesson.begin_time*1000 | date: 'HH:mm:ss'}}-{{lesson.end_time*1000 | date: 'HH:mm:ss'}}</div>-->
				<!--</div>-->
			  <!--</div>-->
			<!--</div>-->
		<!--</div></div>-->
		<!--<div class="row">-->
			<!--<div class="col-xs-10 col-xs-offset-1">-->
				<!--<div class="well col-xs-9">-->
					<!--<h3 class="text-center">Проведенные тесты/опросы</h3>-->
					<!--<div class="table-responsive bg-white">-->
					<!--<table class="table table-hover">-->
						<!--<tr >-->
							<!--&lt;!&ndash; <th>#</th> &ndash;&gt;-->
							<!--<th >Время</th>-->
							<!--<th>Название</th>-->
							<!--<th>Вопросов</th>-->
							<!--<th>Тип</th>-->
							<!--<th>Режим</th>-->
							<!--<th>Статус</th>-->
						<!--</tr>-->
						<!--<tr ng-repeat="stream in streams">-->
							<!--&lt;!&ndash; <td ng-click="showPreview(stream)">{{stream.stream_id}}</td> &ndash;&gt;-->
							<!--<td>{{stream.add_time*1000 | date: 'HH:mm:ss'}}-{{stream.del_time*1000 | date: 'HH:mm:ss'}}</td>-->
							<!--<td><a href="#/report/view/stream/{{stream.stream_id}}" >{{stream.test.name}}</td>-->
							<!--<td>{{stream.test.questions}}</td>-->
							<!--<td>-->
								<!--<div ng-if="stream.test.type == 0">тест</div>-->
								<!--<div ng-if="stream.test.type == 1">опрос</div>-->
							<!--</td>-->
							<!--<td>-->
								<!--<div ng-if="stream.pace_mode == 1">асинх.</div>-->
								<!--<div ng-if="stream.pace_mode == 2">синх.</div>-->
							<!--</td>-->
							<!--<td-->
								<!--ng-class="-->
								<!--{-->
									<!--'success':stream.del_reason == 'finish',-->
									<!--'warning':stream.del_reason == 'cancel',-->
									<!--'danger':!stream.del_reason,-->
								<!--}"-->
							<!--&gt;-->
								<!--<div ng-if="stream.del_reason == 'finish'">завершен</div>-->
								<!--<div ng-if="stream.del_reason == 'cancel'">отменен</div>-->
								<!--<div ng-if="!stream.del_reason">не завершен</div>-->
							<!--</td>-->
						<!--</tr>-->
					<!--</table>-->
				<!--</div>-->
				<!--</div>-->
				<!--<div class="col-xs-3 well" >-->
					<!--<h3 class="text-center">Студенты</h3>-->
					<!--<ul class="list-group">-->
						<!--<li class="list-group-item" ng-repeat="user in users">-->
							<!--<div class="row">-->
								<!--<div class="col-xs-6">-->
									<!--<p>{{user.first_name}}<br>{{user.second_name}}</p>-->
								<!--</div>-->
								<!--<div class="col-xs-6">-->
									<!--<h2>{{user.rate*100 | number:0}}%</h2>-->
								<!--</div>-->
							<!--</div>-->
						<!--</li>-->
					<!--</ul>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<!---->
	<!--</div>-->


		<div class="col-xs-12">
			<br>
			<div class="row">
				<div class="col-xs-6">
					<h2>Событие</h2>
				</div>
				<div class="col-xs-6">
					<div class="col-xs-4 text-right">
						<h4>{{lesson.begin_time*1000 | date: 'dd / MM / yy'}}</h4>
					</div>
					<div class="col-xs-4 text-right">
						<h4>{{lesson.begin_time*1000 | date: 'HH:mm'}}</h4>
					</div>
					<div class="col-xs-4 text-right">
						<h4><span class="fa fa-user"></span> {{lesson.users}}</h4>
					</div>
					<!--<div class="col-xs-3 text-right">-->
						<!--<h4 dropdown title="скачать данные">-->
							<!--<a href dropdown-toggle>-->
								<!--<i class="fa fa-download"></i><i class="fa fa-caret-down"></i>-->
							<!--</a>-->
							<!--<ul class="dropdown-menu">-->
								<!--<li><a href=""><i class="fa fa-file-excel-o"></i> Excel</a></li>-->
								<!--<li><a href=""><i class="fa fa-file-code-o"></i> JSON</a></li>-->
							<!--</ul>-->
						<!--</h4>-->
					<!--</div>-->
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">

				</div>
			</div>
			<div class="row" ng-if="lesson.title">
				<div class="col-xs-6">
					<h2>{{lesson.title}}</h2>
				</div>
				<div class="col-xs-6 text-right">
					<h2>{{lesson.description}}</h2>
				</div>
			</div>
			<!--<div class="row">-->
				<!--<div class="report-title col-xs-8"><h1>Урок: <span ng-if="lesson.title">"{{lesson.title}}"</span><span ng-if="!lesson.title">без названия</span></h1></div>-->
				<!--<div class="report-date text-right col-xs-4">{{lesson.begin_time*1000 | date: 'dd / MM / yy'}} {{lesson.begin_time*1000 | date: 'HH:mm:ss'}} - {{lesson.end_time*1000 | date: 'HH:mm:ss'}}</div>-->
			<!--</div>-->
			<div class="report-desc">
				<p>{{lesson.description}}</p>
			</div>
			<div ng-show="!streams" class="text-center">
				<i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
			</div>
			<div ng-if="streams"
				 class="text-center">
				<p>Нет данных</p>
			</div>
			<div class="well"
				 ng-show="streams"
				 ng-repeat='stream in streams | orderBy: "stream_id":false'
				 ng-init="visType = 'byQuestions';hideBody = true"
			>
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-4">
							<!--<h3>-->
								<span class="interactive-element pull-left fa" ng-class="{'fa fa-chevron-down': !hideBody, 'fa fa-chevron-right': hideBody}"
									  ng-click="hideBody = !hideBody;loadStreamResults(stream)"
								></span>
								<a class="" href="" ng-click="hideBody = !hideBody;loadStreamResults(stream)">
									<span ng-if="stream.test.name">{{stream.test.name}}</span>
									<span ng-if="!stream.test.name">Без названия</span>
								</a>
							<!--</h3>-->
						</div>
						<div class="col-xs-2">
							<!--<h3>-->
								<span ng-if="stream.test.type == 0">Тест</span>
								<span ng-if="stream.test.type == 1">Опрос</span>
							<!--</h3>-->
							<!--<small ng-if="stream.pace_mode == 1">асинхронный режим</small>-->
							<!--<small ng-if="stream.pace_mode == 2">синхронный режим</small>-->
						</div>

						<div class="col-xs-3">
							<span>{{stream.add_time*1000 | date: 'HH:mm'}} - {{stream.del_time*1000 | date: 'HH:mm'}}</span>
						</div>
						<div class="col-xs-3 text-right">
							<div class="row">
								<div class="col-xs-6">
									<span ng-if="stream.del_reason == 'finish'" class="bg-success">завершен</span>
									<span ng-if="stream.del_reason == 'cancel'" class="bg-warning">отменен</span>
								</div>
								<div class="col-xs-6 text-right">
									<div dropdown title="скачать данные">
										<a href dropdown-toggle>
											<i class="fa fa-download"></i><i class="fa fa-caret-down"></i>
										</a>
										<ul class="dropdown-menu">
											<li><a target="_self" ng-href="{{getDownloadStreamLink(stream.stream_id, 'xlsx')}}"><i class="fa fa-file-excel-o"></i> Excel</a></li>
											<!--<li><a href ng-click="downloadStream(stream.stream_id, 'xlsx', $event)">-->
												<!--<i class="fa fa-file-excel-o"></i> Excel</a>-->
											<!--</li>-->
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-body" collapse="hideBody">
					<div class="row">
						<div class="col-xs-6">

							<div ng-if="!stream.override">
								<small ng-if="stream.test.random == true">перемешивать вопросы</small><br>
								<small ng-if="stream.test.timer > 0">лимит времени {{stream.test.timer*1000 | date: 'm мин ss сек'}}</small>
							</div>
							<div ng-if="stream.override">
								<small ng-if="stream.override.random == true">перемешивать вопросы</small><br>
								<small ng-if="stream.override.timer > 0">лимит времени {{stream.override.timer*1000 | date: 'm мин ss сек'}} сек</small>
							</div>
						</div>
						<div class="col-xs-6 text-right" ng-show="streamResults[stream.stream_id].users.length > 0">
							<!--<div class="quiue-item-sort">-->
							<!--<input name="quize-sort-{{report.stream.stream_id}}-1" checked="checked" type="radio" ng-model="visType" ng-value="'byQuestions'" id="quize-sort-{{report.stream.stream_id}}-1" class="iq-forms iq-radio radio-quize-sort">-->
							<!--<label class="iq-forms" for="quize-sort-{{report.stream.stream_id}}-1">По вопросам</label>-->
							<!--</div>-->
							<!--<div class="quiue-item-sort">-->
							<!--<input name="quize-sort-{{report.stream.stream_id}}-2" type="radio" ng-model="visType" ng-value="'byStudents'" id="quize-sort-{{report.stream.stream_id}}-2" class="iq-forms iq-radio radio-quize-sort">-->
							<!--<label class="iq-forms" for="quize-sort-{{report.stream.stream_id}}-2">По студентам</label>-->
							<!--</div>-->
							<div class="btn-group">
								<label class="btn" ng-model="visType" btn-radio="'byQuestions'" uncheckable>вопросы</label>
								<label class="btn" ng-model="visType" btn-radio="'byStudents'" uncheckable>пользователи</label>
							</div>
						</div>
					</div>
					<div class="row" ng-show="streamResults[stream.stream_id].users.length > 0">
						<div class="col-xs-12">
							<stream-report
									test="stream.test"
									test-content="fullTest[stream.test.test_id]"
									users="streamResults[stream.stream_id].users"
									on-result-click="showQuestion"
									ng-if="visType == 'byStudents'"
							></stream-report>
							<stream-question-results
									users="streamResults[stream.stream_id].users"
									test="stream.test"
									test-content="fullTest[stream.test.test_id]"
									ng-if="visType == 'byQuestions'"
							>
							</stream-question-results>
						</div>
					</div>
					<div class="row" ng-show="streamResults[stream.stream_id].users.length == 0">
						<h2 class="text-center">Результатов нет</h2>
					</div>
				</div>
			</div>
			<!--<div class="row report-detail">-->
				<!--<div class="col-xs-8 table-responsive">-->
					<!--<table class="table table-bordered">-->
						<!--<thead>-->
						<!--<tr>-->
							<!--<th>Время</th>-->
							<!--<th>Название</th>-->
							<!--<th>Вопросов</th>-->
							<!--<th>Тип</th>-->
							<!--<th>Режим</th>-->
							<!--<th>Статус</th>-->
						<!--</tr>-->
						<!--</thead>-->
						<!--<tbody>-->
							<!--<tr ng-repeat="stream in streams">-->
							<!--&lt;!&ndash; <td ng-click="showPreview(stream)">{{stream.stream_id}}</td> &ndash;&gt;-->
							<!--<td>{{stream.add_time*1000 | date: 'HH:mm:ss'}}-{{stream.del_time*1000 | date: 'HH:mm:ss'}}</td>-->
							<!--<td><a href="#/report/view/stream/{{stream.stream_id}}" >{{stream.test.name}}</td>-->
							<!--<td>{{stream.test.questions}}</td>-->
							<!--<td>-->
							<!--<div ng-if="stream.test.type == 0">тест</div>-->
							<!--<div ng-if="stream.test.type == 1">опрос</div>-->
							<!--</td>-->
							<!--<td>-->
							<!--<div ng-if="stream.pace_mode == 1">асинх.</div>-->
							<!--<div ng-if="stream.pace_mode == 2">синх.</div>-->
							<!--</td>-->
							<!--<td-->
							<!--ng-class="-->
							<!--{-->
							<!--'success':stream.del_reason == 'finish',-->
							<!--'warning':stream.del_reason == 'cancel',-->
							<!--'danger':!stream.del_reason,-->
							<!--}"-->
							<!--&gt;-->
							<!--<div ng-if="stream.del_reason == 'finish'">завершен</div>-->
							<!--<div ng-if="stream.del_reason == 'cancel'">отменен</div>-->
							<!--<div ng-if="!stream.del_reason">не завершен</div>-->
							<!--</td>-->
							<!--</tr>-->
						<!--</tbody>-->
					<!--</table>-->
					<!--<div ng-show="!streams" class="text-center">-->
						<!--<i class="fa fa-circle-o-notch fa-spin fa-3x"></i>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="col-xs-4 table-responsive">-->
					<!--<table class="table table-bordered text-center" ng-init="reverse=false">-->
						<!--<thead>-->
						<!--<tr>-->
							<!--<td width="65%">Студенты</td>-->
							<!--<td width="35%">-->
								<!--<a href="" ng-click="reverse = !reverse">Рейтинг</a>-->
								<!--<span class="sortorder" ng-class="{reverse:reverse}"></span>-->
							<!--</td>-->
						<!--</tr>-->
						<!--</thead>-->
						<!--<tbody>-->
						<!--<tr ng-repeat="user in users | orderObjectBy:'rate':reverse">-->
							<!--<td>{{user.first_name}} {{user.second_name}}</td>-->
							<!--<td-->
								<!--ng-class="{-->
									<!--'bg-green': user.rate >= 0.8,-->
									<!--'bg-yellow': user.rate < 0.8 && user.rate >= 0.6,-->
									<!--'bg-red': user.rate < 0.6,-->
								<!--}"-->
							<!--&gt;{{user.rate*100 | number:0}}%</td>-->
						<!--</tr>-->
						<!--</tbody>-->
					<!--</table>-->
					<!--<div ng-show="!users" class="text-center"><i class="fa fa-circle-o-notch fa-spin fa-3x" ></i></div>-->
				<!--</div>-->
			<!--</div>-->
		</div>
	</div>
	</article>
</main>