<main class="bg-white">
    <article class="reports">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="pull-left">
                        <pagination
                                ng-model="page"
                                previous-text="Пред."
                                next-text="След."
                                total-items="100"
                                items-per-page="maxOnPage"
                                rotate="true"
                                max-size="5"
                                boundary-links="true"
                                first-text="Первая"
                                last-text="Последняя"
                                ng-change="changePage(page)"
                        >
                        </pagination>
                    </div>
                </div>
            </div>
            <div class="reports-content">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tr>
                                    <th>Урок</th>
                                    <th>Дата</th>
                                    <th>Время</th>
                                    <th>Название</th>
                                    <th>Тестов</th>
                                    <th>Студентов</th>
                                </tr>
                                <tr ng-repeat="lesson in lessons">
                                    <td># {{lesson.room_url}}</td>
                                    <td>{{lesson.begin_time*1000 | date:'dd / MM / yy'}}</td>
                                    <td>{{lesson.begin_time*1000 | date: 'HH:mm:ss'}}-{{lesson.end_time*1000 | date: 'HH:mm:ss'}}</td>
                                    <td><a href="#/reports/lesson/{{lesson.lesson_id}}">
                                        <span ng-if="lesson.title">{{lesson.title}}</span>
                                        <span ng-if="!lesson.title">Без названия</span>
                                    </td>
                                    <td>{{lesson.streams}}</td>
                                    <td>{{lesson.users}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>