﻿<main class="bg-white" >
	<article class="reports">
	<div class="container-fluid">
	<div class="row"><div class="col-xs-12" >
			<h2 ng-if="list.length > 0">Результаты</h2>
			<h2 ng-if="list.length == 0">Результаты не выбраны</h2>
	</div></div>
	<div class="well"
		 ng-repeat='stream in list | orderBy: "stream_id":true'
		 ng-init="visType = 'byQuestions';hideBody = list.length > 1"
	>
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-4">

					<a href="" ng-click="hideBody = !hideBody;loadStreamResults(stream);">
						{{stream.test.name}}
					</a>
					<br>
					<small ng-if="stream.pace_mode == 1">асинхронный режим</small>
					<small ng-if="stream.pace_mode == 2">синхронный режим</small>
				</div>
				<div class="col-xs-4">
					{{stream.add_time*1000 | date:'dd / MM / yyyy'}} - {{stream.add_time*1000 | date: 'HH:mm'}} - {{stream.del_time*1000 | date: 'HH:mm'}}
				</div>
				<div class="col-xs-4">
					<span ng-if="stream.del_reason == 'finish'" class="bg-success">завершен</span>
					<span ng-if="stream.del_reason == 'cancel'" class="bg-warning">отменен</span>
					<a href="" class="queue-item-delete pull-right" ng-click="removeFromList(report)"><i class="fa fa-remove"></i></a>
				</div>
			</div>
		</div>
		<div class="panel-body" collapse="hideBody">
			<div class="row">
				<div class="col-xs-6">

					<div ng-if="!stream.override">
						<small ng-if="stream.test.random == true">Перемешивать вопросы</small><br>
						<small ng-if="stream.test.timer > 0">лимит времени {{stream.test.timer*1000 | date: 'm мин ss сек'}}</small>
					</div>
					<div ng-if="stream.override">
						<small>перегружен</small>
						<small ng-if="stream.override.random == true">Перемешивать вопросы</small><br>
						<small ng-if="stream.override.timer > 0">лимит времени {{stream.override.timer*1000 | date: 'm мин ss сек'}} сек</small>
					</div>
				</div>
				<div class="col-xs-6 text-right" ng-show="stream.users.length > 0">
					<div class="btn-group">
						<label class="btn" ng-model="visType" btn-radio="'byQuestions'" uncheckable>по вопросам</label>
						<label class="btn" ng-model="visType" btn-radio="'byStudents'" uncheckable>по студентам</label>
					</div>
				</div>
			</div>
			<div class="row" ng-show="stream.users.length > 0">
				<div class="col-xs-12">
					<stream-report
						test="stream.test"
						test-content="fullTest[stream.test.test_id]"
						users="stream.users"
						on-result-click="showQuestion"
						ng-if="visType == 'byStudents'"
					></stream-report>
					<stream-question-results
						users="stream.users"
						test="stream.test"
						test-content="fullTest[stream.test.test_id]"
						ng-if="visType == 'byQuestions'"
					>
					</stream-question-results>
				</div>
			</div>
			<div class="row" ng-show="stream.users.length == 0">
				<h2 class="text-center">Результатов нет</h2>
			</div>
		</div>
	</div>
	</div>
	</article>
</main>

