﻿<main class="bg-white">
<article class="reports">

	<div class="container">

	<!--<div class="row">-->
		<!--<div class="col-xs-6"></div>-->
		<!--<div class="col-xs-2">-->
			<!--<button class="btn btn-primary" ng-click="addAllToCart()">Выбрать все</button>-->
		<!--</div>-->
		<!--<div class="col-xs-2">-->
			<!--<button class="btn btn-primary" ng-click="removeAll()">Снять выбор</button>-->
		<!--</div>-->
		<!--<div class="col-xs-2">-->
			<!--<button class="btn btn-danger" ng-click="clearCart()"><i class="fa fa-trash"></i>Очистить</button>-->
		<!--</div>-->
	<!--</div>-->
	<!--<div class="reports-nav">-->
	<!--<div class="row">-->
		<!--<div class="col-xs-12">-->
		<!--<div class="pull-left">-->
			<!--<pagination-->
					<!--ng-model="page"-->
					<!--previous-text="Пред."-->
					<!--next-text="След."-->
					<!--total-items="streams.numOfReports"-->
					<!--items-per-page="maxOnPage"-->
					<!--rotate="true"-->
					<!--max-size="5"-->
					<!--boundary-links="true"-->
					<!--first-text="Первая"-->
					<!--last-text="Последняя"-->
					<!--ng-change="changePage(page)"-->
			<!--&gt;-->
			<!--</pagination>-->
		<!--</div>-->
		<!--</div>-->
	<!--</div>-->
	<!--<div class="row"><div class="col-xs-12">-->
		<!--<div class="pull-left" >-->
			<!--<button class="btn" ng-click="clearCart()"-->
					<!--ng-class="{'disabled':streams.cartLength == 0}"-->
			<!--&gt;снять выбор-->
				<!--</i></button>-->
		<!--</div>-->
		<!--<div class="pull-right">-->
			<!--<button-->
					<!--class="btn btn-primary btn-block"-->
					<!--ng-click="showResults()"-->
					<!--ng-class="{'disabled':streams.cartLength == 0,'enabled':streams.cartLength > 0,}"-->
					<!--ng-if="streams.cartLength > 0"-->
			<!--&gt;-->
				<!--Показать результаты <span class="badge">{{streams.cartLength}}</span>-->
			<!--</button>-->
		<!--</div>-->
	<!--</div></div>-->
	</div>
	<div class="container-fluid">
		<h2>Результаты тестов</h2>
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<div class="table-responsive">
				<table class="table table-hover">
					<tr>
						<th></th>
						<th>#</th>
						<th>Дата</th>
						<th>Время</th>
						<th>Название</th>
						<th>Вопросов</th>
						<th>Тип</th>
						<th>Режим</th>
						<th>Статус</th>
					</tr>
					<tr ng-repeat="stream in list">
						<td>
							<!--<input type="checkbox" ng-model="checkedStreams[stream.stream_id]" ng-click="changeToCart(stream)">-->
						</td>
						<td ng-click="showPreview(stream)">{{stream.stream_id}}</td>
						<td ng-click="showPreview(stream)">{{stream.add_time*1000 | date:'dd / MM / yy'}}</td>
						<td ng-click="showPreview(stream)">{{stream.add_time*1000 | date: 'HH:mm:ss'}}-{{stream.del_time*1000 | date: 'HH:mm:ss'}}</td>
						<td><a href="" ng-click="showStreamResult(stream)" >{{stream.test.name}}</td>
						<td ng-click="showPreview(stream)">{{stream.test.questions}}</td>
						<td ng-click="showPreview(stream)">
							<div ng-if="stream.test.type == 0">тест</div>
							<div ng-if="stream.test.type == 1">опрос</div>
						</td>
						<td>
							<div ng-if="stream.pace_mode == 1">асинхронный</div>
							<div ng-if="stream.pace_mode == 2">синхронный</div>
						</td>
						<td ng-click="showPreview(stream)"
							ng-class="
							{
								'success':stream.del_reason == 'finish',
								'warning':stream.del_reason == 'cancel',
								'danger':!stream.del_reason,
							}"
						>
							<div ng-if="stream.del_reason == 'finish'">завершен</div>
							<div ng-if="stream.del_reason == 'cancel'">отменен</div>
							<div ng-if="!stream.del_reason">не завершен</div>
						</td>
						<!--<td ng-if="!inCart(stream.stream_id)">-->
							<!--<a href="" ng-click="addToCart(stream)"><i class="fa fa-plus"></i></a>-->
						<!--</td>-->
						<!--<td ng-if="inCart(stream.stream_id)">-->
							<!--<a href="" ng-click="removeFromCart(stream)"><i class="fa fa-minus"></i></a>-->
						<!--</td>-->
						<!--<td><a href="" ng-click="showStreamResult(stream)">-->
							<!--<i class="fa fa-chevron-right"></i>-->
							<!--</a>-->
						<!--</td>-->
					</tr>

				</table>
				<div ng-if="streams.numOfReports > list.length">
					<div ng-if="loadingStreams" class="text-center">
						<i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
					</div>
					<button ng-if="!loadingStreams" class="btn btn-block" ng-click="getLastStreams()">загрузить еще</button>
				</div>
			</div>
		</div>
	<!--	<div class="col-xs-4 col-md-4">
				<div class="panel panel-default" ng-if="streams.current">
					<div class="panel-body">
						<div class="container-fluid">
							<div class="row">
								<h2 ng-if="streams.current.test.type == 0">Тест</h2>
								<h2 ng-if="streams.current.test.type == 1">Опрос</h2>
								<h3><b>{{streams.current.test.name}}</b></h3>
								<h3 ng-if="streams.current.test.description">{{streams.current.test.description}}</h3>
								<p>Кол-во вопросов - {{streams.current.test.questions}}</p>
								<p>Время - {{streams.current.add_time | date: 'm:s'}}-{{streams.current.del_time | date: 'm:s'}}</p>
								<p>Дата - {{streams.current.add_time | date:'yyyy-MM-dd'}}</p>
							</div>
							<div class="row">
								<div class="col-xs-3">
									<button class="btn btn-default btn-lg" ng-if="!inCart(streams.current.stream_id)">+</button>
									<button class="btn btn-default btn-lg" ng-if="inCart(streams.current.stream_id)">-</button>
								</div>
								<div class="col-xs-9">
									<button class="btn btn-primary btn-lg">Результаты</button>
								</div>
							</div>
						</div>
					</div>
				</div>
					
		</div> -->
	</div>
	</div>
	<!--<div class="row">-->
		<!--<div class="pull-right">-->
			<!--<button-->
				<!--class="btn btn-primary btn-block"-->
				<!--ng-click="showResults()"-->
				<!--ng-class="{'disabled':streams.cartLength == 0,'enabled':streams.cartLength > 0,}"-->
				<!--ng-if="streams.cartLength > 0"-->
			<!--&gt;-->
				<!--Показать результаты <span class="badge">{{streams.cartLength}}</span>-->
			<!--</button>-->
		<!--</div>-->
	</div>
</article>
</main>