﻿<!-- <script type="text/ng-template" id="editQuestionTextModal.html"> -->
	<div class="modal-header">
		<h3 class="modal-title">Изменить текст вопроса</h3>
	</div>
	<div text-angular text-angular-name='test' ng-model='htmlText'>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="ok()">Сохранить</button>
		<button class="btn btn-primary" type="button" ng-click="cancel()">Отмена</button>
	</div>
<!-- </script> -->