﻿
	<div class="modal-header">
		<h3 class="modal-title">Добавить изображение <i class="pull-right fa fa-times interactive-element" ng-click="cancel()"></i></h3>
	</div>
	<tabset>
		<!--<tab>-->
			<!--<tab-heading>Загрузить</tab-heading>-->
			<!--<div class="container-fluid">-->
				<!--<div ng-if="!image.imageURL">-->
					<!--<label  dropzone on-drop="uploadImage"-->
							<!--class="btn btn-default btn-lg btn-block" for="upload-photo">-->
						<!--Выбрать изображение-->
					<!--</label>-->
					<!--<input id="upload-photo" type="file" style="display:none;" accept="image/jpeg,image/png" fileread   on-changed="uploadImage">-->
					<!--&lt;!&ndash;<button class="btn" ng-click="uploadImage()">Загрузить</button>&ndash;&gt;-->
				<!--</div>-->
				<!--<div ng-if="loadingImage">Загрука <span class="fa fa-circle-o-notch fa-spin 3x"></span></div>-->
				<!--<div ng-if='imageLoaded == "failed"'>Ошибка загрузки!</div>-->
				<!--<div ng-if="image.imageURL != null">-->
					<!--<a href=""  ng-click="image.imageURL = null">сбросить</a><br>-->
					<!--<img class="img-preview" ng-src="{{image.imageURL}}"></img>-->
				<!--</div>-->
			<!--</div>-->
		<!--</tab>-->
		<tab select="getImagesList()" ng-if="method == 'lib'">
			<tab-heading>Моя библиотека</tab-heading>
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12">
						<div ng-if="!loadingList" class="pull-right"><a href="" ng-click="getImagesList()">обновить</a></div>
						<div ng-if="image.imageURL != null" class="pull-left"><a href=""  ng-click="image.imageURL = null">сбросить</a></div>
					</div>
				</div>
				<div ng-if="loadingList">Загрука <span class="fa fa-circle-o-notch fa-spin 3x"></span></div>
				<div ng-if='listLoaded == "failed"'>Ошибка загрузки. Попробовать <a href="" ng-click="getImagesList()">еще раз</a>?</div>
				<!--<div class="col-xs-6" ng-if="image.imageURL != null"><img class="img-preview" ng-src="{{image.imageURL}}"></img><br></div>-->
				<div class="fs-files row" ng-init="selectedItem = null">
					<div class="col-xs-2"
						 ng-repeat='img in imagesList | orderBy:$index:true'
						 ng-class="{
						 'bg-green': image.imageURL == img.image_url
						 }"
					>
						<a href="" class="thumbnail" ng-click="image.imageURL = img.image_url;ok();" ><img ng-src="{{img.preview_url}}"></img></a>
					</div>
				</div>
			</div>
		</tab>
		<tab ng-if="method == 'url'">
			<tab-heading>Ссылка</tab-heading>
			<div class="container-fluid">
				<input type="text" class="form-control" placeholder="вставьте URL изображения" ng-model="image.imageURL" ></input>
				<div ng-if="image.imageURL != null">
					<a href=""  ng-click="image.imageURL = null">сбросить</a><br>
					<img class="img-preview" ng-src="{{image.imageURL}}"></img>
				</div>
			</div>
		</tab>
	</tabset>
	<div class="modal-footer">
		<button class="btn btn-primary pull-right" type="button" ng-click="ok()">Добавить</button>
	</div>
