<main>
    <alert ng-if='authAlert' type='{{authAlert.type}}'>{{authAlert.msg}}</alert>
	<div class="auth container full-height text-center col-xs-12 col-sm-8 col-md-5 col-lg-4">

                <div class="min-panel" style="height:20%;">
                    <div class="text-xxl">
                        <div ng-if="roomState == 'loaded' || roomState == 'loading' || roomState == 'authorization'"><label><strong>Событие {{roomId}}</strong></label></div>
                        <div ng-if="roomState == 'notFound'"><label><strong>Событие {{roomId}} не найдено!</strong></label></div>
                    </div>
                    <div ng-if="roomState == 'loading'"><span class="fa fa-spinner fa-pulse fa-5x"></div>
                    <div ng-if="roomState == 'authorization'"><span class="fa fa-spinner fa-pulse fa-5x"></span></div>
                    <div class="text-lg" ng-if="roomState == 'notFound' || roomState == 'undefined'">Для входа укажите код доступа события</div>
                    <div class="text-lg" ng-if="roomInfo.status == 1">
                        <div ng-if="roomState == 'loaded' && roomInfo.access == 0 && needAuth">Анонимный вход</div>
                        <div ng-if="roomState == 'loaded' && roomInfo.access == 1 && needAuth">Необходима авторизация</div>
                        <div ng-if="roomState == 'loaded' && roomInfo.access == 2 && needAuth">Необходима авторизация</div>

                    </div>
                    <div class="text-lg" ng-if="roomInfo.status == 0">
                        <div ng-if="roomState == 'loaded'">
                            сейчас неактивна
                            <br>попробуйте позже...
                        </div>
                    </div>
                </div>
				<form class="auth-form full-height" style="height:80%;">
				<div class="">
					<div ng-if="roomState == 'notFound' || roomState == 'undefined'">
						<div class=" text-xxl">
							<div ng-if="roomState == 'undefined'"><label><strong>№ события {{roomId}}</strong></label></div>

							<div class="form-group" ng-class="{'has-error': roomState == 'notFound'}"><input class="form-control input-lg" ng-model='anotherRoomId'></div>
						</div>
						<div class="auth-submit text-xxl"><input type="submit" class="btn btn-lg btn-primary" value="Вход" ng-click='redirectToRoom(anotherRoomId)'></div>
					</div>

					<div ng-if="roomState == 'loaded' && roomInfo.status == true">
						<div class="row">
							<div class="col-xs-4">
								<a ng-href="{{social.vk}}" class="social-flat-btn social-btn-vk">
											<span class="social-btn-logo">
												<img style="width:25px;height:25px" class="social-btn-logo" src="../media/icons/auth/vk-social-network-logo.svg">
											</span>
											<span class="social-btn-text">
												ВКонтакте
											</span>
								</a>
							</div>
							<div class="col-xs-4">
								<a ng-href="{{social.google}}" class="social-flat-btn social-btn-google">
											<span class="social-btn-logo">
												<img style="width:25px;height:25px" class="social-btn-logo" src="../media/icons/auth/google_1.svg">
											</span>
											<span class="social-btn-text">
												Google
											</span>
								</a>
							</div>
							<div class="col-xs-4">
								<a ng-href="{{social.fb}}" class="social-flat-btn social-btn-facebook">
											<span class="social-btn-logo">
												<img style="width:25px;height:25px" class="social-btn-logo" src="../media/icons/auth/facebook_1.svg">
											</span>
											<span class="social-btn-text">
												Facebook
											</span>
								</a>
							</div>
						</div>
						<div class="row" ng-if="roomInfo.access != 2">
							<p class="text-center">или</p>
						</div>
						<div class="form-group" ng-if="roomInfo.access == 1 && needAuth"
							 ng-class="{'has-error': authErrorObject.firstName == 'empty'}"
						>
							<label class="text-xxl pull-left" for="InputFirstname">
								Имя
								<small ng-if="authErrorObject.firstName == 'empty'">не указано!</small>
							</label>
							<input type="text" class="form-control input-lg" ng-model='input.firstName'>
						</div>
						<!--<div class="form-group" ng-if="roomInfo.access == 1 && needAuth">-->
							<!--<label class="contol-label pull-left" for="InputSecondname">Фамилия</label>-->
							<!--<input type="text" class="form-control input-lg" ng-model='input.secondName'></input>-->
						<!--</div>-->

						<!-- ПОКА УБИРАЕМ -->
						<!--<div class="form-group" ng-if="roomInfo.access == 2 && needAuth"-->
							 <!--ng-class="{'has-error': authErrorObject.username == 'empty' || authErrorObject.authError}"-->
						<!--&gt;-->
							<!--<label for="InputLogin" class="control-label text-xxl pull-left">Логин</label>-->
							<!--<input type="text" class="form-control input-lg" id="InputLogin" placeholder="email" ng-model='input.username'>-->
						<!--</div>-->
						<!--<div class="form-group" ng-if="roomInfo.access == 2 && needAuth"-->
							 <!--ng-class="{'has-error': authErrorObject.username == 'empty' || authErrorObject.authError}"-->
						<!--&gt;-->
							<!--<label for="InputPassword" class="control-label text-xxl pull-left">Пароль</label>-->
							<!--<input type="password" class="form-control input-lg" id="InputPassword" placeholder="пароль" ng-model='input.password'>-->
						<!--</div>-->
						<!--<div class="form-group" ng-if="needRoomPassword"-->
							 <!--ng-class="{'has-error': authErrorObject.roomPassword == 'wrongValue'}"-->
						<!--&gt;-->
							<!--<label for="InputPassword" class="control-label text-xxl pull-left">-->
								<!--Пароль урока <small ng-if="authErrorObject.roomPassword == 'wrongValue'">неправильный!</small>-->
							<!--</label>-->
							<!--<input type="password" class="form-control input-lg" ng-model="input.roomPassword" placeholder="пароль урока"></input>-->
						<!--</div>-->
						<div ng-if="roomInfo.access != 2">
							<div class='auth-submit' ng-if="needAuth || needRoomPassword">
								<button type="submit" class="btn btn-primary btn-lg" ng-click='logIn()'>Вход</button>
							</div>
						</div>
					</div>
                    <div href="" ng-if="roomState == 'loaded'" ng-click="changeRoom()" class="min-panel"><a href="">ошиблись?</a></div>
				</div>
				</form>
	</div>
</main>

<!--<div class="container-fluid">-->
	<!--<div class="row">-->
		<!--<div class="col-lg-4 col-lg-offset-4-->
			<!--col-md-4 col-md-offset-4-->
			<!--col-xs-12">-->
			<!--<div ng-if="roomState == 'loading'">-->
				<!--<h1>Комната {{roomId}}</h1>-->
				<!--<h3>проверка состояния...<i class="fa fa-circle-o-notch fa-spin"></i></h3>-->
			<!--</div>-->
			<!--<div ng-if="roomState == 'authorization'">-->
				<!--<h1>Комната {{roomId}}</h1>-->
				<!--<h3>авторизация...<i class="fa fa-circle-o-notch fa-spin"></i></h3>-->
			<!--</div>-->
			<!--<div ng-if="roomState == 'notFound' || roomState =='undefined'">-->
				<!--<h1>Комната {{roomId}} </h1>-->
				<!--<h2 ng-if="roomState == 'notFound'">не найдена!</h2>-->
				<!--<h3>укажите адрес комнаты вручную</h3>-->
				<!--<div>-->
					<!--<form>-->
						<!--<div class="form-group"-->
						<!--ng-class="{'has-error': roomState == 'notFound'}"-->
						<!--&gt;-->
							<!--<label for="InputRoomNumber" class="control-label">№ комнаты</label>-->
							<!--<input type="text" class="form-control input-lg" ng-model='anotherRoomId'></input>-->
						<!--</div>-->
						<!--<div class="text-right">-->
							<!--<button type="submit" class="btn btn-primary btn-lg" ng-click='redirectToRoom(anotherRoomId)'>Войти</button>-->
						<!--</div>-->
					<!--</form>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div ng-if="roomInfo.status == 0">-->
				<!--<h1>Комната {{roomId}} </h1>-->
				<!--<h2>в настоящий момент неактивна</h2>-->
				<!--<h3>попробуйте позже...</h3>-->
			<!--</div>-->
			<!--<div ng-if="roomState == 'loaded' && roomInfo.status == true">-->
				<!--<h1>Комната {{roomId}} <small><a ng-click="changeRoom()">(ошиблись?)</a></small></h1>-->
			<!--</div>-->
					<!--<h2 ng-if="roomInfo.access == 0 && needAuth">Анонимный вход</h2>-->
					<!--<h2 ng-if="roomInfo.access == 1 && needAuth">Необходима авторизация</h2>-->
					<!--<h2 ng-if="roomInfo.access == 2 && needAuth">Необходима авторизация в системе...</h2>-->
					<!--<form>-->
						<!--<div class="form-group" ng-if="roomInfo.access == 1 && needAuth"-->
							<!--ng-class="{'has-error': authErrorObject.firstName == 'empty'}"-->
						<!--&gt;-->
								<!--<label class="control-label" for="InputFirstname">-->
									<!--Имя-->
										<!--<small ng-if="!authErrorObject.firstName">(обязательно)</small>-->
										<!--<small ng-if="authErrorObject.firstName == 'empty'">не указано!</small>-->
								<!--</label>-->
								<!--<input type="text" class="form-control input-lg" ng-model='input.firstName'></input>-->
						<!--</div>-->
						<!--<div class="form-group" ng-if="roomInfo.access == 1 && needAuth">-->
								<!--<label class="contol-label" for="InputSecondname">Фамилия</label>-->
								<!--<input type="text" class="form-control input-lg" ng-model='input.secondName'></input>-->
						<!--</div>-->
						<!--<div class="form-group" ng-if="roomInfo.access == 2 && needAuth"-->
							<!--ng-class="{'has-error': authErrorObject.username == 'empty' || authErrorObject.authError}"-->
						<!--&gt;-->
							<!--<label for="InputLogin" class="control-label">Логин</label>-->
							<!--<input type="text" class="form-control input-lg" id="InputLogin" placeholder="email" ng-model='input.username'>-->
						<!--</div>-->
						<!--<div class="form-group" ng-if="roomInfo.access == 2 && needAuth"-->
							<!--ng-class="{'has-error': authErrorObject.username == 'empty' || authErrorObject.authError}"-->
						<!--&gt;-->
							<!--<label for="InputPassword" class="control-label">Пароль</label>-->
							<!--<input type="password" class="form-control input-lg" id="InputPassword" placeholder="пароль" ng-model='input.password'>-->
						<!--</div>-->
						<!--<div class="form-group" ng-if="needRoomPassword"-->
							<!--ng-class="{'has-error': authErrorObject.roomPassword == 'wrongValue'}"-->
						<!--&gt;-->
							<!--<label for="InputPassword" class="control-label">-->
								<!--Пароль комнаты <small ng-if="authErrorObject.roomPassword == 'wrongValue'">неправильный!</small>-->
							<!--</label>-->
							<!--<input type="password" class="form-control input-lg" ng-model="input.roomPassword" placeholder="пароль комнаты"></input>-->
						<!--</div>-->
						<!--<div class='text-right' ng-if="needAuth || needRoomPassword">-->
							<!--<button type="submit" class="btn btn-primary btn-lg" ng-click='logIn()'>Вход</button>-->
						<!--</div>-->
					<!--</form>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->