﻿<li
	ng-class="{
		'panel-danger': group == error.group,
		'active text-dark-blue': group == selectedGroup,
	}"
	style="cursor: pointer"
	ng-drag="true" ng-drag-scroll="true" scroll-element=".queue-wrapper" ng-drag-data="group"
	drag-axis="y"
>
	<!--drag n drop-->
	<!--ng-drag="true" ng-drag-scroll="true" scroll-element=".queue-wrapper" ng-drag-data="group"-->
	<div class="queue-item row" >
		<div class="queue-item-head">
			<a href="" ng-click="moveGroupUp(group);$event.stopPropagation()" class="queue-item-move"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
			<div class="queue-item-delete" ng-click='delGroup(group.group_id);$event.stopPropagation();'>
				<i class="fa fa-times" aria-hidden="true"></i>
			</div>
		</div>
		<div class="queue-quize">
			<div class="quiz-image-wrapper col-xs-5">
				<img ng-if="image != null" ng-src="{{image}}">
			</div>
			<div class="col-xs-7" style="padding-left:0;" >
				<div class="queue-quize-title text-lg text-dark-blue">Вопрос {{group.position}} </div>
				<div class="queue-quize-desc text-sm text-dark-blue" >{{text}}</div>
				<!--</div>-->

			</div>
			<a href="" ng-click="moveGroupDown(group);$event.stopPropagation()" class="queue-item-move"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
			<div class="pull-right"><a href="" title="копировать вопрос" class="interactive-element" ng-click='copyGroup(group.group_id);$event.stopPropagation()'><i class="fa fa-clone"></i></a></div>
		</div>
	</div>
</li>