﻿<div class="quize-opt min-panel row" >
	<div class="col-xs-7">
		<div class="quize-opt-desc">
			<div>
				<label class="">Вопрос</label>
			</div>
			<div>
				<div text-angular text-angular-name='test' ng-model='text' ></div>
			</div>
		</div>
	</div>
	<div class="col-xs-5 text-left">
		<div>
			<label>Изображение</label>
		</div>
			<label class="quize-opt-image" for="upload-photo" dropzone on-drop="uploadImage" style="margin-top: 33px;" >
				<div class="hover-item top-and-bottom quize-opt-image ">

						<div >
							<img ng-if="!loadingImage && imageLoaded != 'failed' && image != null" ng-src="{{image}}">
							<img ng-if="loadingImage || imageLoaded == 'failed' || image == null" ng-src="../media/icons/test/no_image.png">
						</div>
						<div class="info">
							<span class="title" ng-if="!loadingImage && imageLoaded == 'failed'">Не удалось загрузить изображение</span>
							<div class="title" ng-show="loadingImage">
								загрузка <i class="fa fa-circle-o-notch fa-spin"></i>
							</div>
							<div class="desc text-dark-blue" ng-show="image == null">загрузить изображение</div>
							<div class="hover-item-menu">
								<div><a class="hover-menu-item" href="" ng-click="insertImage('lib')">из библиотеки</a></div>
								<div><a class="hover-menu-item" href="" ng-click="insertImage('url')">по ссылке</a></div>
								<div ng-if="image != null"><a class="hover-menu-item delete" href="" ng-click="deleteImage(question)">удалить</a></div>
							</div>
						</div>

				</div>
			</label>
			<input id="upload-photo" type="file" style="display:none;" accept="image/jpeg,image/png" fileread   on-changed="uploadImage">
		</div>
	</div>
</div>