<div class="modal-header">
    <h3 class="modal-title">Добавить активность <i class="text-right fa fa-times queue-item-delete" ng-click="cancel()"></i></h3>
</div>
<div class="modal-body">
    <!-- ACTIVITY BAR -->
    <!--<div class="btn-group">-->
    <div class="row">
        <div class="col-xs-3">
            <label class="btn btn-default btn-block"
                   title="да/нет"
                   ng-model="activityType" btn-radio="'binary'">
                <span style="font-size: 20px;">да/нет</span><br>
                <span>Вопрос</span><br>
            </label>
        </div>
        <div class="col-xs-3">
            <label class="btn btn-default btn-block"
                   title="опрос"
                   ng-model="activityType" btn-radio="'poll'">
                <i class="fa fa-bar-chart fa-2x"></i><br>
                <span>опрос</span>
            </label>
        </div>
        <div class="col-xs-3">
            <label class="btn btn-default btn-block"
                   title="свободный ответ"
                   ng-model="activityType" btn-radio="'openAnswer'">
                <i class="fa fa-comment-o fa-2x" aria-hidden="true"></i><br>
                <span>ответ</span>
            </label>
        </div>
        <div class="col-xs-3">
            <label class="btn btn-default btn-block"
                   ng-model="activityType" btn-radio="'library'"
                   title="открыть библиотеку">
                <i class="fa fa-folder-open-o fa-2x"></i><br>
                <span>библиотека</span>
            </label>
        </div>
    </div>
    <!--</div>-->
    <div class="row"
         ng-if="activityType == 'binary' ||
                activityType == 'poll' ||
                activityType == 'openAnswer'"
    ><div class="col-xs-12">
        <span>Вопрос</span><br>
            <input type="text" class="form-control"
                   placeholder="как дела?"
                   ng-model="activityQuestion.text">
    </div></div>
    <div class="row " ng-if="activityType == 'poll'"><div class="col-xs-12">
        <span>Ответы</span>
        <!-- ERROR MESSAGE -->
        <span class="text-danger"
              ng-show="error">Ошибка:
            <span ng-show="error.type == 'no answer'">нет текста ответа</span>
        </span>
        <!-- END ERROR MESSAGE -->
        <br>
        <div class="quize-opt-answer"
                ng-repeat="answer in pollAnswers track by $index">
            <input type="text" ng-model="answer.text" class="">
            <a href class="answer-delete"
                    ng-show="pollAnswers.length > 2"
                    ng-click="removePollAnswer($index)"
            ><i class="fa fa-times"></i></a>
            <br>
        </div>
        <button class="btn btn-default"
                ng-click="addPollAnswer()"
        >
            добавить ответ
        </button>
    </div></div>

    <div class="row"
         ng-if="activityType == 'library'"
    ><div class="col-xs-12">
        <ol class="breadcrumb">
            <div ng-show="fsState == 'loading'">
                <span class="fa fa-circle-o-notch fa-spin fa-2x"></span>
            </div>
            <div ng-show="fsState == 'failed'">
                Ошибка загрузки
            </div>
            <li ng-repeat='pathItem in explorer.folder.path' ng-show="fsState == 'loaded'">
                <a href='' ng-if="$index > 0" ng-click='openFolder(pathItem.folder_id)'>{{pathItem.name}}</a>
                <a href='' ng-if="$index == 0 && explorer.folder.path.length > 1" ng-click='openFolder(pathItem.folder_id)'>корень</a>
            </li>
        </ol>
        <div class="list-group">
            <a href=""
               class="list-group-item"
               ng-if="explorer.folder.path.length > 1"
               ng-click="explorerClick({item_type: 0, folder_id: explorer.folder.path.slice(-2,-1)[0].folder_id})"
            >
                ..
            </a>
            <a href =""
               ng-repeat='item in explorer.folder.list | orderBy:"item_type"'
               class="list-group-item"
               ng-click="explorerClick(item);"
               ng-class="{'active': selectedItem == item,
						}"
               ng-if="!(item.item_type != 0 && item.questions == 0)"
            >
                <span class="fa fa-folder-open" ng-if="item.item_type == 0" aria-hidden="true"></span>
                <span class="fa"
                      ng-class="{
							  'fa-spin fa-circle-o-notch': waitForQueue == item,
							  'fa-list': waitForQueue != item
							  }"
                      ng-if="item.item_type == 1 || item.item_type == 2" aria-hidden="true"></span>
                {{item.name}}
                <!--<i ng-show="waitForQueue == item" class="fa fa-spin fa-circle-o-notch "></i>-->
                <!--<div ng-show="selectedItem == item">-->
                    <!--<span ng-if="item.test_type=0">Тест</span><br>-->
                    <!--<span ng-if="item.test_type=1">Опрос</span><br>-->
                    <!--<small>Вопросов: {{item.questions}}</small><br>-->
                    <!--<small ng-if="item.timer > 0">Таймер: {{item.timer}} сек.</small>-->
                <!--</div>-->
            </a>
        </div>
    </div></div>
    <!-- END ACTIVITY BAR -->
</div>
<div class="modal-footer">
    <button class="btn btn-primary pull-right" type="button"
            ng-if="activityType == 'binary' ||
                activityType == 'poll' ||
                activityType == 'openAnswer'"
            ng-click="addActivity()">Создать</button>
</div>