    <div class="modal-header">
        <h3 class="modal-title">Начать прохождение</h3>
    </div>
    <div class="modal-body">
        <ul class="run-test-settings" style="padding:0;margin:0">
            <li>
                <input class="iq-forms iq-radio radio-type-run-test" type="radio" id="type-run-tets-async" name="type-run-test" ng-model="paceMode" ng-value="1">
                <label class="type-run-test iq-forms font-roboto-regular" for="type-run-tets-async">
                    <div class="type-run-test-title text-xl">Асинхронный режим</div>
                    <div class="type-run-test-desc text-sm">В этом режиме студенты проходят тест или опрос в удобном им темпе. Возможно задание ограничения по времени и перемешивание вопросов</div>
                </label>
                <input class="iq-forms iq-radio radio-type-run-test" type="radio" id="type-run-tets-sync" name="type-run-test" ng-model="paceMode" ng-value="2">
                <label class="type-run-test iq-forms font-roboto-regular" for="type-run-tets-sync">
                    <div class="type-run-test-title text-xl">Синхронный режим</div>
                    <div class="type-run-test-desc text-sm">В этом режиме лектор управляет ходом теста или опроса, а студенты отвечают синхронно в рамках каждого вопроса</div>
                </label>
            </li>
            <li>
                <div class="params-run-test">
                    <div class="params-run-test-title">Изменить параметры</div>
                    <div class="text-md">
                        <div class="min-panel">
                            <input id="run-test-param-1" type="checkbox" class="iq-forms iq-checkbox" ng-model="options.showResults">
                            <label class="iq-forms text-md font-arial font-arial" for="run-test-param-1">Показывать правильность?</label>
                        </div>
                        <div class="min-panel" ng-if="test.type == 0 && paceMode == 1">
                            <input id="run-test-param-2" type="checkbox" class="iq-forms iq-checkbox" ng-model="override.overrideRandom">
                            <label class="iq-forms text-md font-arial font-arial" for="run-test-param-2">Перемешать вопросы</label>
                        </div>
                        <div class="min-panel" ng-if="test.type == 0 && paceMode == 1">
                            <input class="text-sm" type="text" style="width:50px;" placeholder="" ng-model="override.overrideTimer">
                            <label class="text-md iq-forms font-arial">сек, время прохождения</label>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary pull-left" type="button" ng-click="cancel()">Отмена</button>
        <button class="btn btn-primary pull-right" type="button" ng-click="ok()">Начать</button>
    </div>