﻿<main ng-cloack>
		<alert ng-if="state == 'failed'" type="danger">Ошибка инициализации. Подключиться <a href="" ng-click="connect()">еще раз?</a></alert>


		<article class="row" style="margin: 0px 0px 0px 0px;" >
			<div class="queue-item-bar" >
				<div>
					<div class="pull-left">
						<div ng-show="adminRoom.lessonState == 'active'">
							<span ng-if="!adminRoom.currentTest.test">Нет текущих активностей</span>
							<span ng-if="adminRoom.currentTest.test.type == 0">Тест: </span>
							<span ng-if="adminRoom.currentTest.test.type == 1">Опрос: </span>
							<span class="">{{adminRoom.currentTest.test.name}} /</span>
							<span ng-show="adminRoom.testState == 'finish'"><small>(завершен)</small></span>
							<span ng-show="adminRoom.testState == 'cancel'"><small>(отменен)</small></span>
							<span class="" ng-if='adminRoom.lessonState != "finish" && adminRoom.testState == "active" && !waitForTestEnded'>
								<a href="" class="text-left"
								   ng-if="currentTest.paceMode == 2"
								   ng-click='cancelTest()'><small>отменить</small>
								</a>
								<a href="" class="text-left"
								   ng-if="currentTest.paceMode == 1"
								   ng-click='finishTest()'><small>завершить</small>
								</a>
								<!--<button ng-if="currentTest.paceMode == 1" href="" class="btn btn-primary pull-right" ng-click='finishTest()'>Завершить</button>-->
							</span>
							<span class="" ng-if="waitForTestEnded">
								<span class="fa fa-circle-o-notch fa-spin pull-right"></span>
							</span>
						</div>
					</div>
					<div class="pull-right">
						<span ng-if="state == 'initialized' && adminRoom.lessonState == null" >
							Нет активного события. <a href ng-click="startLesson()">Начать?</a>
						</span>
						<span ng-if="state == 'initialized' && adminRoom.lessonState != null">
							Событие # <a href="" popover-template="popoverContent" popover-placement="bottom">{{adminRoom.config.url}}</a>
							<a href=""  ng-click="restartLesson()" title="новое событие">
								<i ng-class="{
									'fa-spin': waitForLessonFinished
									}"
								   class="fa fa-refresh"></i>
							</a>
						</span>
						<!--<button class="btn"-->
								<!--ng-click="editAccessSettings()"-->
								<!--title="настройки доступа"-->
						<!--&gt;-->
							<!--<i class="fa fa-cog" ></i>-->
						<!--</button>-->
						<!--<button href="" class="btn"-->
								<!--ng-click="changeStatus(!adminRoom.config.status)">-->
							<!--<i class="fa fa-lock" ng-if="!adminRoom.config.status" title="урок закрыт"></i>-->
							<!--<i class="fa fa-unlock-alt" ng-if="adminRoom.config.status" title="урок открыт"></i>-->
						<!--</button>-->

						<!--<a href="" "text-sm" ng-click="editAccessSettings()">(настройки)</a>-->

					</div>
					<!--<div class="text-right col-xs-3" ng-show="adminRoom.lessonState == 'active'">-->
						<!--<button class="btn" ng-click="presentationMode = !presentationMode" title="Режим презентации"><i class="fa fa-television" aria-hidden="true"></i></button>-->
					<!--</div>-->
				</div>
			</div>
			<div class="content" id="present" ng-class="{'presentation':presentationMode}" >

				<aside id="left-bar" class="control-bar pull-left"
					   ng-class="{'minifed': true}"
					   ng-init="queueMode = 'tests'"
				>
					<!-- NEXT ACTIVITY BUTTON -->
					<div ng-if="adminRoom.testState == 'active'">
						<div class="btn btn-block btn-primary control-bar-item"
							 ng-if='adminRoom.questionState == "finished"'
							 ng-click="enableNextQuestion()"
							 title="перейти к следующему вопросу"
						>
							<i ng-class="{
								'fa fa-forward': !waitForQuestionFinished,
								'fa fa-circle-o-notch fa-spin': waitForQuestionFinished,
							}"></i>
						</div>
						<div class="btn btn-block btn-primary control-bar-item"
							 ng-if='adminRoom.questionState == "enabled"'
							 ng-click="finishQuestion()"
							 title="завершить вопрос"
						>
							<i ng-class="{
								'fa fa-check': !waitForQuestionEnabled,
								'fa fa-circle-o-notch fa-spin': waitForQuestionEnabled,
							}"></i>
						</div>
					</div>
					<!-- ADD ACTIVITY BUTTON -->
					<div id="" class="btn btn-block control-bar-item text-md"
						 title="добавить активность"
						 ng-click="addActivity();">
						<span class="queue-add-shortname"><strong class="queue-add-label">
							<i class="fa fa-plus"></i>
						</strong></span>
					</div>
					<!--<div id="queue-add" class="btn btn-block control-bar-item text-md"-->
					<!--ng-if="adminRoom.lessonState == 'active'"-->
					<!--ng-click="openExplorer();">-->
					<!--<span class="queue-add-shortname"><strong class="queue-add-label">+</strong></span>-->
					<!--</div>-->
					<!-- USER INFO BUTTON -->
					<div class="btn btn-block control-bar-item"
						 popover-template="'userPopoverTemplate.html'"
						 popover-title="Пользователи"
						 popover-placement="right"
					>
						<i class="fa fa-user" aria-hidden="true"></i> {{countOfOnlineUsers}}
					</div>
					<!-- VISUALISATION TYPE BUTTON -->
					<div class="" dropdown>
						<div dropdown-toggle
							 class="btn btn-block control-bar-item"
							 title="настройки визуализации"
						>
							<i ng-class="{
								'fa fa-bar-chart': visType == 'chart',
								'fa fa-list': visType == 'list',
								'fa fa-user': visType == 'students',
							}"></i><span class="fa fa-caret-down"></span>
						</div>
						<ul class="dropdown-menu" style="float:left;">
							<li>
								<div class="btn-group">
									<div class="btn" title="показать диаграммы ответов" ng-model="visType" btn-radio="'chart'">
										<i class="fa fa-bar-chart" aria-hidden="true"></i>
									</div>
									<div class="btn" title="показать список вопросов с ответами" ng-model="visType" btn-radio="'list'">
										<i class="fa fa-list" aria-hidden="true"></i>
									</div>
									<div class="btn" title="показать результаты пользователей" ng-model="visType" btn-radio="'students'">
										<i class="fa fa-user" aria-hidden="true"></i>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<!-- PRESENTATION MODE BUTTON -->
					<div class="btn btn-block control-bar-item"
						 title="режим презентации"
						 ng-model="presentationMode"
						 btn-checkbox
					>
						<i class="fa fa-television" aria-hidden="true"></i>
					</div>
					<!-- RESULTS BUTTON -->
					<!--<div class="btn-group btn-block" >-->
						<!--<div class="btn btn-block control-bar-item"-->
						   <!--ng-model="showResults"-->
						   <!--btn-checkbox-->
						   <!--title="показать/скрыть результаты"-->
						   <!--&gt;-->
							<!--<i ng-class="{-->
								<!--'fa fa-eye': showResults,-->
								<!--'fa fa-eye-slash': !showResults-->
								<!--}"-->
							   <!--class="fa"></i>-->
						<!--</div>-->
					<!--</div>-->
					<!-- LOCK BUTTON -->
					<div class="btn btn-block control-bar-item"
						 ng-click="changeStatus(!adminRoom.config.status)"
						 title="открыть/закрыть доступ"
					>
						<i class="fa fa-lock" ng-if="!adminRoom.config.status"></i>
						<i class="fa fa-unlock-alt" ng-if="adminRoom.config.status"></i>
					</div>
					<!-- SETTINGS BUTTON -->
					<div class="btn btn-block control-bar-item"
						 ng-click="editAccessSettings()"
						 title="настройки"
					>
						<i class="fa fa-cog" ></i>
					</div>
					<!--<tabset justified="true" class='queue-tab' style="margin-top: -19px;" type="tabs">-->
					<!--&lt;!&ndash; QUEUE TAB &ndash;&gt;-->
					<!--<tab>-->
					<!--<tab-heading><i class="fa fa-bars" aria-hidden="true"></i> {{adminRoom.queue.list.length}}</tab-heading>-->
					<!--<div class="queue-title bg-dark-blue text-center">-->
					<!--&lt;!&ndash;<div >&ndash;&gt;-->
					<!--&lt;!&ndash;<i class="control-bar-toggler pull-right" ng-class="{'fa fa-arrow-left':showQueue, 'fa fa-bars': showQueue == false}" aria-hidden="true" ng-click="toggleQueue()"></i>&ndash;&gt;-->
					<!--&lt;!&ndash;</div>&ndash;&gt;-->
					<!--<span ng-if="queueMode == 'tests' && adminRoom.queue.list">Очередь</span>-->
					<!--<div ng-if="queueMode == 'fs'">Тесты</div>-->
					<!--&lt;!&ndash;<span>&ndash;&gt;-->
					<!--</div>-->
					<!--<div ng-if='!adminRoom.queue.list.length && !adminRoom.testState' class="text-center">-->
					<!--<small>Нет тестов/опросов в очереди</small>-->
					<!--</div>-->
					<!--<div id="queue-list" class="queue-wrapper" >-->
					<!--<ul class="queue row" style="margin:0">-->
					<!--<div ng-show="queueMode == 'tests'">-->
					<!--<li class="text-dark-blue" ng-if='adminRoom.testState != null '-->
					<!--ng-class="{-->
					<!--'active': adminRoom.testState == 'active' && adminRoom.lessonState !='finish',-->
					<!--}"-->
					<!--&gt;-->
					<!--<div class="queue-item">-->
					<!--<div class="queue-item-head">-->
					<!--<div class="queue-item-status pull-right" ng-if='adminRoom.testState == "active" && adminRoom.lessonState != "finish"'>сейчас</div>-->
					<!--<div class="queue-item-status pull-right" ng-if='adminRoom.testState == "finish" && !waitForTestEnded || adminRoom.lessonState =="finish"'>завершен</div>-->
					<!--<div class="queue-item-status pull-right" ng-if='adminRoom.testState == "cancel" && !waitForTestEnded'>отменен</div>-->
					<!--<div class="queue-item-type">-->
					<!--<div ng-if="adminRoom.currentTest.test.type == 0">Тест</div>-->
					<!--<div ng-if="adminRoom.currentTest.test.type == 1">Опрос</div>-->
					<!--</div>-->
					<!--</div>-->
					<!--<div class="queue-item-title">{{adminRoom.currentTest.test.name}}</div>-->
					<!--<div class="queue-item-desc">вопросов: {{adminRoom.currentTest.test.questions}}</div>-->
					<!--<div class="queue-item-desc" ng-if="adminRoom.currentTest.test.timer">таймер: {{adminRoom.currentTest.test.timer}} сек.</div>-->
					<!--<div class="queue-item-desc" ng-if='adminRoom.lessonState != "finish" && adminRoom.testState == "active" && !waitForTestEnded'>-->
					<!--<a href="" class="text-left" ng-click='cancelTest()'>отменить</a>-->
					<!--<button ng-if="currentTest.paceMode == 1" href="" class="btn btn-primary pull-right" ng-click='finishTest()'>Завершить</button>-->
					<!--<button ng-if='adminRoom.questionState == "enabled"' href="" class="btn btn-primary pull-right" ng-click="finishQuestion()">Завершить вопрос <span ng-show="waitForQuestionFinished" class="fa fa-circle-o-notch fa-spin pull-right"></span></button>-->
					<!--<button class="btn btn-primary pull-right" ng-if='adminRoom.questionState == "finished"' ng-click="enableNextQuestion()">Следующий вопрос <span ng-show="waitForQuestionEnabled" class="fa fa-circle-o-notch fa-spin pull-right"></span></button>-->
					<!--</div>-->
					<!--<div class="queue-item-desc" ng-if="waitForTestEnded">-->
					<!--<span class="fa fa-circle-o-notch fa-spin pull-right"></span>-->
					<!--</div>-->
					<!--</div>-->
					<!--</li>-->
					<!--<li ng-repeat="test in adminRoom.queue.list" >-->
					<!--<div class="queue-item text-dark-blue">-->
					<!--<div class="queue-item-head">-->
					<!--<div class="queue-item-delete" ng-click="deleteTest($index+1,test.test_id)">-->
					<!--<i class="fa fa-times" aria-hidden="true" ></i>-->
					<!--</div>-->
					<!--<div class="queue-item-type">-->
					<!--<div ng-if="test.type == 0">Тест</div>-->
					<!--<div ng-if="test.type == 1">Опрос</div>-->
					<!--</div>-->
					<!--</div>-->
					<!--<div class="queue-item-title">{{test.name}}</div>-->
					<!--<div class="queue-item-desc">вопросов: {{test.questions}}</div>-->
					<!--<div class="queue-item-desc" ng-if="adminRoom.currentTest.test.timer">таймер: {{test.timer}} сек.</div>-->
					<!--<div class="queue-item-desc text-right">-->
					<!--<a href="" ng-click="resume($index+1)" ng-if="!waitForTestActivated">Начать</a>-->
					<!--<span class="fa fa-circle-o-notch fa-spin" ng-if="waitForTestActivated"></span>-->
					<!--</div>-->
					<!--</div>-->
					<!--</li>-->
					<!--</div>-->
					<!--<div ng-show="queueMode == 'fs'">-->
					<!--<div ng-show="fsState == 'loaded'">-->
					<!--<ol class="breadcrumb">-->
					<!--<li ng-repeat='pathItem in explorer.folder.path' ><a href='' ng-click='openFolder(pathItem.folder_id)'>{{pathItem.name}}</a></li>-->
					<!--</ol>-->
					<!--<li class="text-dark-blue"-->
					<!--ng-class="{'active': count > 0}"-->
					<!--ng-repeat='item in explorer.folder.list | orderBy:"item_type"'-->
					<!--ng-init="count = 0"-->
					<!--ng-click="explorerClick(item, $event);count = count+1;" style="cursor: pointer;"-->
					<!--&gt;-->
					<!--<div class="queue-item" >-->
					<!--<div class="queue-item-status pull-right">-->
					<!--<div ng-if="item.test_type == 0">тест</div>-->
					<!--<div ng-if="item.test_type == 1">опрос</div>-->
					<!--</div>-->
					<!--<div class="queue-item-title">-->
					<!--<span class="fa fa-folder-open" ng-if="item.item_type == 0" aria-hidden="true"></span>-->
					<!--<span class="fa fa-list" ng-if="item.item_type == 1 || item.item_type == 2" aria-hidden="true"></span>-->
					<!--{{item.name}}-->
					<!--</div>-->
					<!--<div class="queue-item-desc" ng-if="count > 0">добавлено в очередь! {{count}}</div>-->
					<!--</div>-->
					<!--</li>-->
					<!--</div>-->
					<!--<div ng-show="fsState == 'loading'">-->
					<!--<span class="fa fa-circle-o-notch fa-spin fa-2x"></span>-->
					<!--</div>-->
					<!--<div ng-show="fsState == 'failed'">-->
					<!--Ошибка загрузки-->
					<!--</div>-->
					<!--</div>-->
					<!--</ul>-->
					<!--</div>-->
					<!--&lt;!&ndash; <div id="queue-add" class="queue-item-add text-center bg-space-gray text-dark-gray" ng-click="openExplorer()">-->
					<!--<span class="queue-add-shortname"><strong class="queue-add-label">+</strong></span>-->
					<!--<span class="queue-add-fullname"><strong class="queue-add-label">добавить</strong></span>-->
					<!--</div> &ndash;&gt;-->
					<!--<div ng-switch="queueMode" >-->
					<!--&lt;!&ndash; ADD TESTS BUTTON &ndash;&gt;-->
					<!--<div id="" class="btn btn-primary btn-block queue-item-add text-md"-->
					<!--ng-if="adminRoom.lessonState == 'active'"-->
					<!--ng-click="addActivity();">-->
					<!--<span class="queue-add-shortname"><strong class="queue-add-label">+</strong></span>-->
					<!--<span class="queue-add-fullname"><strong class="queue-add-label">InstaQuiz</strong></span>-->
					<!--</div>-->
					<!--<div id="queue-add" class="btn btn-primary btn-block queue-item-add text-md"-->
					<!--ng-if="adminRoom.lessonState == 'active'"-->
					<!--ng-click="openExplorer();">-->
					<!--<span class="queue-add-shortname"><strong class="queue-add-label">+</strong></span>-->
					<!--<span class="queue-add-fullname"><strong class="queue-add-label">Добавить</strong></span>-->
					<!--</div>-->
					<!--&lt;!&ndash; CLOSE FS BUTTON &ndash;&gt;-->
					<!--<div id="queue-add" class="btn btn-primary btn-block queue-item-add text-md"-->
					<!--ng-switch-when="fs"-->
					<!--ng-click="$parent.queueMode = 'tests';">-->
					<!--&lt;!&ndash;<span class="queue-add-shortname"><strong class="queue-add-label">x</strong></span>&ndash;&gt;-->
					<!--<span class="queue-add-fullname"><strong class="queue-add-label">Закрыть</strong></span>-->
					<!--</div>-->
					<!--</div>-->

					<!--</tab>-->
					<!--&lt;!&ndash; END QUEUE TAB &ndash;&gt;-->
					<!--&lt;!&ndash;USER TAB &ndash;&gt;-->
					<!--<tab>-->
					<!--<tab-heading><i class="fa fa-user" aria-hidden="true"></i> {{countOfOnlineUsers}}</tab-heading>-->
					<!--<div ng-if="countOfOnlineUsers == 0" class="text-center">-->
					<!--<small>Нет подключенных пользователей</small>-->
					<!--</div>-->
					<!--<div class="queue-title bg-dark-blue text-center">-->
					<!--<span ng-if="countOfOnlineUsers > 0">Студенты</span>-->
					<!--</div>-->
					<!--&lt;!&ndash; user list &ndash;&gt;-->
					<!--<div id="user-list" class="queue-wrapper" >-->
					<!--<ul class="queue row" style="margin:0">-->
					<!--<div class="list-group text-dark-blue" >-->
					<!--<li ng-repeat="user in adminRoom.users" ng-if="user.del_reason == null">-->
					<!--<div class="queue-item">-->

					<!--<div class="queue-item-delete">-->
					<!--<i class="fa fa-times" aria-hidden="true" ng-click="killStudent(user.workingUser_id)"></i>-->
					<!--</div>-->
					<!--<div class="user-item">-->
					<!--<span ><i class="fa fa-circle text-green" aria-hidden="true"></i></span>-->
					<!--{{user.first_name}} {{user.second_name}}-->
					<!--</div>-->
					<!--</div>-->
					<!--</li>-->
					<!--</div>-->
					<!--</ul>-->
					<!--</div>-->
					<!--</tab>-->
					<!--</tabset>-->
				</aside>

				<div class="presentation-bar text-xxl" ng-if="presentationMode">
					Для подключения перейдите на <b><a href="">www.inqz.ru</a></b> и введите номер события <b>{{adminRoom.config.url}}</b>
				</div>
				<alert ng-if="state == 'initialized' && !adminRoom.connected" type="danger">
					<div ng-if="reconnectState == null">Связь потеряна. Подключиться <a href="" ng-click="reconnect()">еще раз?</a></div>
					<div ng-if="reconnectState == 'failed'">Переподключение через {{tryReconnectTimer}}. Подключиться <a href="" ng-click="reconnect();">еще раз?</a></div>
					<div ng-if="reconnectState == 'reconnecting'">Переподключение...<i class="fa fa-circle-o-notch fa-spin"></i></div>
				</alert>
				<div class="queue-item-info" ng-show="adminRoom.lessonState">
					<div class="content-item font-roboto-medium col-xs-12" >
						<div class="text-right pull-right">
							<!--<div class="btn-group" dropdown ng-init="visSubType = 'chart'">-->
								<!--<button id="single-button" type="button" class="btn" dropdown-toggle ng-disabled="disabled">-->
									<!--<span class="fa"-->
											<!--ng-class="{-->
												<!--'fa-bar-chart': visType == 'byQuestions' && visSubType == 'chart',-->
												<!--'fa-list': visType == 'byQuestions' && visSubType == 'list',-->
												<!--'fa-user': visType == 'byStudents'-->

											<!--}"-->
									<!--&gt;</span><span class="caret"></span>-->
								<!--</button>-->
								<!--<ul class="dropdown-menu" role="menu" aria-labelledby="single-button">-->
									<!--<li role="menuitem"><a href="" class="fa fa-bar-chart" ng-click="visType = 'byQuestions';visSubType = 'chart';"></a></li>-->
									<!--<li role="menuitem"><a href="" class="fa fa-list" ng-click="visType = 'byQuestions';visSubType = 'list';"></a></li>-->
									<!--<li role="menuitem"><a href="" class="fa fa-user" ng-click="visType = 'byStudents'"></a></li>-->
								<!--</ul>-->
							<!--</div>-->
							<div>
								<!--<div class="btn-group btn-group-vertical" data-toggle="buttons" ng-init="visType = 'chart'">-->
									<!--<label class="btn btn-default btn-block" title="показать диаграммы ответов">-->
										<!--<input class="btn" type="radio" name="options" id="option1" ng-model="visType" btn-radio="'chart'" > <i class="fa fa-bar-chart" aria-hidden="true"></i>-->
									<!--</label>-->
									<!--<label class="btn btn-default btn-block" title="показать список вопросов с ответами">-->
										<!--<input class="btn" type="radio" name="options" id="option2" ng-model="visType" btn-radio="'list'"> <i class="fa fa-list" aria-hidden="true"></i>-->
									<!--</label>-->
									<!--<label class="btn btn-default btn-block" title="показать результаты по студентам">-->
										<!--<input class="btn" ng-model="visType" btn-radio="'students'" type="radio" name="options" id="option3"> <i class="fa fa-user" aria-hidden="true"></i>-->
									<!--</label>-->
								<!--</div>-->
								<!--<div class="btn-group btn-group-vertical" ng-init="visType = 'chart'">-->
									<!--<label class="btn btn-default btn-block" title="показать диаграммы ответов" ng-model="visType" btn-radio="'chart'"><i class="fa fa-bar-chart" aria-hidden="true"></i></label>-->
									<!--<label class="btn btn-default btn-block" title="показать список вопросов с ответами" ng-model="visType" btn-radio="'list'"><i class="fa fa-list" aria-hidden="true"></i></label>-->
									<!--<label class="btn btn-default btn-block" title="показать результаты по студентам" ng-model="visType" btn-radio="'students'"><i class="fa fa-user" aria-hidden="true"></i></label>-->
								<!--</div>-->
							</div>
							<!--<div class="quiue-item-sort">-->
								<!--<div class="btn-group" ng-show="visType == 'byQuestions'" ng-init="visSubType = 'chart'">-->
									<!--<label class="btn btn-default" ng-model="visSubType" btn-radio="'chart'" title="диаграммы по вопросам"><i class="fa fa-bar-chart" aria-hidden="true"></i></label>-->
									<!--<label class="btn btn-default" ng-model="visSubType" btn-radio="'list'" title="список всех вопросов"><i class="fa fa-list" aria-hidden="true"></i></label>-->
								<!--</div>-->
								<!--<input name="quize-sort" checked="checked" type="radio" ng-model="visType" ng-value="'byQuestions'" id="quize-sort-1" class="iq-forms iq-radio radio-quize-sort">-->
								<!--<label class="iq-forms" for="quize-sort-1">По вопросам</label>-->
							<!--</div>-->
							<!--<div class="quiue-item-sort">-->
								<!--<input name="quize-sort" type="radio" ng-model="visType" ng-value="'byStudents'" id="quize-sort-2" class="iq-forms iq-radio radio-quize-sort">-->
								<!--<label class="iq-forms" for="quize-sort-2">По студентам</label>-->
							<!--</div>-->
							<!--<button class="btn btn-primary pull-right"-->
									<!--ng-click='resume()'-->
									<!--ng-if='presentationMode == false && adminRoom.queue.list.length > 0 && (adminRoom.testState == "cancel" || adminRoom.testState == "finish")'>-->
								<!--Следующий тест-->
							<!--</button>-->
						</div>
						<div class="row" >
							<!-- <div class="text-right">
								<input type="radio" ng-model="visType" ng-value="'byQuestions'" class="btn active">По вопросам</input>
								<input type="radio" ng-model="visType" ng-value="'byStudents'" class="btn active">По студентам</input>
							</div> -->
							<!-- <div class="" style="font-size:22pt;" ng-if="adminRoom.testState != 'active'">
								<div ng-if="adminRoom.testState == 'finish'">Тест завершен</div>
								<div ng-if="adminRoom.testState == 'cancel'">Тест отменен</div>
							</div> -->
							<!--<wordcloud-->
									<!--words="words"-->
									<!--on-click="myOnClickFunction(element)"-->
									<!--on-hover="myOnHoverFunction(element)">-->
							<!--</wordcloud>-->
							<div ng-if="visType == 'chart' || visType == 'list'">
								<questions-results
										test="currentTest.test"
										results="results.questionsResults"
										test-type="currentTest.test.type"
										question = "adminRoom.currentQuestion"
										questions="currentTest.test.questions"
										test-state="adminRoom.testState"
										question-state="adminRoom.questionState"
										users-online="countOfOnlineUsers"
										show-results="showResults"
										vis-type="visType"
								>
									
								</questions-results>
							</div>
							<div ng-if="visType == 'students'">
								<student-results
									questions="currentTest.test.questions"
									users="adminRoom.users"
									test-results="results.testResults"
									test-type="currentTest.test.type"
									on-result-click="showQuestion"
									on-kill-student="killStudent"								
								>
								</student-results>
							</div>
						</div>
					
					<!-- <div class="min-panel text-right" style="margin-top:45px;" >
						<div>
							<button class="btn text-md btn-primary" ng-if='adminRoom.testState == "active" && currentTest.paceMode == 1' ng-click='finishTest()'>ЗАВЕРШИТЬ ТЕСТ</button>
							<button class="btn text-md btn-primary" 
							ng-click='resume()'
							ng-if='adminRoom.queue.list.length > 0 && (adminRoom.testState == "cancel" || adminRoom.testState == "finish")'>
								СЛЕДУЮЩИЙ ТЕСТ
							</button>
						</div>
					</div> -->
					<!--<div class="queue-item-cancel col-xs-12">-->
						<!--<div class="min-panel text-center">-->
							<!--&lt;!&ndash;<button class="btn text-md btn-primary pull-left" ng-if='presentationMode == false && adminRoom.testState == "active"' ng-click='cancelTest()'>Отменить тест</button>&ndash;&gt;-->
							<!--&lt;!&ndash;<button class="btn text-md btn-primary pull-right" ng-if='presentationMode == false && adminRoom.testState == "active" && currentTest.paceMode == 1' ng-click='finishTest()'>Завершить тест</button>&ndash;&gt;-->
							<!--<button class="btn text-md btn-primary"-->
							<!--ng-click='resume()'-->
							<!--ng-if='presentationMode == false && adminRoom.queue.list.length > 0 && (adminRoom.testState == "cancel" || adminRoom.testState == "finish")'>-->
								<!--Следующий тест-->
							<!--</button>-->

						<!--</div>-->
					<!--</div>-->
					<!-- <div class="row text-right" ng-if='adminRoom.testState == "active" && currentTest.paceMode == 2'>
						<button class="btn" ng-if='adminRoom.questionState == "enabled"' ng-click="finishQuestion()">Завершить вопрос</button>
						<button class="btn" ng-if='adminRoom.questionState == "finished"' ng-click="enableNextQuestion()">Следующий вопрос</button>
					</div> -->
					</div>
				</div>
			</div>
		</article>
	</main>



<br>
<!-- TEST EXPLORER -->

<script type="text/ng-template" id="explorerModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Добавить в очередь <i class="text-right fa fa-times queue-item-delete" ng-click="cancel()"></i></h3>
        </div>
        <div class="modal-body">

			<div ng-show="fsState == 'loading'">
				<span class="fa fa-circle-o-notch fa-spin fa-2x"></span>
			</div>
			<div ng-show="fsState == 'failed'">
				Ошибка загрузки
			</div>
			<ol class="breadcrumb">
				<li ng-repeat='pathItem in explorer.folder.path' >
					<a href='' ng-if="$index > 0" ng-click='openFolder(pathItem.folder_id)'>{{pathItem.name}}</a>
					<a href='' ng-if="$index == 0 && explorer.folder.path.length > 1" ng-click='openFolder(pathItem.folder_id)'>корень</a>
				</li>
			</ol>
			<div class="list-group">
				<a href=""
				   class="list-group-item"
				   ng-if="explorer.folder.path.length > 1"
				   ng-click="explorerClick({item_type: 0, folder_id: explorer.folder.path.slice(-2,-1)[0].folder_id})"
				>
					..
				</a>
				<a href =""
				   		ng-repeat='item in explorer.folder.list | orderBy:"item_type"'
						class="list-group-item"
						ng-click="explorerClick(item);"
						ng-class="{'active': addedTests[item.test_id],
						}"
				   		ng-if="!(item.item_type != 0 && item.questions == 0)"
				>
						<span class="fa fa-folder-open" ng-if="item.item_type == 0" aria-hidden="true"></span>
						<span class="fa"
							  ng-class="{
							  'fa-spin fa-circle-o-notch': waitForQueue == item,
							  'fa-list': waitForQueue != item
							  }"
							  ng-if="item.item_type == 1 || item.item_type == 2" aria-hidden="true"></span>
						{{item.name}}
						<!--<i ng-show="waitForQueue == item" class="fa fa-spin fa-circle-o-notch "></i>-->
						<small ng-if="addedTests[item.test_id]" class="pull-right">добавлен</small>
				</a>
			</div>
        </div>
        <!--<div class="modal-footer">-->
            <!--<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>-->
        <!--</div>-->
</script>


<script type="text/ng-template" id="testModal.html">
	<div class="modal-header">
		<h3 class="modal-title">{{test.name}}</h3>
	</div>
	<div class="input-group">
		<span class="input-group-addon" id="sizing-addon2">Таймер</span>
		<input type="text" class="form-control" placeholder="" aria-describedby="sizing-addon2" ng-model="overrideTimer">
	</div>
	<div class="input-group">
		<span class="input-group-addon" id="sizing-addon2">Перемешать вопросы?</span>
		<div class="btn-group" role="group" aria-label="...">
			<button type="button" class="btn btn-default" ng-model="overrideRandom" btn-radio="false">нет</button>
			<button type="button" class="btn btn-default" ng-model="overrideRandom" btn-radio="true">да</button>
		</div>
	</div>
	<div class="modal-footer">
			<button class="btn btn-primary pull-left" type="button" ng-click="cancel()">Отмена</button>
			<button class="btn btn-primary pull-right" type="button" ng-click="ok()">OK</button>
    </div>
</script>

<script type="text/ng-template" id="viewQuestionModal.html">
	<div class="modal-header">
		<div class="row">
			<div class="col-xs-6"><h3>Просмотр результатов {{user.first_name}} {{user.second_name}}</h3></div>
			<div class="col-xs-6 text-right"><i class="fa fa-times queue-item-delete" ng-click="ok()"></i></div>
		</div>
	</div>
	<div class="container-fluid">
	<h3>Вопрос</h3>
		<div class="row">
			<div class="col-xs-12">
				<div class="well responsive-question-content" ng-bind-html='question.text'></div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-6 table-responsive">
				<table class="table">
					<tr>
						<th>Ответ пользователя</th>
					</tr>
					<tr ng-repeat="answer in result.answers">
						<td
						ng-class="{
							'info': testType == 1,
							'success': answer.correct && testType == 0,
							'danger': !answer.correct && testType == 0,
						}">
							<div>
								{{answer.text}}
							</div>
						</td>
					</tr>
				</table>
			</div>
			<div class="col-xs-6 table-responsive">
				<table class="table">
					<tr>
						<th>Ответы на вопрос</th>
					</tr>
					<tr ng-repeat="answer in question.answers">
						<td ng-class="{
							'info': testType == 1,
							'success': (answer.correct || question.type == 2) && testType == 0,
							'danger': !answer.correct && question.type != 2 && testType == 0,
						}">
							{{answer.text}}
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="accessSettingsModal.html">
	<div class="modal-header">
		<h3>Настройки доступа<i class="fa fa-times queue-item-delete pull-right" ng-click="cancel()"></i></h3>
	</div>
	<div class="modal-body">
	<div class="container-fluid">
	<!--<button class="btn btn-warning" ng-if="adminRoom.config.status == true" ng-click="changeStatus(false)">Деактивировать</button>-->
		<!--<button class="btn btn-primary" ng-if="adminRoom.config.status == false" ng-click="changeStatus(true)">Активировать</button>-->
		<div class="panel panel-default">
			<div class="panel-heading">Тип доступа</div>
			<div class="list-group">
				<button class="list-group-item"
					btn-radio="0"
					ng-model="settings.access">
					Анонимный вход
				</button>
				<button class="list-group-item"
					btn-radio="1"
					ng-model="settings.access">
					Обязательно имя
				</button>
				<button class="list-group-item"
					btn-radio="2"
					ng-model="settings.access">
					Обязательная авторизация (соц.сети)
				</button>
			</div>
		</div>
		<!--<div class="row">-->
		<!--<div class="col-md-6 col-xs-6">-->
			<!--<div class="input-group">-->
				  <!--<span class="input-group-addon" >Пароль комнаты</span>-->
				  <!--<input type="text" class="form-control" placeholder="" ng-model='settings.password'/>-->
			<!--</div>-->
		<!--</div>-->
		<!--</div>-->
	</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary pull-right" type="button" ng-click="ok()">OK</button>
    </div>
</script>

<script type="text/ng-template" id="viewGroupModal.html">
	<div class="modal-header">
		<h3>Просмотр вопроса</h3>
	</div>
	<tabset>
		<tab ng-repeat="question in group.questions" heading="{{$index+1}}">
			<div class="container-fluid">
				<h3>Вопрос</h3>
				<div class="row">
					<div class="col-xs-12">
						<div class="well responsive-question-content' ng-bind-html='question.text'"></div>
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12 table-responsive">
					<table class="table">
						<tr>
							<th>Ответы</th>
						</tr>
						<tr ng-repeat="answer in question.answers">
							<td
							ng-class="{
								'success': (answer.correct || question.type == 2),
								'danger': !answer.correct && question.type != 2,
							}">
								<div>
									{{answer.text}}
								</div>
							</td>
						</tr>
					</table>
					</div>
				</div>
			</div>
		</tab>
	</tabset>
</script>

<script type="text/ng-template" id="viewOnlineUsersModal.html">
	<div class="modal-header">
		<h3>Подключенные пользователи</h3>
	</div>
	<div class="list-group" >
			<div class="list-group-item" ng-repeat="user in users" ng-if="user.del_reason == null">
				{{user.first_name}} {{user.second_name}}
				<a class="pull-right" href="" ng-click='killStudent(user.workingUser_id)'>Удалить</a>
			</div>
	<!-- <table>
		<tr ng-repeat="user in users" ng-if="user.del_reason == null">
			<td><button class="btn" ng-click='killStudent(user.workingUser_id)'>x</button></td></td>
			<td>{{user.first_name}} {{user.second_name}}</td>
		</tr>
	</table> -->
	</div>
	<br>
	<div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">Закрыть</button>
    </div>
</script>

<!--<script type="text/ng-template" id="popoverContent.html">-->
	<!--<div>Для подключения введите код <b>{{adminRoom.config.url}} на <b>inqz.ru</b><br>или используйте <b>inqz.ru/{{adminRoom.config.url}}</b></div>-->
<!--</script>-->

<script type="text/ng-template" id="popoverContent.html">
	<div>
		Для подключения <br>введите код <b>{{adminRoom.config.url}}</b> на <b>inqz.ru</b> <br> или используйте <b> <a href="http://inqz.ru/{{adminRoom.config.url}}" target="_blank">inqz.ru/{{adminRoom.config.url}}</a></b>
	</div>
</script>

<script type="text/ng-template" id="userPopoverTemplate.html">
	<div style="height: 300px;">
		<div id="user-list" class="queue-wrapper" >
		<ul class="queue row" style="margin:0">
		<div class="list-group text-dark-blue" >
		<li ng-repeat="user in adminRoom.users" ng-if="user.del_reason == null">
		<div class="queue-item">

		<div class="queue-item-delete">
		<i class="fa fa-times" aria-hidden="true" ng-click="killStudent(user.workingUser_id)"></i>
		</div>
		<div class="user-item">
		<span ><i class="fa fa-circle text-green" aria-hidden="true"></i></span>
		{{user.first_name}} {{user.second_name}}
		</div>
		</div>
		</li>
		</div>
		</ul>
		</div>
	</div>
</script>