﻿<div class="container-fluid">
	<div class='row'>
	<div class="col-xs-12"><div class="text-left">
		<h3>Комната № <b>{{adminRoom.config.url}}</b></h3>
		<a href="" ng-click="editAccessSettings()">Настройки доступа</a>
	</div></div>
	<div class="col-xs-12"><tabset>
		<tab heading="Тестирование">
			<div class="panel panel-primary">
				<div class="panel-heading">Тестирование</div>
					<div class="panel-body">
					<div ng-if='adminRoom.currentTest.test == null'>
						<p>Активных тестов нет</p>
					</div>
					<div ng-if='adminRoom.currentTest.test != null' class="container-fluid">
						<div class="row"><div class="col-xs-12">
							<h3>
								<div ng-if="currentTest.test.type == 0">Текущий тест</div>
								<div ng-if="currentTest.test.type == 1">Текущий опрос</div>
							</h3>
						</div></div>
						<div class="row">
							<div class="col-xs-6 text-left">
								<b>{{adminRoom.currentTest.test.name}}</b>
							</div>
							<div class="col-xs-6">
								<div class="text-right" ng-if='adminRoom.testState == "active"'>активен</div>
								<div class="text-right" ng-if='adminRoom.testState == "finish"'>завершен <span class="fa fa-check"></div>
								<div class="text-right" ng-if='adminRoom.testState == "cancel"'>отменен <span class="fa fa-remove"></div>
							</div>
						</div>
						<div class="row"><div class="col-xs-12 text-right">
							<p><a  href="#/report/view/stream/{{currentTest.streamId}}">Посмотреть итоги</a></p>
						</div></div>
					</div>
					<div class="row" ng-if='adminRoom.testState == "active"'>
							<div class="col-xs-12">
								<button type="button" class="btn btn-success btn-block" ng-click='finishTest()'>Завершить <span class="fa fa-check"></span></button>
								<button type="button" class="btn btn-danger btn-block" ng-click='cancelTest()'>Отменить <span class="fa fa-remove"></span></button>
								<!-- <input ng-model="adminRoom.currentTest.test.override.timer"></input> <button ng-click="override({timer: adminRoom.currentTest.test.override.timer, type: null})">o</button> -->
							</div>
						</div>
					
					<div ng-if='adminRoom.queue.list.length > 0 && adminRoom.testState != "active"'>
						<div class='text-right'>
							<button type="button" class="btn btn-primary btn-lg" ng-click='resume()' ng-if='adminRoom.testState == null'>Начать</button>
							<button type="button" class="btn btn-primary btn-lg" ng-click='resume()'
							ng-if='adminRoom.testState == "cancel" || adminRoom.testState == "finish"'>Продолжить</button>		
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">Очередь <span class="badge text-right">{{adminRoom.queue.list.length}}</span></div>
				<div ng-if="adminRoom.queue.list.length > 0">
					<div class="list-group">
						<a class="list-group-item" ng-repeat="test in adminRoom.queue.list" ng-click="editTest(test, $index+1)">
							<button type="button" class="btn" ng-click="deleteTest($index+1,test.test_id)">x</button>
							<span class="badge">{{test.override.timer || test.timer}} сек.</span>
							{{test.name}}
						</a>
					</div>
				</div>
			</div>
			<div class="text-right "><button class='btn btn-default' ng-click='openExplorer()'>Добавить тест</button></div>
		</tab>
		<tab heading="Результаты">
			<div><!-- class="panel panel-primary" -->
				<!-- <div class="panel-heading">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-10 col-md-10">
								Результаты
							</div>
							<div class="col-xs-2 col-md-2 text-right">
								<button class="btn btn-md btn-default"
									ng-class="{'disabled': reconnectState == 'reconnecting'}"
									ng-click="refresh()">
									<i class="fa fa-refresh" ng-if="reconnectState != 'reconnecting'"></i>
									<i class="fa fa-refresh fa-spin" ng-if="reconnectState == 'reconnecting'"></i>
								</button>
								
							</div>
						</div>
					</div>
				</div> -->
				<!-- <div class="panel-body"> -->
				
					<tabset>
						<tab heading="По вопросам">
							<questions-results
								results="results.questionsResults"
								test-type="currentTest.test.type"
							>
							</quiz-results>
						</tab>
						<tab heading="По студентам">
							<student-results
								questions="currentTest.test.questions"
								users="adminRoom.users"
								test-results="results.testResults"
								test-type="currentTest.test.type"
								on-result-click="showQuestion"
								on-kill-student="killStudent"								
							>
							</student-results>
						</tab>
					</tabset>
				
				</div>
			</div>
		</tab>
	</tabset></div>
	</div>
</div>


<br>
<!-- TEST EXPLORER -->

<script type="text/ng-template" id="explorerModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Выберите тесты</h3>
        </div>
        <div class="modal-body">
			<ol class="breadcrumb">
				<li ng-repeat='pathItem in explorer.folder.path' ><a href='' ng-click='openFolder(pathItem.folder_id)'>{{pathItem.name}}</a></li>
			</ol>
			<div class="list-group">
				<button ng-repeat='item in explorer.folder.list' class="list-group-item" ng-click="explorerClick(item)">
					<span class="fa fa-folder-open" ng-if="item.item_type == 0" aria-hidden="true"></span>
					<span class="fa fa-list" ng-if="item.item_type == 1 || item.item_type == 2" aria-hidden="true"></span>
					{{item.name}}
				</button>
			</div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        </div>
</script>

<script type="text/ng-template" id="accessSettingsModal.html">
	<div class="modal-header">
		<h3>Настройки доступа комнаты</h3>
	</div>
	<div class="container-fluid">
		<div class="panel panel-default">
			<div class="panel-heading">Тип доступа</div>
			<div class="list-group">
				<button class="list-group-item"
					btn-radio="0"
					ng-model="settings.access">
					Анонимный вход
				</button>
				<button class="list-group-item"
					btn-radio="1"
					ng-model="settings.access">
					Обязательно имя
				</button>
				<button class="list-group-item"
					btn-radio="2"
					ng-model="settings.access">
					Обязательная авторизация
				</button>
			</div>
		</div>
		<div class="row">
		<div class="col-md-6 col-xs-12">
			<div class="input-group">
				  <span class="input-group-addon" >Пароль комнаты</span>
				  <input type="text" class="form-control" placeholder="" ng-model='settings.password'/>
			</div>
		</div>
		</div>
	</div>
	<div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
		<button class="btn btn-primary" type="button" ng-click="cancel()">Отмена</button>
    </div>
</script>

<script type="text/ng-template" id="testModal.html">
	<div class="modal-header">
		<h3 class="modal-title">{{test.name}}</h3>
	</div>
	<div class="input-group">
		<span class="input-group-addon" id="sizing-addon2">Таймер</span>
		<input type="text" class="form-control" placeholder="сек." aria-describedby="sizing-addon2" ng-model="overrideTimer">
	</div>
	<div class="input-group">
		<span class="input-group-addon" id="sizing-addon2">Тип теста</span>
		<div class="btn-group" role="group" aria-label="...">
			<button type="button" class="btn btn-default" ng-model="overrideType" btn-radio="0">Тест</button>
			<button type="button" class="btn btn-default" ng-model="overrideType" btn-radio="1">Опрос</button>
		</div>
	</div>
	<div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
			<button class="btn btn-primary" type="button" ng-click="cancel()">Отмена</button>
    </div>
</script>

<script type="text/ng-template" id="viewQuestionModal.html">
	<div class="modal-header">
		<h3>Просмотр результатов {{user.first_name}} {{user.second_name}}</h3>
	</div>
	<div class="container-fluid">
	<h3>Вопрос</h3>
		<div class="row">
			<div class="col-xs-12">
				<div class="well responsive-question-content" ng-bind-html='question.text'></div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-6">
				<table class="table">
					<tr>
						<th>Ответ пользователя</th>
					</tr>
					<tr ng-repeat="answer in result.answers">
						<td
						ng-class="{
							'success': answer.correct,
							'danger': !answer.correct,
						}">
							{{answer.text}}
						</td>
					</tr>
				</table>
			</div>
			<div class="col-xs-6">
				<table class="table">
					<tr>
						<th>Ответы на вопрос</th>
					</tr>
					<tr ng-repeat="answer in question.answers">
						<td ng-class="{
							'success': answer.correct || question.type == 2,
							'danger': !answer.correct && question.type != 2,
						}">
							{{answer.text}}
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
	</div>
</script>