<!-- <div ng-controller="AlertErrorCtrl"> -->
  <alert style="position: absolute;top: 50%; left:25%" ng-if='errorAlert' type="{{errorAlert.type}}" close="closeErrorAlert()" ><div ng-bind-html="errorAlert.msg"></div></alert>
<!-- </div> -->