﻿<!--<header class="bg-dark-blue" ng-controller="HeaderBarCtrl">-->
		<!--<div class="top-menu">-->
			<!--<div class="navbar" ng-if='profile.username != null'>-->
				<!--<div class="col-xs-7 full-height">-->
					<!--<div class="nav-logo">-->
						<!--<a href=""><img onerror="this.onerror=null; this.src='../media/icons/logo.png'" src="../media/icons/logo.svg" height="40px"></a>-->
					<!--</div>-->
					<!--<nav class="nav navbar-nav">-->
						<!--<li ng-if="adminRoom.lessonState"><a href="#/room">Урок #{{adminRoom.config.url}} </a></li>-->
						<!--<li><a href="#/lessons">Мои уроки</a></li>-->
						<!--<li><a href="#/manage">Мои тесты</a></li>-->
						<!--<li><a href="#/reports/streams">Отчеты</a></li>-->
					<!--</nav>-->
				<!--</div>-->
				<!--<div class="col-xs-5 full-height" >-->
					<!--<nav class="nav pull-right">-->
						<!--<li ng-if='profile.username != null' dropdown>-->
								<!--<a href="" dropdown-toggle id="profileDropdown">-->
									<!--{{profile.firstName}}<span class="caret"></span>-->
								<!--</a>-->
								<!--<ul class="dropdown-menu bg-dark-blue" >-->
									<!--<li><a href="#/pass" >Сменить пароль</a></li>-->
									<!--<li><a href="" ng-click="logOut()">Выход</a></li>-->
								<!--</ul>-->
						<!--</li>-->
						<!--<li><a href="#/help">Помощь</a></li>-->
						<!--&lt;!&ndash;<li ng-if='profile.username != null'><a href="" ng-click='logOut()'>Выход</a></li>&ndash;&gt;-->
						<!--<li ng-if='profile.username == null'><a href='#/auth'>Вход</a></li>-->
					<!--</nav>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</header>-->
<div ng-controller="HeaderBarCtrl">
<nav class="navbar navbar-default navbar-fixed-top bg-dark-blue" ng-if='profile.username != null'>
	<div class="container-fluid" >
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header" ng-init="col = true">
			<button type="button" class="navbar-toggle collapsed" ng-click="col = !col" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href=""><img onerror="this.onerror=null; this.src='../media/icons/logo.png'" src="../media/icons/logo.svg" height="40px"></a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" collapse="col">
			<ul class="nav navbar-nav">
				<li ng-if="adminRoom.lessonState"><a href="#/room">Событие #{{adminRoom.config.url}} </a></li>
				<li><a href="#/lessons">События</a></li>
				<li><a href="#/manage">Библиотека</a></li>
				<!--<li><a href="#/reports/streams">Отчеты</a></li>-->
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li ng-if='profile.username != null' dropdown>
					<a href="" dropdown-toggle id="profileDropdown">
					Профиль<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" >
					<li><a href="#/pass" >Сменить пароль</a></li>
					<li><a href="" ng-click="logOut()">Выход</a></li>
					</ul>
				<li></li>

				<!--<li ng-if='profile.username != null'><a href="" ng-click='logOut()'>Выход</a></li>-->
				<li ng-if='profile.username == null'><a href='#/auth'>Вход</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
</div>