<div ng-controller="TutorialBarCtrl" >
    <div class="tutorial-widget" ng-if="tutorial.current"
        ng-click = "showTutorial()"
    >
        <span class="fa fa-question fa-2x" aria-hidden="true"></span>
    </div>
</div>
