﻿<main>
<article class="reports">
<div class='container'>
	<div class="row">
		<div class="col-xs-6
			col-lg-3 col-lg-offset-3
			col-md-3 col-md-offset-4
			">
				<h2 class="">Изменение пароля</h2>
			</div>
		<!--<div class="col-xs-6 text-right-->
			<!--col-lg-3-->
			<!--col-md-3-->
		<!--">-->
			<!--<p>-->
				<!--<a href="#/profile" ng-click="view = 'profile'"><i class="fa fa-user"></i> к профилю</a>-->
			<!--</p>-->
		<!--</div>-->
		<div
		class="col-xs-12
		col-lg-6 col-lg-offset-3
		col-md-6 col-md-offset-4
	">
		<form>
		  <div class="form-group"
			ng-class="{
				'has-error': passwordErrorObject.currentPassword != null,
			}"
		  >
			<label class="control-label " for="exampleInputCurrentPassword">
				Старый пароль
				<small ng-show="passwordErrorObject.currentPassword == 'empty'">не может быть пустым!</small>
				<small ng-show="passwordErrorObject.currentPassword == 'wrong'">неправильный!</small>
			</label>
			<input type="password" ng-model='profile.currentPassword' class="form-control" id="exampleInputCurrentPassword" >
		  </div>
		  <div class="form-group"
				ng-class="{
					'has-error': passwordErrorObject.newPassword != null,
				}"
		  >
			<label class="control-label " for="exampleInputNewPassword">
				Новый пароль
				<small ng-show="passwordErrorObject.newPassword == 'empty'">не может быть пустым!</small>
				<small ng-show="passwordErrorObject.newPassword == 'wrong'">содержит недопустимые символы!</small>
			</label>
			<input type="password" ng-model='profile.newPassword' class="form-control" id="exampleInputNewPassword">
		  </div>
		  <div class="text-right">
			<button type="submit" class="btn btn-primary btn-lg" ng-click='changePassword()'
			ng-class="{
				'disabled': passwordChanging || passwordChanged,
			}"
			>
			<div ng-show="!passwordChanged">Изменить <i ng-show="passwordChanging" class="fa fa-circle-o-notch fa-spin"></i></div>
			<div ng-show="passwordChanged">Изменен</div>
			</button>
			</div>
		</form>
	</div>
	</div>
</div>
</article>
</main>