﻿<main>
	<article class="reports">
<div class='container'>
	<div class="row">
		<div class="col-xs-6
			col-lg-3 col-lg-offset-3
			col-md-3 col-md-offset-4
			">
				<h2>Профиль</h2>
			</div>
		<div class="col-xs-6 text-right
			col-lg-3
			col-md-3
		">
			<p>
				<a href="#/pass"><i class="fa fa-key"></i> Сменить пароль</a>
			</p>
		</div>
	</div>
	<!--<div class='row'>-->
	<!--<div -->
		<!--class="col-xs-12-->
		<!--col-lg-6 col-lg-offset-3-->
		<!--col-md-6 col-md-offset-4-->
		<!--">-->
		<!--<form>-->
		  <!--<div class="form-group"-->
		  <!--ng-class="{-->
			<!--'has-error': profileErrorObject.firstName != null,-->
		  <!--}"-->
		  <!--&gt;-->
			<!--<label class="control-label" for="exampleInputFirstName">-->
				<!--Имя-->
				<!--<small ng-show="profileErrorObject.firstName == 'empty'">не может быть пустым!</small>-->
				<!--<small ng-show="profileErrorObject.firstName == 'wrong'">содержит недопустимые символы</small>-->
			<!--</label>-->
			<!--<input type="text" class="form-control" id="exampleInputFirstName" placeholder="Имя"-->
				<!--ng-model='profile.firstName' ng-change="profileSaved = false">-->
		  <!--</div>-->
		  <!--<div class="form-group"-->
		  <!--ng-class="{-->
			<!--'has-error': profileErrorObject.secondName != null,-->
		  <!--}"-->
		  <!--&gt;-->
			<!--<label class="control-label" for="exampleInputSecondName">-->
				<!--Фамилия-->
				<!--<small ng-show="profileErrorObject.secondName == 'wrong'">содержит недопустимые символы</small>-->
			<!--</label>-->
			<!--<input type="text" class="form-control" id="exampleInputSecondName" placeholder="Фамилия"-->
				<!--ng-model='profile.secondName' ng-change="profileSaved = false"-->
			<!--&gt;-->
		  <!--</div>-->
		  <!--<div class="text-right"><button type="submit" class="btn btn-primary btn-lg" ng-click='saveProfileInfo()'-->
		  <!--ng-class="{-->
			<!--'disabled': profileSaved || profileSaving,-->
		  <!--}"-->
		  <!--&gt;-->
			<!--<div ng-show="!profileSaved">Сохранить <i ng-show="profileSaving" class="fa fa-circle-o-notch fa-spin"></i></div>-->
			<!--<div ng-show="profileSaved">Сохранен</div>-->
		<!--</button></div>-->
		<!--</form>-->
	<!--</div>-->
	<!---->
	<!--</div>-->
	<div class="row">
		{{profile.firstName}} - {{profile.secondName}}
	</div>
	</div>
	</article>
</main>
