<div class="modal-header">
    <div class="row">
    <div class="col-xs-6"><h3 class="modal-title">Новый урок</h3></div>
    <div class="col-xs-6 text-right"><i class="fa fa-times queue-item-delete" ng-click="cancel()"></i></div>
    </div>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="title-text">Тема урока</label>
                <input type="text" ng-model="title" class="form-control" id="title-text" placeholder="введите тему урока">
            </div>
            <div class="form-group">
                <label for="title-text">Описание <small>(необязательно)</small></label>
                <textarea class="form-control" ng-model="description" rows="3"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">

    <button class="btn btn-primary pull-right" type="button" ng-click="ok()">Начать</button>
</div>