<main class="bg-white">
    <article class="reports">
        <div class="container" ng-show="state == 'initializing'">
            <p> Загрузка <i class="fa fa-circle-o-notch fa-spin"></i></p>
        </div>
        <div class="container" ng-show="state == 'initialized'">
            <div class="row">
                <div class="col-xs-6">
                    <h2 ng-if="adminRoom.lessonState == null">Нет активного события</h2>
                    <h2 ng-if="adminRoom.lessonState == 'active' || adminRoom.lessonState == 'finish'">Текущее событие</h2>
                </div>
                <div class="col-xs-6 text-right" ng-if="adminRoom.lessonState == null || adminRoom.lessonState == 'finish'">
                    <p><button class="btn btn-default btn-lg"
                               title="создать новое событие"
                               ng-click="startLesson()">
                        <i class="fa fa-plus"></i>
                    </button></p>
                </div>
            </div>
            <div class="row" ng-if="adminRoom.lessonState != null">
                <div class="col-xs-12"><div class=" btn-block well" ng-show="adminRoom.lessonState == 'active' || adminRoom.lessonState == 'finish'"
                        ng-class="{
                     'bg-green-75': adminRoom.lessonState == 'active',
                     'bg-dark-grey': adminRoom.lessonState == 'finish'
                     }"
                >
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-2 text-left">
                                <a href="#/room" >Событие #{{adminRoom.config.url}}</a>
                            </div>
                            <div class="col-xs-2 text-left">
                                <span ng-show="adminRoom.currentLesson.title">{{adminRoom.currentLesson.title}}</span>
                                <span ng-show="!adminRoom.currentLesson.title">без названия</span>
                            </div>
                            <div class="col-xs-2">{{countOfOnlineUsers}} чел.</div>
                            <div class="col-xs-3 text-center">
                                <span ng-if="adminRoom.lessonState == 'active'">сейчас</span>
                                <span ng-if="adminRoom.lessonState == 'finish'">завершен</span>
                            </div>
                            <div class="col-xs-2 text-right">{{timer | date: 'HH:mm:ss':'+0000'}}</div>
                            <a href class="col-xs-1 text-right queue-item-delete"
                                    ng-class="{'disabled': endingLesson}"
                                    ng-if="adminRoom.lessonState == 'active'" ng-click="endLesson()"
                                    title="завершить событие"
                                    >
                            <span class="fa-1x"
                                  ng-class="{
                                        'fa fa-times': !endingLesson,
                                         'fa fa-circle-o-notch fa-spin': endingLesson
                                  }">
                            </span>
                            </a>
                        </div>
                    </div>
                </div></div>
            </div>
            <h2>Прошедшие события</h2>
            <div class="reports-content col-xs-12" ng-repeat="lesson in lessonsReports.lastLessons">
                <div class="well row text-center bg-info" >
                    <div class="col-xs-2">{{lesson.begin_time*1000 | date:'dd / MM / yy'}}</div>
                    <div class="col-xs-2">{{lesson.begin_time*1000 | date: 'HH:mm'}}</div>
                    <div class="col-xs-5 text-left">
                        <a href="#/reports/lesson/{{lesson.lesson_id}}">
                            <span ng-if="lesson.title">{{lesson.title}}</span>
                            <span ng-if="!lesson.title">Событие</span>
                        </a>
                    </div>
                    <div class="col-xs-3 text-right">
                        <div class="row">
                            <div class="col-xs-6 text-left" title="количество пользователей">
                                <i class="fa fa-user"></i> {{lesson.users}}
                            </div>
                            <div class="col-xs-6 text-left" title="количество активностей">
                                <i class="fa fa-file-text-o"></i> {{lesson.streams}}
                            </div>
                            <!--<div class="col-xs-4 text-left">-->
                                <!--<div dropdown title="скачать данные">-->
                                    <!--<a href dropdown-toggle>-->
                                        <!--<i class="fa fa-download"></i><i class="fa fa-caret-down"></i>-->
                                    <!--</a>-->
                                    <!--<ul class="dropdown-menu dropdown-menu-right" >-->
                                        <!--<li><a href=""><i class="fa fa-file-excel-o"></i> Excel</a></li>-->
                                        <!--<li><a href=""><i class="fa fa-file-code-o"></i> JSON</a></li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="numOfLessons > lessonsReports.lastLessons.length"
                class="row text-center">
                <a href ng-show="!loadingLessons"
                        class="" ng-click="getLastLessons()">показать еще...
                </a>
            </div>
            <div class="row text-center" ng-show="loadingLessons">
                <i class="fa fa-circle-o-notch fa-spin fa-3x">
                </i>
            </div>
            <br>

            <!--<div class="reports-content">-->
                <!--<div class="row">-->
                    <!--<div class="col-xs-12 col-md-12">-->
                        <!--<div class="table-responsive " >-->
                            <!--<table class="table  " ng-repeat="lesson in lessonsReports.lastLessons">-->
                                <!--<tr>-->
                                    <!--<td class="text-center"><span>{{lesson.begin_time*1000 | date:'dd / MM / yy'}}</span></td>-->
                                    <!--<td class="text-center">{{lesson.begin_time*1000 | date: 'HH:mm'}}</td>-->
                                    <!--<td></td>-->
                                    <!--<td class="text-center">-->
                                        <!--<a href="#/reports/lesson/{{lesson.lesson_id}}">-->
                                            <!--<span ng-if="lesson.title">{{lesson.title}}</span>-->
                                            <!--<span ng-if="!lesson.title">Событие {{numOfLessons-$index}}</span>-->
                                        <!--</a>-->
                                    <!--</td>-->
                                    <!--<td class="text-right"><i class="fa fa-user"></i> {{lesson.users}}</td>-->
                                    <!--<td class="text-right"><i class="fa fa-file-text-o"></i>  {{lesson.streams}}</td>-->
                                <!--</tr>-->
                                <!--<tr ng-if="$index == 0">-->
                                    <!--<td class="text-center">Тест</td>-->
                                    <!--<td class="text-center">{{lesson.begin_time*1000 | date: 'HH:mm'}}</td>-->
                                    <!--<td></td>-->
                                    <!--<td class="text-center">-->
                                        <!--<a href="#/reports/lesson/{{lesson.lesson_id}}">-->
                                            <!--<span ng-if="!lesson.title">Факты о Санкт-Петербурге</span>-->
                                        <!--</a>-->
                                    <!--</td>-->
                                    <!--<td class="text-right"><i class="fa fa-user"></i> {{lesson.users}}</td>-->
                                    <!--<td class="text-right"><i class="fa fa-file-text-o"></i>  {{lesson.streams}}</td>-->
                                <!--</tr>-->
                            <!--</table>-->
                            <!--<div ng-if="numOfLessons > lessonsReports.lastLessons.length">-->
                                <!--<button ng-if="!loadingLessons"-->
                                        <!--class="btn btn-default btn-lg btn-flat btn-block" ng-click="getLastLessons()">показать еще...-->
                                <!--</button>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div ng-if="loadingLessons" class="text-center">-->
                            <!--<i class="fa fa-circle-o-notch fa-spin fa-3x"></i>-->
                        <!--</div>-->

                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
            <!--<div class="reports-content">-->
                <!--<div class="row">-->
                    <!--<div class="col-xs-12 col-md-12">-->
                        <!--<div class="table-responsive " >-->
                            <!--<table class="table table-hover ">-->
                                <!--<tr>-->
                                    <!--&lt;!&ndash;<th>Урок</th>&ndash;&gt;-->
                                    <!--<th>№</th>-->
                                    <!--<th>Дата</th>-->
                                    <!--<th>Время</th>-->
                                    <!--<th>Название</th>-->
                                    <!--&lt;!&ndash;<th>Описание</th>&ndash;&gt;-->
                                    <!--<th>Тестов</th>-->
                                    <!--<th>Пользователей</th>-->
                                <!--</tr>-->
                                <!--<tr ng-repeat="lesson in lessonsReports.lastLessons">-->
                                    <!--<td>{{numOfLessons-$index}}</td>-->
                                    <!--<td><span style="white-space: nowrap;">{{lesson.begin_time*1000 | date:'dd / MM / yy'}}</span></td>-->
                                    <!--<td>{{lesson.begin_time*1000 | date: 'HH:mm:ss'}} - {{lesson.end_time*1000 | date: 'HH:mm:ss'}}</td>-->
                                    <!--<td style="width:20%;"><a href="#/reports/lesson/{{lesson.lesson_id}}">-->
                                        <!--<span ng-if="lesson.title">{{lesson.title}}</span>-->
                                        <!--<span ng-if="!lesson.title">Без названия</span>-->
                                    <!--</td>-->
                                    <!--&lt;!&ndash;<td>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<div>&ndash;&gt;-->
                                            <!--&lt;!&ndash;{{lesson.description}}&ndash;&gt;-->
                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</td>&ndash;&gt;-->
                                    <!--<td>{{lesson.streams}}</td>-->
                                    <!--<td>{{lesson.users}}</td>-->
                                <!--</tr>-->
                            <!--</table>-->
                            <!--<div ng-if="numOfLessons > lessonsReports.lastLessons.length">-->
                                <!--<button ng-if="!loadingLessons"-->
                                        <!--class="btn btn-default btn-lg btn-flat btn-block" ng-click="getLastLessons()">показать еще...-->
                                <!--</button>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div ng-if="loadingLessons" class="text-center">-->
                            <!--<i class="fa fa-circle-o-notch fa-spin fa-3x"></i>-->
                        <!--</div>-->

                    <!--</div>-->
                <!--</div>-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        </div>
    </article>
</main>