﻿<!-- <alert ng-if='authAlert' type='{{authAlert.type}}'>{{authAlert.msg}}</alert> -->

<!--<div class="container-fluid" style="">-->
	<!--<div class="row">-->
		<!--<div class="col-lg-4 col-lg-offset-4-->
			<!--col-md-6 col-md-offset-2-->
			<!--col-xs-12"-->
			<!--ng-show="!logged"-->
			<!--&gt;-->
			<!--<p class="text-center"><img onerror="this.onerror=null; this.src='../media/icons/logo.png'" src="../media/icons/logo.svg" ><small class="text-white" style="vertical-align: bottom;">β</small></p>-->
			<!--<p class="text-orange text-center" ng-show="authAlert">{{authAlert.msg}}</p>-->
			<!--<form>-->
				<!--<div class="form-group">-->
					<!--<label for="InputPassword" class="text-white">Введите промо-код</label>-->
					<!--<input type="text" class="form-control input-lg" id="InputPassword" placeholder="" ng-model='input.promo'>-->
				<!--</div>-->
				<!--<div class="form-group">-->
					<!--<label for="InputLogin" class="text-white"> Укажите E-mail<small> (это будет Ваш логин)</small></label>-->
					<!--<input type="text" class="form-control input-lg" id="InputLogin" placeholder="" ng-model='input.username'>-->
				<!--</div>-->
				<!--<div class="form-group">-->
					<!--<label for="InputPassword" class="text-white">Укажите пароль</label>-->
					<!--<input type="password" class="form-control input-lg" id="InputPassword" placeholder="" ng-model='input.password'>-->
				<!--</div>-->
				<!--<div class="form-group">-->
					<!--<label for="InputPassword" class="text-white">Укажите Ваше имя</label>-->
					<!--<input type="text" class="form-control input-lg" id="InputFirstName" placeholder="" ng-model='input.firstName'>-->
				<!--</div>-->
				<!--<div class="form-group">-->
					<!--<label for="InputPassword" class="text-white">Укажите Вашу фамилию</label>-->
					<!--<input type="text" class="form-control input-lg" id="InputSecondName" placeholder="" ng-model='input.secondName'>-->
				<!--</div>-->
				<!--<div class='pull-right'>-->
					<!--<button type="submit" class="btn btn-primary btn-lg" ng-click='logIn()'-->
					<!--ng-class="{'disabled': login || logged}"-->
					<!--&gt;-->
						<!--Регистрация<i class="fa " ng-class="{'fa-circle-o-notch fa-spin':login}"></i>-->
					<!--</button>-->
				<!--</div>-->
			<!--</form>-->
		<!--</div>-->

		<!--<div class="col-lg-4 col-lg-offset-4-->
			<!--col-md-4 col-md-offset-4-->
			<!--col-xs-12"-->
			<!--ng-if="logged"-->
		<!--&gt;-->
			<!--<h2 class='text-white' ng-if="loadingProfile">Загружается профиль...<span class="fa fa-circle-o-notch fa-spin"></span></h2>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->

<div class="container-fluid
			col-xl-4
 			col-lg-5 col-lg-offset-4
			col-md-4 col-md-offset-4
			col-sm-4 col-sm-offset-4
			col-xs-8 col-xs-offset-2">

	<div class="row">
		<p class="text-center"><a href="https://instaquiz.ru"><img onerror="this.onerror=null; this.src='../media/icons/logo.png'" src="../media/icons/logo.svg" ></a><small class="text-white" style="vertical-align: bottom;">β</small></p>
		<p class="text-orange text-center" ng-show="authAlert">{{authAlert.msg}}</p>
	</div>
	<div class="text-white">
		Регистрация
	</div>
	<div class="well signin-box">
		<div class="row">
			<div class="col-xs-4"><a ng-href="{{social.vk}}" class="social-flat-btn social-btn-vk">
					<span class="social-btn-logo">
						<img style="width:25px;height:25px" class="social-btn-logo" src="../media/icons/auth/vk-social-network-logo.svg">
					</span>
					<span class="social-btn-text">
						ВКонтакте
					</span>
			</a>
			</div>
			<div class="col-xs-4">
				<a ng-href="{{social.google}}" class="social-flat-btn social-btn-google">
						<span class="social-btn-logo">
							<img style="width:25px;height:25px" class="social-btn-logo" src="../media/icons/auth/google_1.svg">
						</span>
						<span class="social-btn-text">
							Google
						</span>
				</a>
			</div>
			<div class="col-xs-4">
				<a ng-href="{{social.fb}}" class="social-flat-btn social-btn-facebook">
						<span class="social-btn-logo">
							<img style="width:25px;height:25px" class="social-btn-logo" src="../media/icons/auth/facebook_1.svg">
						</span>
						<span class="social-btn-text">
							Facebook
						</span>
				</a>
			</div>
		</div>
		<div class="row">
			<p style="text-align:center;">или</p>
		</div>
		<div class="row">
			<form class="signin-form">
				<div class="form-group">
					<label for="InputLogin" class="text-white">E-mail<small> (это будет Ваш логин)</small></label>
					<input type="text" class="form-control input-lg" id="InputLogin" placeholder="" ng-model='input.username'>
				</div>
				<div class="form-group">
					<label for="InputPassword" class="text-white">Пароль</label>
					<input type="password" class="form-control input-lg" id="InputPassword" placeholder="" ng-model='input.password'>
				</div>
				<div class='text-center'>
					<br>
					<button type="submit" class="btn btn-primary btn-lg signup-submit-btn" ng-click='logIn()'
							ng-class="{'disabled': login || logged}"
					>
						Создать аккаунт<i class="fa " ng-class="{'fa-circle-o-notch fa-spin':login}"></i>
					</button>
				</div>
			</form>
		</div>
	</div>
	<div class="well signin-box text-center">
		<span>Уже есть аккаунт? <a href="#/auth">Войдите</a></span>
	</div>
</div>