<main>
		<div class="queue-item-bar quize"
			 ng-class="{
			 	'bg-red': saveFailed,
			 	'': !saveFailed,
			 }"
		>
		<div ng-if="state == 'loading'">Загрузка вопроса...</div>
		<div ng-if="state == 'failed'">Ошибка загрузки...</div>
		<div ng-if="state == 'loaded'">
			<div class="col-xs-6" ng-if="saveFailed">
				<span style="font-size: 20px;">Ошибка: {{saveFailed}}</span>
			</div>
			<div class="col-xs-6" ng-if="!saveFailed">
				<div class="overflowed-text">
					<span ng-if="test.test.type == 0"> Тест</span>
					<span ng-if="test.test.type == 1">Опрос</span>
					<span>&quot;{{test.test.name}}&quot;
					</span>
					<!--<i class="interactive-element fa fa-pencil text-left" aria-hidden="true"-->
					   <!--ng-click="renameTest()"></i>-->
				</div>
			</div>
			<div class="col-xs-4 full-height text-sm">

				<div class="col-xs-7">
					<span>Лимит времени</span>
				</div>
				<div class="col-xs-5">
					<input class="text-sm" type="text" style="width:50px;" ng-model='test.test.timer' ng-change='test.testInfoChanged("timer")'><span>сек</span>
				</div>
				<div class="col-xs-7">
					<span>Перемешать вопросы</span>
				</div>
				<div class="col-xs-5">
					<input id="shuffle-questions" type="checkbox" class="iq-checkbox" ng-model='test.test.random' ng-change='test.testInfoChanged("random")'>
					<label class="iq-forms text-md font-arial font-arial" for="shuffle-questions"></label>
				</div>
			</div>
			<div class="text-right col-xs-2 full-height">
				<button class="btn text-md btn-primary" ng-class="{'disabled': test.saved || saving}" ng-click='save()'>
					<div ng-if="test.saved">Сохранен</div>
					<div ng-if="!test.saved && !saving">Сохранить изменения</div>
					<div ng-if='!test.saved && saving'>Сохранение...<span class="fa fa-circle-o-notch fa-spin"></span></div>
				</button>
			</div>
		</div>
		</div>

		<!-- <div ng-if="state == 'loading'">
				<h1>Загрузка теста...</h1>
		</div>
		<div ng-if="state == 'failed'">
			<h1>Ошибка загрузки теста</h1>
		</div> -->
		<aside class="control-bar quize pull-left" id="left-bar" style="width:260px"
			   ng-if="state =='loaded'"
		>
			<div class="queue-wrapper quize" id="groups-list" ng-if="list.groups.length > 0">
				<ul class="queue row" style="margin:0" >
					<group-content
						group = "group"
						selected-group="selectedGroup"
						error="error"
						on-delete="delGroup"
						on-copy="copyGroup"
						on-move-up="moveGroupUp"
						on-move-down="moveGroupDown"

						ng-drop="true" ng-drop-success="onDropComplete($index, $data, $event)"

						ng-drag-start="onDragStart()"
						ng-repeat='group in list.groups'
						ng-click="changeGroup(group)"
					>
					</group-content>

				</ul>
			</div>
			<!-- <div id="group-add" class="queue-item-add text-center bg-space-orange text-white" ng-click="addGroup()"> -->
			<div id="group-add" class="btn btn-primary btn-block text-md text-center" ng-click="addGroup()">
				<span class="queue-add-fullname"><strong class="queue-add-label">Добавить вопрос</strong></span>
			</div>
		</aside>

		<article class="" style="padding: 0px 0px 0px 260px;" >

			<div class="content" ng-if="state == 'loading'">Загрузка содержимого...</div>
			<div class="content" ng-if="state == 'loaded'" style="padding-left: 0px; margin-left:-1px;">
				<!--<alert style="position: fixed;  z-index: 3; width: 80%;"-->
					   <!--ng-if='saveFailed' close="closeAlert()" type="danger">Ошибка сохранения: {{saveFailed}}</alert>-->
				<div ng-if="selectedGroup">
					<!-- Nav tabs -->
					<tabset>
					<tab ng-repeat='question in selectedGroup.questions' ng-show="test.test.type == 0">
						<tab-heading ng-class="{'bg-danger': question == error.question}" >
							<div >Вариант {{$index+1}}
							<a href=""
							class="interactive-element"
							ng-if="selectedGroup.questions.length > 1"
							ng-click='delQuestion(question.question_id)'><i class="fa fa-times-circle"></i></a></div>
						</tab-heading>
						<div class="tab-content">
							<div class="tab-pane active" id="quize-opt-1">
								<div class="text-right" ng-if="test.test.type == 0">
									<a href="" class="interactive-element" title="копировать вариант"
									   ng-click='copyQuestion(selectedGroup.group_id, question.question_id)'><i class="fa fa-clone"></i></a>
								</div>
								<question-content
									question="question"
									on-data-changed="dataChanged"
								>
								</question-content>
								<!-- <div ng-bind-html="question.text"></div> -->
								<!-- QUESTION TYPE SELECTOR -->
								<div class="quize-opt-type min-panel row">
									<div class="col-xs-12">
										<label class="quize-opt-type-title">Ответы:</label>
										<input ng-model="question.type" ng-value="0" ng-change='dataChanged("question",question.question_id,"type")'
											name="quize-opt-type-{{question.question_id}}-1" checked="checked" type="radio" id="quize-opt-type-{{question.question_id}}-1" class="iq-forms iq-radio radio-quize-sort">
										<label class="iq-forms" for="quize-opt-type-{{question.question_id}}-1">
											<span ng-if="test.test.type == 0">один правильный</span>
											<span ng-if="test.test.type == 1">один ответ</span>
										</label>
										<input ng-model="question.type" ng-value="1" ng-change='dataChanged("question",question.question_id,"type")'
											name="quize-opt-type-{{question.question_id}}-2" type="radio" id="quize-opt-type-{{question.question_id}}-2" class="iq-forms iq-radio radio-quize-sort">
										<label class="iq-forms" for="quize-opt-type-{{question.question_id}}-2">
											<span ng-if="test.test.type == 0">несколько правильных</span>
											<span ng-if="test.test.type == 1">несколько ответов</span>
										</label>

										<span > <!-- ng-if="test.test.type == 0" -->
											<input ng-model="question.type" ng-value="2" ng-change='dataChanged("question",question.question_id,"type")'
												name="quize-opt-type-{{question.question_id}}-3" type="radio" id="quize-opt-type-{{question.question_id}}-3" class="iq-forms iq-radio radio-quize-sort">
											<label  class="iq-forms" for="quize-opt-type-{{question.question_id}}-3">свободный ввод</label>
										</span>
									</div>
								</div>
								<!-- END -->
								<!-- ANSWERS -->
								<div class="quize-opt-answers min-panel row" ng-if="!(test.test.type == 1 && question.type == 2)">
									<div class="quize-opt-answer col-xs-8" ng-repeat='answer in question.answers'>
										<div class="quize-opt-answer-right col-xs-1" ng-if="test.test.type == 0 && question.type != 2">
											<input id="quize-opt-answer-{{question.question_id}}-{{$index}}" ng-model='answer.correct' ng-change='dataChanged("answer",answer.answer_id,"correct")' type="checkbox" class="iq-forms iq-checkbox">
											<label class="iq-forms text-xxl" for="quize-opt-answer-{{question.question_id}}-{{$index}}"></label>
										</div>
										<div ng-class="{
										'col-xs-10': question.type != 2,
										'col-xs-11': question.type == 2
										}">
											<input type="text" class="form-control" ng-class="{'panel-danger': answer == error.answer}" ng-model='answer.text' ng-change='dataChanged("answer",answer.answer_id,"text")'>
										</div>
										<div class="col-xs-1"><a href="" class="answer-delete" ng-click='delAnswer(answer.answer_id)'><i class="fa fa-times" aria-hidden="true" aria-label='удалить'></i></a></div>
									</div>
									<div class="quize-opt-answer col-xs-7">
										<a href="" class="interactive-element" ng-click='addAnswer(question.question_id)'>добавить ответ</a>
									</div>
								</div>
								<!-- END -->
							</div>
						</div>
					</tab>

					<div style="padding-top: 10px;">
						<a href="" class="interactive-element" ng-click='addQuestion(selectedGroup.group_id)' ng-if="test.test.type == 0">
							<span class="fa fa-plus" aria-hidden="true" aria-label='добавить'></span>
						</a>
					</div>
							<!--<button class="btn" ng-click='addQuestion(selectedGroup.group_id)' ng-if="test.test.type == 0">-->
								<!--<span class="fa fa-plus" aria-hidden="true" aria-label='добавить'></span>-->
							<!--</button>-->

					</tabset>
				</div>
				<div ng-if="!selectedGroup">
					<div class="container">
					<h3>Еще нет ни одного вопроса</h3>
					</div>
				</div>
			</div>
		</article>
	</main>
 <!-- <div ng-repeat='group in list.groups'>
	{{group.position}}) group_id: {{group.group_id}}
	<button ng-click='delGroup(group.group_id)'>-</button>
	<button ng-click='addQuestion(group.group_id)'>+</button>
	<div ng-repeat='question in group.questions'>
		--question_id: {{question.question_id}}<br>
		--<input type="text" ng-model='question.text' ng-change='dataChanged("question",question.question_id,"text")'></input>
		<input type="radio" name="question{{question.question_id}}_type" value='1' ng-model='question.type' ng-change='dataChanged("question",question.question_id,"type")'/>закрытый</input>
		<input type="radio" name="question{{question.question_id}}_type" value='2' ng-model='question.type' ng-change='dataChanged("question",question.question_id,"type")'/>открытый</input>
		<button ng-click='delQuestion(question.question_id)'>-</button>
		<div ng-repeat='answer in question.answers'>
		----answer_id: {{answer.answer_id}} {{answer.correct}}<br>
		----<input  type='text' ng-model='answer.text' ng-change='dataChanged("answer",answer.answer_id,"text")'></input>
			<input
				ng-if='test.test.type == 0'
				type="checkbox"
				name="answer{{answer.answer_id}}_correct"
				value='true'
				ng-model='answer.correct'
				ng-change='dataChanged("answer",answer.answer_id,"correct")'>
			</input>
			<button ng-click='delAnswer(answer.answer_id)'>-</button>
		</div>
		----<button ng-click='addAnswer(question.question_id)'>+</button>
	</div>
</div>
<button type='button' ng-click='addGroup()'>add group</button><br>
<button ng-click='save()'>save</button><br> -->
<!-- gid: <input type="text" ng-model='groupId'></input>
pos: <input type='text' ng-model='position'></input>
<button type='button' ng-click='replace(groupId, position)'>replace q</button> -->



