﻿<alert ng-if='authAlert' type='{{authAlert.type}}'>{{authAlert.msg}}</alert>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4
			col-md-4 col-md-offset-4
			col-xs-12"
			ng-if="!logged"
			>
			<h2>Авторизация</h2>
			<div class="col-xs-4"><a ng-href="{{social.vk}}" class="social-flat-btn social-btn-vk">
				<span class="social-btn-logo">
					<img style="width:25px;height:25px" class="social-btn-logo" src="../media/icons/auth/vk-social-network-logo.svg">
				</span>
				<span class="social-btn-text">
					ВКонтакте
				</span>
			</a>
			</div>
			<div class="col-xs-4">
				<a ng-href="{{social.google}}" class="social-flat-btn social-btn-google">
					<span class="social-btn-logo">
						<img style="width:25px;height:25px" class="social-btn-logo" src="../media/icons/auth/google_1.svg">
					</span>
					<span class="social-btn-text">
						Google
					</span>
				</a>
			</div>
			<div class="col-xs-4">
				<a ng-href="{{social.fb}}" class="social-flat-btn social-btn-facebook">
					<span class="social-btn-logo">
						<img style="width:25px;height:25px" class="social-btn-logo" src="../media/icons/auth/facebook_1.svg">
					</span>
					<span class="social-btn-text">
						Facebook
					</span>
				</a>
			</div>
			<form>
				<div class="form-group">
					<label for="InputLogin">Логин</label>
					<input type="text" class="form-control input-lg" id="InputLogin" placeholder="email" ng-model='input.username'>
				</div>
				<div class="form-group">
					<label for="InputPassword">Пароль</label>
					<input type="password" class="form-control input-lg" id="InputPassword" placeholder="Пароль" ng-model='input.password'>
				</div>
				<div class='text-right'>
					<button type="submit" class="btn btn-primary btn-lg" ng-click='logIn()'
					ng-class="{'disabled': login || logged}"
					>
						Вход <span ng-if="login" class="fa fa-circle-o-notch fa-spin"></span>
					</button>
				</div>
			</form>
		</div>
		<div class="col-lg-4 col-lg-offset-4
			col-md-4 col-md-offset-4
			col-xs-12"
			ng-if="logged"
		>
			<h2 ng-if="loadingProfile">Загружается профиль...<span class="fa fa-circle-o-notch fa-spin"></span></h2>
		</div>
	</div>
</div>